[2017-11-24 15:48] nicofrand opened #1 "Apps list: display the number of trackers and permissions for each app"
In the apps list (https://reports.exodus-privacy.eu.org/reports/apps/) it would be great if for each app I could see how many trackers are requested and how many permissions asked, without clicking on the app's link, for the latest report (I guess there might be 1 report/version ?).

This could be displayed a bit like bootstrap's badges, with counters https://getbootstrap.com/docs/4.0/components/b

[2017-11-24 15:53] nicofrand opened #2 "Apps list: allow to filter apps"
Following https://github.com/Exodus-Privacy/exodus/issues/1, it would be great if we could filter the apps in https://reports.exodus-privacy.eu.org/reports/apps/.

I'd like to be able to:

* display only the apps that have at least 1 tracker, or the contrary, 0 trackers (to see which apps seem better)
* define a list of trackers and display only the apps that use at least one of the trackers defin

[2017-11-24 15:59] nicofrand opened #3 "Apps list: display app's full name"
The full name of an app should be displayed instead of a truncated name.
Example with Groupon:

![exodus-groupon](https://user-images.githubusercontent.com/3419050/33217506-9284b5fe-d138-11e7-8590-9fb03da57c84.png)

I guess the title is truncated to respect the grid, so, ideally the fullname would be in the HTML and be truncated only by CSS, that would allow to search the fullname. Then a title at

[2017-11-24 20:12] stonfute opened #4 "settings.py empty"
It's necessary to put password in settings file, but the file is empty.

[2017-11-25 07:38] stonfute commented on #4
A template should be added

[2017-11-26 22:44] wildmechanix opened #7 "Sorting APPs and Trackers"
When landing on [reports zone](https://reports.exodus-privacy.eu.org/reports/)
UX could be improved.

I'm suggesting to keep the split between trackers and reports on top nav, but without the dropdown.

I would love to be able to sort APPs by:
* date (default: latest to oldest)
* number of trackers identified
* usual alphanumerical

A sortable table with a fixed header using jquery would do the jo

[2017-11-27 11:47] nicofrand opened #8 "Same permission appears several times"
On this report https://reports.exodus-privacy.eu.org/reports/381/ the `android.permission.ACCESS_NETWORK_STATE` appears several times (3 times actually).

It kind of modifies my perception of an app to see that it asks so many permissions whereas some of them are actually duplicates.

[2017-11-28 14:27] walrus543 opened #9 "List of DNS queries"
Hi,
I didn't check all app reports but I only found a list of DNS queries for this app: https://reports.exodus-privacy.eu.org/reports/67/

It would be appreciated to have the list of all DNS queries (related to trackers) you notice during the tests. It will help users to block them through the hosts file.

Thank you.

[2017-11-28 21:00] stonfute commented on #4
Fixed by https://github.com/Exodus-Privacy/exodus/commit/1aa789f71799a3a38610e56983be6883dff95cd7

[2017-11-28 21:00] #4 closed, assigned to nobody

[2017-11-29 16:32] nicofrand opened #10 "Report view: group app permissions together"
It would be nice in a report to sort all the permissions by "group".

For example in https://reports.exodus-privacy.eu.org/reports/235/, all "android.permission" permissions first (always), then "samsung.permission", then amazon permissions etc..

[2017-11-29 16:43] nicofrand opened #11 "Report view : display a description of each tracker"
For each tracker, I would like to see its description, for example when having the cursor over its name, or a title on the right of it (why not a "?" in a circle).

By description I mean what appears in the "About" section here : https://reports.exodus-privacy.eu.org/reports/440/.

[2017-11-30 13:33] iacchi opened #12 "Cannot access admin page to login"
Hi, I've installed exodus following the instructions in the readme file (except I have postres 9.5 rather than 9.6) and everything went ok: minio is running and the web interface of exodus as well. However, if I try to access the admin page to login, I'm not taken there. The URL on the address bar is that of the admin page, but the page content is the same of the home page. Django reports this whe

[2017-11-30 15:13] iacchi commented on #12
The same happens in the official website: https://reports.exodus-privacy.eu.org/admin

[2017-11-30 15:53] UgoM commented on #12
don't forget the '/' at the end of https://reports.exodus-privacy.eu.org/admin/ :)

[2017-11-30 23:08] iacchi commented on #12
Thank you, this did the trick indeed. Thank you for preparing the patch, too!

[2017-11-30 23:08] #12 closed, assigned to nobody

[2017-11-30 23:23] iacchi opened #14 "gplaycli.conf is not created by the installation process"
When trying to analyse an application after installing exodus, the "Unable to analyze the APK file" is always returned. Looking at the erorr log of the worker, the issue is that there is no gplaycli.conf file in ~/.config/gplaycli (actually, the whole gplaycli folder doesn't exist). This means that the config file is not created either during installation or runtime. I have no idea what the config

[2017-12-02 13:40] U039b commented on #14
Hi! Sorry for this issue. The `~/.config/gplaycli/gplaycli.conf` file should contain that:
[code]
I will add a note in the `README.md`.

[2017-12-02 13:43] U039b commented on #10
Let me know if it is better now: https://reports.exodus-privacy.eu.org/reports/480/ :)

[2017-12-02 13:46] nicofrand commented on #10
That's great thanks !

[2017-12-02 13:46] #10 closed, assigned to nobody

[2017-12-02 18:00] U039b commented on #9
Hi!
Automating the network analysis is a feature we have in our backlog but this feature is huge.

[2017-12-02 18:00] #9 closed, assigned to nobody

[2017-12-03 13:50] iacchi opened #15 "Own installation of exodus fetches different apk compared to the official exodus report"
I've managed to install and run my own installation of exodus but something weird is happening. First I tried to run the test on a few app that were not on the official report, then I tried another one that was on the report to see if there was any difference - and there is!
The app is Viber (com.viber.voip). In the official exodus report it's been tested on the 12th of November and the tested ver

[2017-12-03 13:52] iacchi opened #16 "Allow upload of apks"
This is an enhacement request, rather than a bug. It would be nice to allow the exodus test to run on an apk uploaded locally, rather than fetched from Google Play. This has nothing to do with illegal stuff, but not all apps are on the Google Play and it would be nice to be able to test those as well.

[2017-12-03 13:53] iacchi commented on #14
Thank you, this fixed it, I'm now able to run the exodus test myself. A note in the readme file would be indeed nice for others.

[2017-12-03 13:53] #14 closed, assigned to nobody

[2017-12-03 14:01] U039b commented on #14
Note added here https://github.com/Exodus-Privacy/exodus#gplaycli-refuses-to-download-apk.

[2017-12-03 14:07] iacchi opened #17 "Local installation unable to find trackers"
I've run a test with an app that on the exodus report is full of trackers (okcupid): https://reports.exodus-privacy.eu.org/reports/49/ on my own installtion of exodus. The version in the official report is 8.11.1 while the one I just tested is 8.12.0. In the official report there are 7 trackers in the app, while my installation cannot detect any. Even if the app version is not the same, I doubt th

[2017-12-03 14:13] U039b commented on #15
Hi,
It is an issue due to device compatibility checks done on Google Play side. Google Play always gives the latest version of an application which is compatible with the `android_ID` + device specifications. You can tweak `gplaycli` with the `-dc` option allowing you to specify another device. The list of known devices can be found in the file `exodus/venv/lib/python3.5/site-packages/gpapi/device

[2017-12-03 14:17] U039b commented on #17
That's because there is no tracker in the database. You can add trackers in the administration panel http://127.0.0.1:8000/admin/ . Browse the [trackers list](https://reports.exodus-privacy.eu.org/trackers/) to find code and network signature for each tracker.

[2017-12-03 14:19] iacchi commented on #17
ok, I thought the installation came at least with those included in the official report! Shouldn't this be part of the initial installation? It's going to be a huge lot of adding work for everyone, otherwise. Is there a somewhat automated way of doing so?

[2017-12-03 14:29] iacchi commented on #15
Thank you for the explanation. The question now is, I guess (I haven't found to much information in the gplaycli page): how to include the -dc option inside the exodus script? Can it be set inside the gplaycli config file? Moreover: wouldn't it be better if the script could be pre-configured to run emulating a recent device, so that the latest version is always downloaded? I'm sure you have a diff

[2017-12-03 15:18] U039b commented on #17
It is not well documented yet but it is possible to import dummy data, see https://github.com/Exodus-Privacy/exodus#how-to-import-another-database
Dummy data is not a mirror of data in production.

[2017-12-03 15:22] U039b commented on #15
To change the `-dc` option in the code, see https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/exodus/core/apk.py#L67
In fact, we have a "special" configuration in production ;-) For example, you can add a Google account in `playcli.conf`, it could help.

[2017-12-03 17:50] U039b commented on #1
This issue is not totally feasible because the number of trackers embedded in an application depends on the application version. But, it is now done on this view: https://reports.exodus-privacy.eu.org/reports/

[2017-12-03 17:50] #1 closed, assigned to nobody

[2017-12-03 20:53] U039b opened #18 "Correlate the data found between static and dynamic analysis"
Add a way to display if a tracker was found by the static or dynamic or both analysis.

This could to limit the number of false positive when an application includes URL of trackers to protect the user. In this case, the trackers are only found by the static analysis, not by the dynamic analysis.

[2017-12-03 20:55] U039b opened #19 "Add a "Suggest an App" form"
Accepting suggestions could be weighted by the popularity/number of downloads.

[2017-12-03 20:55] U039b opened #20 "Sort applications when tracker(s) was found or not"
Add a sorting criteria in the application listing to sort applications whether one or more trackers was found in it or not. "Trackers Identified" vs. "No Known Trackers".

[2017-12-03 20:56] U039b opened #21 "List leaked data types on each report"
We have to inspect the traffic and determine what kind of data has leaked.

[2017-12-03 20:58] U039b opened #22 "Offer Pi Hole blacklist URL"
[Pi Hole](https://pi-hole.net/) allows the user to add other link to blacklist of [this form](https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts).

We can easy generate this kind of list just by listing domains which are tagged as tracker.

εxodus knows a bunch of domains which are associated to trackers. In Pi Hole, user can add a URL pointing to a blacklist.

The main idea is to ma

[2017-12-03 20:59] U039b opened #23 "Offer an application search engine"
For the moment, there is no way the look for an application report.

We have to offer a small search engine allowing the user to look for an application by its display name or handle.

[2017-12-03 20:59] U039b opened #24 "Analyze UDP traffic"
For the moment we do not analyze the UDP traffic.

We have to analyze the UDP traffic. See [the εxodus core DNS analyzer as example](https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/exodus/core/dns.py).

[2017-12-03 21:02] U039b opened #25 "Detach analysis query submission from the HTTP request"
For the moment, the static analysis blocks the client HTTP request during the duration of the analysis.

The static analysis is started in [the analysis query view](https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/analysis_query/views.py#L22). The static analysis function is defined in [the εxodus core package](https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/exodus/core/apk.py#L228)

[2017-12-04 07:54] walrus543 commented on #9
Then why do you close?

[2017-12-04 10:10] U039b commented on #9
Because this issue is incomplete and duplicates #22 ;)

[2017-12-04 16:54] FabriceSalvaire opened #26 "Could you track FOSS copyright infringement as well ?"
It means report packages / libraries using "fingerprints", and maybe a manual way to warn about missing copyright notice.

Just because an app flooded of ads that don't respect Apache license and probably don't support its dependencies ...

[2017-12-05 14:54] LmarLoe commented on #17
https://seahub.0x39b.fr/d/c17dc0992a/ page is not available

[2017-12-06 16:47] profdiggity commented on #26
This is a really hard problem because of legal interpretation, and license violations are rampant. Also, most of the code in the trackers Exodus is scanning for is either proprietary or under so-called "permissive" licenses that allow practically anything to be done with the code.  The only "hard" requirement is usually attribution of authors. Calling out developers of tracker SDKs for not attribu

[2017-12-06 17:06] profdiggity commented on #11
At Yale Privacy Lab we're working on more tracker "profiles", but it takes more research than it seems at first glance to figure out what the trackers are actually "up to". There will be progress on this front before the New Year, with short descriptions.

[2017-12-06 17:07] #17 closed, assigned to nobody

[2017-12-06 17:13] profdiggity commented on #7
@U039b should I do a pull request? there are plenty of simple jQuery snippets out there for sorting.

[2017-12-06 17:18] U039b commented on #7
Sure! Feel-free to do a pull request ;)

[2017-12-07 11:03] sanpii opened #28 "Link to database broken"
Hello,

At the end of the [README.md](https://github.com/Exodus-Privacy/exodus/blob/d2493bd830b98fa4ba3d8d62a833a8088df9bddb/README.md#how-to-import-another-database), the link to database was broken: https://seahub.0x39b.fr/d/c17dc0992a/

[2017-12-12 20:56] U039b commented on #28
I have to work on providing a sample dataset.

[2017-12-13 13:06] U039b commented on #28
I have added explanations about [trackers definitions import](https://github.com/Exodus-Privacy/exodus/blob/247b33ea55c01e67c086b5fbfe7382289675c111/README.md#how-to-import-trackers-definitions).

[2017-12-13 13:08] sanpii commented on #28
Thank you 😃

[2017-12-13 13:08] #28 closed, assigned to nobody

[2017-12-16 23:48] #25 closed, assigned to nobody

[2017-12-17 16:33] U039b opened #34 "Memory leak in Celery worker"
We notice an increasing consumption of memory. Restarting the Celery worker release the memory.

* Debian Strech
* Python 3.5

The task is defined [here](https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/exodus/core/apk.py#L14).

It appears that task state is not released after task execution. A quick diff on:
* [1st_execution_lsof.txt](https://github.com/Exodus-Privacy/exodus/files/1566002/

[2017-12-17 16:38] JulienPalard commented on #34
Maybe using https://docs.python.org/3/library/tracemalloc.html may help here, to compare allocations of a short-lived process and a long lived one.

[2017-12-19 01:40] U039b commented on #34
I got rid of all `Popen` but Celery still creates extra processes: https://github.com/Exodus-Privacy/exodus/commit/c58c3c29917e2aa8b30d3eb556443a3613ac72ef

![screenshot from 2017-12-19 14-39-56](https://user-images.githubusercontent.com/34188010/34160447-4f805fb2-e4cd-11e7-885e-38d253e4ede0.png)
![screenshot from 2017-12-19 15-13-27](https://user-images.githubusercontent.com/34188010/34160976-520

[2017-12-19 18:14] Jacques-Olivier-Farcy commented on #11
@seandiggity Hi, is there a description somewhere of what could be these tracker "profiles" ?

[2017-12-19 19:30] Jacques-Olivier-Farcy commented on #3
I think a second "displayed name" should be added to each application description. Because the diversity of what is currently automatic seems to me difficult to handle by code. By default it is still possible to take the original name.

[2017-12-20 08:30] mayardb opened #36 "Add apk reupload request"
Since we have read your report about the trackers we are embedding in our app, we have tried to clean our library imports from our gradle build script.

Is there a way to request you to test our new apk ? (I mean, not a manual request but an automated one).

[2017-12-20 09:36] matlink commented on #15
@iacchi Gplaycli and gpapi are both pre-configured to emulate the `bacon` device which is the device giving the most of up-to-date apps.

[2017-12-20 11:08] U039b commented on #36
Since the Christmas feature is totally broken, see #34, you can ask us to submit an analysis of your application (if updated on Google Play). If you want to check your APK without public report, you can use [εxodus standalone](https://github.com/Exodus-Privacy/exodus-standalone).

[2017-12-20 15:54] mayardb commented on #36
When #34 will be fixed I will submit our new apk to see if unwanted trackers have been removed.

Thanks for your work.

[2017-12-20 15:54] #36 closed, assigned to nobody

[2017-12-25 19:17] Phyks opened #37 "Emphasize permissions usage"
Hi,

Thanks for this wonderful analysis tool!

I found an app (Oral-B app) which was requiring location permission, as was found by Exodus and confirmed by running the app.

This was really strange and quite concerning given the nature of the app (no use for location data). However, it pairs with a BLE device and https://stackoverflow.com/questions/41716452/why-location-permission-are-required-for

[2017-12-27 16:53] U039b opened #38 "Add tracker .aar or .jar infos"
Since [LibScout](https://github.com/reddr/LibScout) requires tracker SDK (`.aar` or `.jar`) to work, we have to add following informations for each tracker we know:
* Category
* Maven/Gradle repository
* GroupId
* ArtifactId
* `.aar` or `.jar` direct download link

For example, the maven configuration for Facebook Audience is:
[code]

[2017-12-28 02:01] U039b opened #39 "Androguard failed to decode APK"
Androguard was not able to decode https://reports.exodus-privacy.eu.org/reports/34/

We have to detect failure and use `dexdump` instead.

[code]

Same `UTF-16` issue with
[code]

[code]

[androguard_errors.txt](https://github.com/Exodus-Privacy/exodus/files/1591099/androguard_errors.txt)

[2017-12-28 02:06] U039b opened #40 "Identify new trackers"
In https://reports.exodus-privacy.eu.org/reports/37/:
*  `com/applovin/adview/AppLovinInterstitialAdDialog`
*  `com/avocarrot/sdk/nativeassets/model/NativeAdData`
*  `com/appnext/ads/`
*  `com/inlocomedia/android/ads/AdType`
*  `com/moat/analytics/mobile/aol/NativeVideoTracker`
*  `com/mopub/common/GpsHelper`
*  `com/nativex/monetization/mraid/objects/CurrentPosition`
*  `com/unity3d/ads/android/U

[2017-12-28 11:28] U039b opened #41 "Display the number of analyzed applications"
Display the number of analyzed applications in the top bar. You can also display the number of known trackers.

[2017-12-28 12:09] U039b commented on #39
A ticket has been issued to Androguard project: https://github.com/androguard/androguard/issues/392

[2017-12-28 14:38] U039b commented on #40
To add a new tracker, follow this schema of description:
[code]

[2017-12-28 14:52] U039b commented on #40
### AppLovin
* Website: https://www.applovin.com/
* Comment: AppLovin is a mobile advertising technology company that enables brands to create mobile marketing campaigns that are fueled by data.
* Category: Advertising
* Code signature: `com.applovin.`
* Network signature: `applovin\.com`
* Maven repository: `NA`
* Artifact ID: `applovin-sdk`
* Group ID: `com.applovin`
* Gradle: `com.applovin:appl

[2017-12-28 19:16] profdiggity commented on #40
trying to untangle Baidu location tracking... the maps and location are so closely related in the code I've seen.

### Baidu Maps
* Website: https://map.baidu.com
* Comment: Baidu is the Web giant in China, the homegrown counterpart to Google.
* Category: Maps, Location
* Code signature: `com.baidu.BaiduMap`
* Network signature: `map.baidu\.com`
* Maven repository: `NA`
* Artifact ID: `NC`
* Group

[2017-12-28 22:04] FMR-R4 opened #42 "Improved browsing experience - sort applications by categorie"
In Report section -> All reports : Available reports.
Creating categories will make it easier to find an app.
Sorting applications by type would, for example, allow you to compare which bank application is the cleanest, etc...

[2017-12-28 22:12] profdiggity commented on #40
A quick note - older versions of Tune tracker use the com.mobileapptracker name for the SDK.

### Tune
* Code signature: `com.tune|com.mobileapptracker`

[2017-12-28 22:57] profdiggity commented on #40
Updates to SafeGraph. Much more detail at https://github.com/YalePrivacyLab/tracker-profiles/blob/master/trackers/SafeGraph.md

### SafeGraph OpenLocate
* Website: https://www.safegraph.com, https://github.com/OpenLocate
* Comment: SafeGraph specializes in the collection of physical location data for data mining and analytics. OpenLocate is the SDK announced in 2017.
* Category: [Location]
* Code

[2017-12-29 00:11] profdiggity commented on #40
### HyperTrack
* Website: http://hypertrack.com, https://github.com/hypertrack
* Comment: HyperTrack implements live location sharing and activity tracking.
* Category: [Maps, Location]
* Code signature: `com.hypertrack.|com.hypertracklive.|io.hypertrack.`
* Network signature: `trck.at|hypertrack\.amazonaws.com|api\.hypertrack\.com`
* Maven repository: `http://hypertrack-android-sdk.s3-website-us-

[2017-12-29 00:44] profdiggity commented on #40
### Uber Analytics
* Website: https://uber.com
* Comment: Uber Analytics tracks location and behavior as part of its suite of apps such as Uber, UberEATS, and Uber Driver.
* Category: Location, Analytics
* Code signature: `com.ubercab.analytics.|com.ubercab.library.metrics.analytics.|com.ubercab.client.core.analytics.`
* Network signature: `events.uber.com`
* Maven repository: `NA`
* Artifact ID:

[2017-12-29 12:32] profdiggity commented on #40
### Lisnr
* Website: http://lisnr.com
* Comment: LISNR tracks users via audio beacons in retail outlets, as well as collecting behavioral data on a mobile device. Retailers broadcast a "Smart Tone" on speaker systems and LISNR reacts to the sound.
* Category: [Audio Beacon, Analytics]
* Code signature: `com.lisnr.|com.lisnr.sdk.`
* Network signature: `lisnr\.com`
* Maven repository: `NA`
* Artifac

[2017-12-29 12:53] profdiggity commented on #40
### SilverPush
* Website: http://silverpush.co, http://silverpush.com
* Comment: SilverPush tracks users via audio beacons in retail outlets, as well as collecting behavioral and location data on a mobile device. Retailers broadcast a ultrasonic tone on speaker systems and SilverPush reacts to the sound.
* Category: [Audio Beacon, Analytics]
* Code signature: `com.silverpush.|com.silverpush.locati

[2017-12-29 13:11] profdiggity commented on #40
### Shopkick
* Website: https://shopkick.com
* Comment: Shopkick tracks users via "shopBeacon" beacons (Apple iBeacons) in retail outlets, as well as collecting behavioral and location data on a mobile device.
* Category: [Audio Beacon, Bluetooth Beacon, Analytics]
* Code signature: `com.shopkick.sdk.api.|com.shopkick.fetchers.`
* Network signature: `shopkick\.com|shopkick\.de|sdk.shopkick.com`
*

[2017-12-29 15:07] profdiggity commented on #40
### Alphonso
* Website: http://alphonso.tv
* Comment: Alphonso listens to audio signals in TV advertisements and is included in games and other apps for children.
* Category: [Audio Beacon, Analytics]
* Code signature: `tv.alphonso.service`
* Network signature: `prov.alphonso.tv|api.alphonso.tv`
* Maven repository: `NA`
* Artifact ID: `NC`
* Group ID: `tv.alphonso`
* Gradle:  `NC`
* Additional lin

[2017-12-29 23:07] profdiggity commented on #40
### Smaato
* Website: https://smaato.com
* Comment: Smaato is a mobile ad platform that includes video ads.
* Category: [Advertising, Analytics]
* Code signature: `com.smaato.soma.`
* Network signature: `soma.smaato.net|smaato.net`
* Maven repository: `NA`
* Artifact ID: `NC`
* Group ID: `com.smaato.soma`
* Gradle:  `NC`
* Additional links: [Smaato SDK Documentation](https://wiki.smaato.com/displa

[2017-12-29 23:24] profdiggity commented on #40
### Scandit
* Website: https://scandit.com
* Comment: Scandit is a barcode scanner SDK that offers real-time analytics ("scanalytics") to track what barcodes users have scanned and profile users for targeted advertising.
* Category: [Barcode Scanner, Analytics]
* Code signature: `com.scandit.`
* Network signature: `scandit\.com`
* Maven repository: `NA`
* Artifact ID: `scanditsdk-android`
* Group

[2017-12-29 23:27] profdiggity commented on #40
we need to decide how to handle / untangle Google Maps and Location services as well.  At the least, the presence of the location services listener should be considered a tracker.

### Google Maps
* Code signature: `com.google.android.gms.maps`

### Google Location Service
* Code signature: `com.google.android.gms.location`

[2017-12-30 09:44] FreebeJan opened #43 "Minio-py version needs to be updated for multipart upload"
When running the latest minio from https://dl.minio.io/server/minio/release/linux-amd64/minio
and then upload a large apk to it I get this error:

`error InvalidPart Order`

It is an issue in the verssion of minio-py that was fixed:
https://github.com/minio/minio-py/issues/594

For me updating minio-py to the latest version fixed the problem - please update the requirements.txt

[2017-12-30 09:48] FreebeJan opened #44 "Androguard installation improvement"
hey you can install androguard automatically using pip and a fixed version tag by adding to the requirements.txt the following line:

git+https://github.com/androguard/androguard.git@v3.1.0-pre.2

where you replace v3.1.0-pre.2 with the version tag you like

[2017-12-30 09:49] FreebeJan commented on #43
Sorry did not see that this was fixed 2 days ago.

[2017-12-30 09:49] #43 closed, assigned to nobody

[2017-12-30 09:55] FreebeJan opened #45 "Documentation does not state how to run the dns/http analysis"
Hey I want to use exodus for a seminar at university but I cannot find instructions on how to run the traffic analysis. Can somebody help?

[2017-12-30 10:15] FreebeJan opened #46 "Exodus static analysis prone to simple tracker obfuscations"
Since the static analysis is just comparing names of classes in the dex file with class names of popular trackers (code_signature) obfuscated trackers will not be discovered by it.

The problem is that simply by renaming the classes you can prevent exodus from finding any tracker.
Developers have incentive to obfuscate their applications beyond making trackers undetectable:

- Protection of intele

[2017-12-31 13:58] U039b commented on #45
Hi!
Here is a Gist which could help you: https://gist.github.com/U039b/70a4bde69edf7fbe9b2179dd34836b98

Once a PCAP file is uploaded, εxodus will automatically analyze it by running these two tasks:
* `analyze_dns`: https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/exodus/core/dns.py#L48
* `analyze_http`: https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/exodus/core/http.py#L12

[2017-12-31 14:18] U039b commented on #46
Hi!
We plan to use [**LibScout**](https://github.com/reddr/LibScout) in the future. But first, we have to get SDKs of all the trackers we know.

See #40.

[2017-12-31 14:21] U039b commented on #19
It is already implemented but not public for the moment because there are bugs in two of εxodus dependencies:
* `Minio`: #34
* `Androguard`: #39

[2018-01-06 12:32] U039b commented on #40
### Inrix
* Website: http://inrix.com/
* Comment: INRIX offers real-time traffic information solutions that help develop traffic data and traffic speed for freeways, highways and arterials.
* Category: Location
* Code signature: `com.inrix.sdk`
* Network signature: `inrix\.com|inrix\.io`
* Maven repository: `NC`
* Artifact ID: `NC`
* Group ID: `NC`
* Gradle: `NC`
* Additional links: [Inrix on Crun

[2018-01-12 22:20] profdiggity commented on #40
### Signal360
* Website: http://www.signal360.com
* Comment: Signal360 (formerly Sonic Notify) is a leader in proximity marketing via audio beacons and bluetooth beacons in sports stadiums, retail outlets, and vending machines.
* Category: [Audio Beacon, Bluetooth Beacon]
* Code signature: `com.signal360.sdk.core.|com.sonicnotify.sdk.core.|com.rnsignal360|`
* Network signature: `signal360\.com|son

[2018-01-15 02:12] ghost commented on #40
Signal360 use the Manchester decoder for logic 1s and 0s. This is probably similar methodology for other audio beacon companies.
http://ww1.microchip.com/downloads/en/AppNotes/01470A.pdf

[2018-01-15 02:21] profdiggity commented on #40
thanks for the heads up, I'm sure you're right about this being the most common method.  Some of these audio beacons use amplitude, but that's very limited (FidZup's method, if we trust the patent applications).  Most seem to use frequency and what they call "frequency shift keying", which is slight changes in frequencies for 0s and 1s.  Hypothetically, they could do much more frequency shifts wit

[2018-01-15 02:26] seandiggity commented on #40
thanks for the heads up, I'm sure you're right about this being the most common method.  Some of these audio beacons use amplitude, but that's very limited (FidZup's method, if we trust the patent applications).  Most seem to use frequency and what they call "frequency shift keying", which is slight changes in frequencies for 0s and 1s.  Hypothetically, they could do much more frequency shifts wit

[2018-01-15 02:26] ghost commented on #40
one technique is this:
pulses of 1ms, for 32 ms duration == 32 bits
clock pulse (carrier-like) between logic 0 and logic 1 frequency serves as centre freq and start bit.
audio as modulated 1s and modulated 0s
20550 to 21000 for logic 0
21000 to 22000 for logic 1

so if the sdk process hears the carrier frequency it can then start listening for the repeated modulated signals, create a historical ca

[2018-01-15 02:33] profdiggity commented on #40
we should talk off-thread, but that's potentially ~24KB per minute at most? something like that?

[2018-01-16 22:31] profdiggity commented on #40
### Byyd (Adfonic)
* Website: http://byyd.com
* Comment: Formerly Adfonic. "Find you target audience using first- and third-party data about users "
* Category: Analytics
* Code signature: `com.adfonic.android.|com.byyd.`
* Network signature: `byyd\.me|byyd-tech\.com|adfonic\.com`
* Maven repository: `NA`
* Gradle:  `NA`
* Group ID: `com.adfonic`
* Gradle:  `NA`
* Additional links:
* Notes:

### M

[2018-01-25 12:16] #44 closed, assigned to nobody

[2018-01-25 12:17] #39 closed, assigned to nobody

[2018-01-26 17:57] profdiggity opened #47 "datatype mismatch in API ("trackers" treated as both string and integer)"
let me know if this issue belongs in [exodus-core](https://github.com/Exodus-Privacy/exodus-core).

via @eighthave -

[2018-01-26 18:09] profdiggity opened #48 "requested changes to URI scheme"
let me know if this issue belongs in [exodus-core](https://github.com/Exodus-Privacy/exodus-core).

via @eighthave -

For now, could "/reports/search/fr.meteo" be used?

In my opinion, the hash would be much better for collaboration with other projects, but we need to think about aliases that are easier to remember than a hash as well.  I would propose using Google Play app handle and version code

[2018-01-26 18:21] profdiggity commented on #40
### Google Usage Stats
* Website: http://google.com
* Comment: Android app usage statistics.
* Category: Usage Statistics
* Code signature: `android.app.usage.UsageStats|android.app.usage.UsageStatsManager`
* Network signature: `NA`
* Maven repository: `NA`
* Gradle:  `NA`
* Group ID: `android.app.usage`
* Gradle:  `NA`
* Additional links: [Usage Stats](https://developer.android.com/reference/andr

[2018-01-30 13:05] eighthave commented on #48
SHA256 and the `fr.meteo` name are the standards across Android things.

The handle is actually known as the Android "Application ID" which is basically the same a Java "Package Name".  So we can leave Google out of it ;-).  That is required, unique ID for Android itself, then it is also used in Google Play, F-Droid, and many other app stores.

Also, do you know about https://androidobservatory.or

[2018-01-30 13:57] profdiggity commented on #48
Right.  Exodus grabs the package from GP using gplaycli, so I was using that terminology... it's a somewhat important distinction because of so many fake scam apps out there.  If we're going to list reports for apps in the Exodus Web UI that are outside of GP, then I think we need to come up with a naming scheme that includes the source (goog play, f-droid repo, manual upload, etc.)  But the Exodu

[2018-01-30 14:32] eighthave commented on #48
Regarding IDs, SHA256 is best for individual files, "Application ID" is for the things claiming to be a specific app (e.g. Firefox is _org.mozilla.firefox_ and fake ones might use that Application ID also), then I guess you need a third kind of ID for the source (F-Droid, Google Play, Amazon, Baidu, Aptoide, etc).  Android Observatory has tried to the do same kind of labeling, so something to look

[2018-01-30 14:45] kheops2713 commented on #40
I just came across Segment (https://segment.com), a tracker that happens to be integrated into Mattermost, a self-hostable chat platform that is very popular now in the FLOSS community.

One of their client, whose use of the data looks the most cynical to me: https://segment.com/customers/xo-group

They do seem to be collecting data from Android as well: https://segment.com/docs/sources/mobile/and

[2018-01-30 15:47] profdiggity commented on #40
Thanks.  We do have Segment listed as a tracker in Exodus, but it would be great if you could provide more detail in this thread so that we can fill out the tracker profile more completely.  Try to take a look at some of the more detailed profiles above, or the ones we did at https://github.com/YalePrivacyLab/tracker-profiles

https://reports.exodus-privacy.eu.org/trackers/62/

[2018-01-30 16:51] profdiggity commented on #48
exactly right Hans.  I think it would be good to have application ID still recorded in the URI, if possible, to make it easier to group together fake scam apps if necessary... e.g. I would have wanted to have a static record of the fake Haven APK scans for posterity, and we've even seen at least one fake F-Droid in Google Play. That would also require the feature request of marking them somehow as

[2018-01-31 16:32] mildis commented on #40
### NewRelic
* Website: https://www.newrelic.com
* Comment: App usage stats
* Category: Analytics
* Code signature: `com.newrelic.agent`
* Network signature: `nr-data.net|newrelic.com`
* Maven repository:
* Artifact ID: `android-agent`
* Group ID: `com.newrelic.agent.android`
* Gradle: `com.newrelic.agent.android:android-agent` `com.newrelic.agent.android:agent-gradle-plugin`
* Additional links:
*

[2018-02-02 19:11] profdiggity commented on #40
Changes to Signal 360:

### Signal360
* Website: http://www.signal360.com
* Comment: Signal360 (formerly Sonic Notify) is a leader in proximity marketing via audio beacons and bluetooth beacons in sports stadiums, retail outlets, and vending machines.
* Category: Audio Beacon, Bluetooth Beacon
* Code signature: `com.signal360|com.sonicnotify|com.rnsignal360|`
* Network signature: `signal360\.com|s

[2018-02-02 20:10] profdiggity commented on #40
### Matomo (Piwik)
* Website: https://matomo.org/mobile
* Comment: Matomo (formerly Piwik) is the leading open-source analytics platform.
* Category: Analytics
* Code signature: `org.piwik|org.piwik.mobile|org.matomo`
* Network signature: `matomo\.org`
* Maven repository: `NA`
* Gradle:  `NA`
* Group ID: `org.piwik`
* Gradle:  `NA`
* Additional links: [Piwik SDK on Github](https://github.com/matom

[2018-02-05 02:34] ghost commented on #40
### Lisnr
add new code signature due to new sdk lib, 6.1.0.0:
* Code signature: com.lisnr.core

[2018-02-05 14:12] profdiggity commented on #40
We've got LISNR here:
https://reports.exodus-privacy.eu.org/trackers/79/

And the related Signal360:
https://reports.exodus-privacy.eu.org/trackers/86/

LISNR and Signal360 have some kind of business relationship, and it shows in apps by developer YinzCam like this one: https://reports.exodus-privacy.eu.org/reports/1351/

The other big LISNR developer is Aloompa.  Please e-mail me with any of thei

[2018-02-05 22:25] Gu1nness opened #49 "libxml2-dev and libxslt1-dev are required."
In order to complete the building process, the two libraries ```libxml2-dev``` and ```libxslt1-dev``` are required for the package lxml (https://github.com/Exodus-Privacy/exodus/blob/v1/requirements.txt#L46 )

Otherwise, the following error is raised \:
[code]

This [commit](https://github.com/Gu1nness/exodus/commit/02f38258f78a9cb30b7c0ad094e4ca565e2998c0) adds both libraries to the packages to b

[2018-02-07 17:41] louison commented on #45
Hi there,

Can you tell me how do you retrieve a pcap file for an Android APK ?

Thank you in advance

[2018-02-07 20:19] U039b commented on #49
Your PR has been merged. Thank you!

[2018-02-07 20:19] #49 closed, assigned to nobody

[2018-02-08 14:01] BillCarsonFr commented on #40
### AppBrain
* Website: https://www.appbrain.com/info/help/sdk/index.html
* Comment: The AppBrain SDK is present in over 50,000 apps and is downloaded onto millions of phones every day. 2 main services: Promotion: pay-per-install based app promotion to drive installs of your Android app. Monetization: earn money with your app using the interstitials and banners of the AppBrain SDK.
* Category: [An

[2018-02-08 14:34] BillCarsonFr commented on #40
### AppAnalytics
* Website: http://appanalytics.io
* Comment: Real-time mobile app analytics for the entire customer lifecycle with event-based analytics, crash analytics, heat map analytics and gesture recognition!
* Category: [Analytics]
* Code signature: `io.appanalytics.sdk`
* Network signature: `?`
* Maven repository: `?`
* Artifact ID: `?`
* Group ID: `?`
* Gradle: `NA`
* Additional links: h

[2018-02-08 14:49] BillCarsonFr commented on #40
### AppSee
* Website: https://www.appsee.com
* Comment: Via user session recordings, touch heatmaps, and single-user journey data, mobile professionals get a complete picture of what’s going on in their app, without having to guess the “whys” behind certain KPIs. Instead of focusing on tracking everything, these tools support an actionable, lean approach to being “data-driven”.
* Category: [Analyt

[2018-02-08 16:14] BillCarsonFr commented on #40
### Countly
* Website: https://count.ly/
* Comment: Countly is the best analytics platform for tracking customer journeys in web, desktop and mobile applications. We process billions of data points every day and help businesses across the globe understand their product usage and act on highly detailed data.
* Category: [Analytics]
* Code signature: `ly.count.android`
* Network signature: `xxx.com`

[2018-02-08 16:28] BillCarsonFr commented on #40
### MixPannel
* Website: https://mixpanel.com
* Comment: We've built the only product analytics platform that lets everyone in your
organization deeply understand each user journey. Get instant insights
and fast iterations throughout your product development process.
* Category: [Analytics]
* Code signature: `com.mixpanel`
* Network signature: `api\.mixpanel\.com|decide\.mixpanel\.com|switchboard\

[2018-02-08 16:42] BillCarsonFr commented on #40
### Apptentive
* Website: https://www.apptentive.com/
* Comment: Build brands customers love by understanding their behavior and expectations
* Category: [Analytics, Engagment]
* Code signature: `com.apptentive`
* Network signature: `?`
* Maven repository: `?`
* Artifact ID: `?`
* Group ID: `?`
* Gradle: `com.apptentive:apptentive-android:5.0.2`
* Additional links: https://github.com/apptentive/ap

[2018-02-13 09:25] dentoir opened #51 "Cannot display output of HTTP/DNS analysis"
Hi there,

I appear to have successfully uploaded a PCAP file via the `connecter.py` script as template, as mentioned in #45. This is the output of the Exodus worker proces

[code]

Where can I now access the results of the analysis? I can't see any new information inside the reports; even though, after glancing the source code, I think that should be there. Browsing the apps on reports.exodus-pri

[2018-02-13 10:11] louison commented on #51
Hi Emile,
This is not totally correlated but what is your strategy to get this PCAP file ?
thank you in advance for you answer

[2018-02-13 12:50] dentoir commented on #51
Hi @LouisonGitzinger

On a Linux gateway behind a Wifi router I've installed and used tcpdump; this produces the PCAP file. Then I've asked the user to use the app to capture the traffic (filtering by the IP address of the mobile phone).

Best,

Eile

[2018-02-14 19:49] sanpii opened #52 "Unable to load trackers after fresh installation"
Hello,

I followed the readme step by step, that works fine (thank you for this great doc).

But when I try to load trackers, I got an error:

[code]

I launch an analyse, and after the command works.

[2018-02-14 21:33] sanpii commented on #40
### Neerby

* Website: http://www.neer.by/
* Comment: Plateforme de retargeting physique
* Category: Analytics
* Code signature: `?`
* Network signature: `api.beaconforstore.com`
* Maven repository: `?`
* Artifact ID: `?`
* Group ID: `?`
* Gradle: `?`
* Additional links: https://www.ezeeworld.com/
* Notes: Found in [com.sogiphar.monpharmaciengiphar](https://reports.exodus-privacy.eu.org/reports/21

[2018-02-24 17:04] jawz101 opened #57 "hosts.txt suggestions"
duplicate entries:
mobileanalytics.*.amazonaws.com
etl.tindersparks.com

Additionally, I've collected a bunch of domains from watching Adaway DNS logs specifically for Android for a few years here
https://github.com/jawz101/MobileAdTrackers/blob/master/hosts

[2018-02-24 23:55] ghost commented on #40
### Carnival
* Website: http://carnival.io/
* Comment: Carnival mobile marketing automation drives app engagement and customer conversions.
* Category: Analytics, Advertising
* Code signature: `com.carnival.sdk, com.carnivalmobile`
* Network signature: `xxx.com`
* Maven repository: `xxx.com`
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: `xxx`
* Additional links: https://devices.carnivalmobile.c

[2018-02-25 00:17] ghost commented on #40
### Taplytics
* Website: https://taplytics.com/
* Comment: Taplytics is an intelligent customer experience cloud specializing in turning first-time users into lifetime customers through magical moments
* Category: Analytics, Advertising
* Code signature: xxx
* Network signature: `xxx.com`
* Maven repository: `xxx`
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: `https://github.com/taplytics/Taply

[2018-02-25 00:25] ghost commented on #40
### Snowplow
* Website: https://snowplowanalytics.com/
* Comment: Cloud-native web, mobile and event analytics, running on AWS and on-premise with Kafka
* Category: Analytics, Trackers
* Code signature: `com.snowplowanalytics , com.snowplowanalytics.snowplow`
* Network signature: `xxx.com`
* Maven repository: `xxx`
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: ``
* Additional links: https://git

[2018-02-25 00:36] ghost commented on #40
### Estimote
* Website: https://estimote.com/
* Comment: Estimote Proximity SDK aims to provide a simple way for apps to react to physical context by reading signals from Estimote Beacons.  Estimote's invisible technology makes things happen magically in the right place and at the right time.
* Category: Beacon, Trackers, Location
* Code signature: `com.estimote.`
* Network signature: `xxx.com`
*

[2018-02-25 00:49] ghost commented on #40
### Adobe
* Website: https://mobilemarketing.adobe.com/
* Comment: Adobe Mobile Services brings together mobile marketing capabilities for mobile applications from across the Adobe Experience Cloud, which allows you to understand and improve user engagement with your mobile applications.
* Category: Advertising, Trackers, Beacon, Location
* Code signature: `com.adobe.mobile`
* Network signature: `

[2018-02-25 04:50] ghost commented on #40
### Radius Networks
* Website: https://www.radiusnetworks.com/
* Comment: Radius Networks offers a wide range of hardware, software and proximity services designed to enable hyper-proximity, micro-location engagement capabilities and analytics in today's leading mobile apps, products and technologies
* Category: Analytics, Tracking, Beacons, Location
* Code signature: `com.radiusnetworks`
* Networ

[2018-02-25 04:59] kaputnikGo commented on #40
### Gimbal
* Website: https://gimbal.com/
* Comment: Gimbal helps brands and agencies perfect their marketing relevance for consumers using physical-world data.
* Category: Analytics, Tracking, Beacons, Location
* Code signature: `com.gimbal`
* Network signature: `xxx.com`
* Maven repository: `xxx.com`
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: ``
* Additional links: https://github.com/gimba

[2018-02-26 13:59] l1git opened #58 "[cosmestic] view # of installation in the tracker reports"
On the tracker report page,
there is a list on the right side that show the available reports of app containing this tracker.
It would be nice to be able to
- see the number of installation of each app from this list.
- sort the list by number of install
- possibly show a total sum

That have a idea of the importance of the tracker and the most important vector of it.
it is cosmetic but as the inf

[2018-02-26 14:44] l1git opened #59 "twitter / facebook meta tags in report"
It could be interesting to have twitter and facebook meta tags in reports allowing for (automatic ) nicer view when posted with url on those medias.

Ideally the bitmap shown would the summary of the report + trackers list.

some side info :
https://blog.vwriter.com/ultimate-guide-to-social-meta-tags-open-graph-and-twitter-cards/
https://www.bruceclay.com/blog/how-to-use-social-meta-tags/
https://

[2018-02-26 14:46] l1git opened #60 "Allow to see the list of app with zero tracker and the list of the ones with the most trackers"
Maybe its a filter in the app page or a dedicated link.

so to help communicating on the shamest list, and also help identify the ones that respect their users.

[2018-02-26 17:15] FMR-R4 opened #61 "Better visibility of virtuous applications with color coding"
Why not use a tricolour code to mark applications. Green for the most respectful, red for the worst.
This could put some pressure on those who decide to monetize our data with bad apps.

[2018-02-26 17:26] l1git commented on #61
there is already a color code with the #trackers  #permission   - from greenish to reddish.  it could be more emphasized though.

On permission imho the color is harder to defined.  Because the number is not always bad and some app genuinely need them.  Some permissions are far more important privacy wise, but still can be genuine.

[2018-02-26 21:14] U039b commented on #51
@dentoir If interesting things were found in the PCAP file, those things are listed in the associated report like this one https://reports.exodus-privacy.eu.org/reports/15/

[2018-02-27 15:51] dentoir commented on #51
Hi @U039b

Thank you, it turns out I can get the external traffic from the PCAP file for `fr.meteo` if I run an analysis on that app. The report does not show the DNS queries, even though they're in there. Could this be the result of the fact that the DNS server was on the LAN IP address where we captured the traffic (192.168.x.x) and not a public IP?

[2018-03-01 08:49] BillCarsonFr commented on #40
### AccountKit
* Website: https://www.accountkit.com/
* Comment: Account Kit helps you quickly register for apps using just your phone number or email address-no password needed. It's reliable, easy to use and gives you a choice about how you sign up for apps.
* Category: [Identification?, Advertising]
* Code signature: `com.facebook.accountkit`
* Network signature: ??
* Maven repository: `N/A`
*

[2018-03-02 23:03] jawz101 commented on #40
since @Atavic referenced this from my host file repo, I don't know if the network signature are what DNS record strings are contained within an app or if its based on what domains are seen in a live test of an app.  If it's based on live traffic, the [host file](https://github.com/jawz101/MobileAdTrackers/blob/master/hosts) on the repo he referenced has a bunch of additional subdomains for some of

[2018-03-03 22:04] ghost opened #62 "List of changed reports"
When we add new trackers in the database exodus will rerun all the reports.
It will be very interesting to have a list of the changed reports. # #

[2018-03-03 23:27] U039b commented on #40
### MAdvertise
* Website: http://madvertise.com
* Comment: xxxx
* Category: Advertising
* Code signature: `com.mngads.sdk|com.mngads.views|com.mngads.`
* Network signature: `NC`
* Maven repository: `NC`
* Artifact ID: `NC`
* Group ID: `NC`
* Gradle: `NC`
* Additional links:
* Notes:

[2018-03-03 23:30] U039b commented on #40
### Retency
* Website: http://retency.com
* Comment: xxxx
* Category: Analytics
* Code signature: `com.retency.sdk.android`
* Network signature: `NC`
* Maven repository: `NC`
* Artifact ID: `NC`
* Group ID: `NC`
* Gradle: `NC`
* Additional links:
* Notes:

[2018-03-03 23:57] U039b commented on #40
@jawz101 network signature is a regex matching domains where collected data is sent to.

[2018-03-04 00:22] U039b commented on #40
### TeleQuid
* Website: http://www.telequid.com/
* Comment: Ads synced to the TV
* Category: Advertising
* Code signature: `com.telequid.`
* Network signature: `mars\.telequid\.com`
* Maven repository: `xxx.com`
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: `xxx`
* Additional links: xxx xxx
* Notes:

[2018-03-04 00:28] U039b commented on #40
### Smart Where
* Website: https://smartwhere.com/solutions/
* Comment: xxxx
* Category: [Analytics, Advertising]
* Code signature: `UNKNOWN`
* Network signature: `xxx.com`
* Maven repository: `xxx.com`
* Artifact ID: `com.smartwhere:android-eu-sdk:16364.2`
* Group ID: `xxx`
* Gradle: `xxx`
* Additional links: xxx xxx
* Notes:

[2018-03-04 00:35] jawz101 commented on #40
Seems like you might want to include the date last seen and the name of an app in which it was discovered if you're collecting all of this.  For reproducibility.

[2018-03-04 05:07] profdiggity commented on #40
@jawz101 Not a bad idea, but not possible all the time.  Sometimes we're working
backwards from the SDK information we find online (from vendor/tracking
company documentation or available source code).

SafeGraph/OpenLocate is a good example, where we have yet to find the
SDK in apps but we know a lot about it through news stories and
published source.  In a case like that, we want Exodus to have

[2018-03-04 05:37] seandiggity opened #63 "Suggestion to categorize tracker capabilities and behavior via labels / short summaries"
The tracker profiles can be very cumbersome to put together, and it's usually just more important to get the detection rules for the tracker into Exodus and not worry as much about the description.  However, maybe there's a happy medium here?  We could try to standardize labels we put on trackers, short summaries like the ones below.  Suggestions welcome, this is just an idea.

## Sensors &amp; Ca

[2018-03-04 05:46] profdiggity opened #64 "Without trailing slashes in URLs, pages don't resolve"
This is hopefully a simple tweak, but URLs without the trailing slash don't resolve to the correct pages/reports.  This becomes a problem when sharing the URLs, for example via e-mail and social media.

Example:
https://reports.exodus-privacy.eu.org/reports/37

Should go to:
https://reports.exodus-privacy.eu.org/reports/37/

Just changes/additions to regex patterns in these files? https://github.c

[2018-03-04 22:41] ghost commented on #40
### Intrasonics
* Website: http://www.intrasonics.com/
* Comment: We provide broadcast grade audio watermarking technology all over the world. Some of the things we make possible... National Audience Research, Measuring Advertising Reach, Synchronised Apps for TV, Radio & Cinema, Loyalty Schemes for Brands and Broadcasters, Interactive Toys & Wearables
* Category: Analytics, Tracking, Audio Waterm

[2018-03-04 23:23] Atavic commented on #63
## Sensors & Capabilities

- Tracks users using ultrasonic

See: https://github.com/YalePrivacyLab/tracker-profiles

[2018-03-04 23:26] Atavic commented on #63
## Sensors & Capabilities

- Tracks users using ultrasonic

See: https://github.com/YalePrivacyLab/PilferShush_prod

https://github.com/YalePrivacyLab/tracker-profiles

[2018-03-06 10:27] l1git opened #65 "[android app] identify if a given tracker is on my phone"
On alpha android app it would be great to be able to select a tracker from a list (alternatively from the report of a specfic app) and then be able to see all apps on my phone that contains the culprit.

This would allow to remove all occurrences of a given tracker.

[2018-03-06 17:12] jawz101 commented on #40
**Foresee**

- Website: https://www.foresee.com
- Comment:
- Category: Analytics
- Code signature: com.foresee.sdk.ForeSee
- Network signature: `4seeresults.com|analytics.foresee.com|i.4see.mobi|rec.replay.answerscloud.com|foreseeresults.com|foresee.com`
- Maven repository: http://foreseemobile.bintray.com/Android/
- Artifact ID:
- Group ID: com.foresee
- Gradle: com.foresee.sdk:sdk:+
- Additional

[2018-03-06 17:30] jawz101 commented on #40
**Adflake**

- Website: http://www.made-apps.com/
- Comment:
- Category: Advertising
- Code signature: com.adflake
- Network signature: metrics.adflake.com
- Maven repository:
- Artifact ID:
- Group ID:
- Gradle:
- Additional links: https://github.com/MADEAPPS/AdFlake-Client-Android www.adflake.com/sdk
- Notes: old?

[2018-03-06 17:34] jawz101 commented on #40
# Adform

- Website: https://site.adform.com
- Comment:
- Category: Advertising
- Code signature: com.adform.sdk
- Network signature: track.adform.net
- Maven repository: https://github.com/adform/adform-android-sdk/raw/master/releases/
- Artifact ID:
- Group ID:
- Gradle: com.adform.advertising.sdk:advertising-sdk:2.7.2@aar
- Additional links: https://github.com/adform/adform-android-sdk
- Notes:

[2018-03-06 17:41] jawz101 commented on #40
# Adfurikun

- Website: https://adfurikun.jp/adfurikun/
- Comment:
- Category: Advertising
- Code signature: jp.tjkapp.adfurikunsdk
- Network signature: ginf.adfurikun.jp|adfurikun.jp
- Maven repository:
- Artifact ID:
- Group ID:
- Gradle:
- Additional links: https://docs.adfurikun.jp/movie/android/2.7.1/
- Notes: I can't read Japanese

[2018-03-06 18:02] jawz101 commented on #40
# Smart Ad Server

- Website: http://smartadserver.com
- Comment:
- Category: Advertising
- Code signature: com.smartadserver
- Network signature: adsrvr.org
- Maven repository: https://packagecloud.io/smartadserver/android/maven2
- Artifact ID:
- Group ID:
- Gradle: com.smartadserver.android:smart-instream-sdk:1.0.0@aar|com.smartadserver.android:smart-core-sdk:1.0.0@aar
- Additional links: https:

[2018-03-07 17:32] jawz101 commented on #40
### Swrve
* Website: https://www.swrve.com
* Comment: xxxx
* Category: [Analytics, Advertising]
* Code signature: `com.swrve.sdk`
* Network signature: `*content.swrve.com|*api.swrve.com`
* Maven repository: `xxx.com`
* Artifact ID: `xxx`
* Group ID: `com.swrve`
* Gradle: `xxx`
* Additional links: https://github.com/Swrve/swrve-android-sdk
* Notes: xxx

### Iron Source
* Website: https://www.ironsr

[2018-03-07 17:43] jawz101 commented on #40
### Sense360
* Website: https://sense360.com/
* Comment: At the core of our research is our sensor-technology which uses the mobile sensors built into smartphones to understand a user’s location and activity. We have trained our algorithms with hundreds of thousands of labeled data points and incorporate data from GPS, accelerometer, gyroscope, barometer, wifi, ambient light, and many other sensor

[2018-03-07 18:04] jawz101 commented on #40
### Rubicon Project
* Website: https://rubiconproject.com
* Comment: xxxx
* Category:
* Code signature: `com.rfm.sdk.|com.rfm.*`
* Network signature: `ads.rubiconproject.com|stats.aws.rubiconproject.com|fastlane.rubiconproject.com|optimized-by.rubiconproject.com|pixel.rubiconproject.com|tap2-cdn.rubiconproject.com|video-ads.rubiconproject.com`
* Maven repository: `xxx.com`
* Artifact ID: `xxx`
* G

[2018-03-08 17:35] l1git opened #67 "com.moviepass.mobile apk analysis is not going thur"
show warning :  Unable to decode the APK .

tried at ~18h33(CET)

https://play.google.com/store/apps/details?id=com.moviepass.mobile

[2018-03-12 18:04] #34 closed, assigned to nobody

[2018-03-12 19:53] jawz101 commented on #40
### Appboy (bought by Braze)
* Website: https://www.braze.com
* Comment: xxxx
* Category: [Analytics, Advertising]
* Code signature: `com.appboy.`
* Network signature: `taurus.iad.appboy.com|sdk-orion.appboy.com`
* Maven repository: `http://appboy.github.io/appboy-android-sdk/sdk`
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: `com.appboy:android-sdk-ui:2.2.+`
* Additional links: http://document

[2018-03-13 00:27] U039b commented on #16
Fixed with #34 and https://github.com/Exodus-Privacy/exodus-standalone has been released.

[2018-03-13 00:27] #16 closed, assigned to nobody

[2018-03-13 00:28] #19 closed, assigned to nobody

[2018-03-13 00:29] U039b commented on #37
Done in v1.2

[2018-03-13 00:29] #37 closed, assigned to nobody

[2018-03-13 00:31] U039b commented on #65
Could you please move your issue to https://github.com/Exodus-Privacy/exodus-android-app.

[2018-03-13 00:31] #65 closed, assigned to nobody

[2018-03-14 00:49] jawz101 commented on #63
I have no idea how to go about grouping just yet.

Considering how many 3rd party libraries we all have recognized so far (I hope I'm submitting them correctly, btw!) there is so much overlap in what they do and sometimes they seem to dabble in all forms of tracking to some degree.  Heck, some 3rd party libraries are management engines of other 3rd party libraries and may do their own analytics an

[2018-03-14 01:06] jawz101 commented on #40
### Fiksu
* Website: https://fiksu.com
* Comment: Fiksu DSP joins a massive, proprietary dataset with powerful segmentation tools to target and retain high-quality mobile audiences
* Category: [Analytics, Advertising]
* Code signature: `com.fiksu.asotracking`
* Network signature: ` a.fiksu.com|sdk.fiksu.com`
* Maven repository: `xxx.com`
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: `xxx`
* Add

[2018-03-14 01:19] jawz101 commented on #40
### Apteligent by VMWare (formerly crittercism)
* Website: http://www.apteligent.com
* Comment: Capture real time event data from key user flows in your app: screen load time, network events, crash reports, and more. Track key metrics, improve your app release-over-release, and focus on issues that matter to your users. Leverage billions of data points about the mobile ecosystem to benchmark your

[2018-03-14 03:34] jawz101 commented on #40
### Sensoro
* Website: https://www.sensoro.com/
* Comment: SENSORO is committed to the convergence of the physical and digital world through the application of sensing technologies. SENSORO’s Alpha Product Suite delivers a comprehensive solution for implementing an easily managed and monitored IoT sensor network.
* Category: [Beacon]
* Code signature: `com.sensoro.beacon.kit. | com.sensoro.cloud`

[2018-03-14 12:26] darknoon29 opened #69 "Propose a filter to display only apps with a limited number of trackers in search page"
A list of applications without trackers or a limited number of trackers could help users to choose their applications.

For that i propose to add in the search page, an option to display only apps with a choosen number of trackers.

What do you think about that ?

[2018-03-14 18:19] jawz101 commented on #40
### Ensighten
* Website: https://www.ensighten.com
* Comment: Gain valuable insights into how consumers engage with your mobile app; unify app and web analytics through one platform.
The way Ensighten Mobile works is that it allows marketers to insert a single line of code into their mobile apps. Within 15 minutes, it then compiles a mobile app library and submits it to app marketplaces for iOS, A

[2018-03-14 18:26] jawz101 commented on #40
### Dynamic Yield
* Website: https://www.dynamicyield.com
* Comment: xxxx
* Category: [Analytics, Advertising]
* Code signature: `xxx`
* Network signature: `cdn.dynamicyield.com | px.dynamicyield.com | st.dynamicyield.com`
* Maven repository: `https://dl.bintray.com/dymobile/maven/`
* Artifact ID: `xxx`
* Group ID: `com.dynamicyield`
* Gradle: `com.dynamicyield:DYAPISDK:3.0.5`
* Additional links:

[2018-03-14 18:33] jawz101 commented on #40
### Exelate (A Nielsen Company)
* Website: www.exelator.com redirects to http://www.exelate.com
* Comment: xxxx
* Category: [Analytics, Advertising]
* Code signature: `xxx`
* Network signature: `loadus.exelator.com`
* Maven repository: `http://maven.exelate.com:8081/nexus/content/groups/public/`
* Artifact ID: `exelate-android-sdk`
* Group ID: `com.exelate`
* Gradle: `xxx`
* Additional links: xxx

[2018-03-14 18:56] jawz101 commented on #40
### AdFit (Daum)
* Website: https://www.daum.net
* Comment: xxxx
* Category: [Analytics, Advertising]
* Code signature: `com.kakao.adfit.ads.`
* Network signature: `analytics.ad.daum.net|statistics.videofarm.daum.net`
* Maven repository: `http://devrepo.kakao.com:8088/nexus/content/groups/public/`
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: `com.kakao.adfit:ads-base:3.0.2`
* Additional links:

[2018-03-14 19:16] jawz101 commented on #40
### Gigya
* Website: https://www.gigya.com
* Comment: 700 leading companies trust Gigya to turn unknown online visitors into known, loyal customers, with the industry’s number one customer identity management platform.
* Category: [Identity Management, Analytics]
* Code signature: `com.gigya.`
* Network signature: `cdn.gigya.com|cdn1.gigya.com|cdn2.gigya.com|cdn3.gigya.com|cdns.us1.gigya.com`
* Ma

[2018-03-14 19:23] jawz101 commented on #40
### Heyzap (bought by Fyber)
* Website: https://www.heyzap.com/
* Comment: xxxx
* Category: [Analytics, Advertising]
* Code signature: `com.heyzap.sdk.ads.`
* Network signature: `ads.heyzap.com|fyc.heyzap.com|med.heyzap.com|x.heyzap.com`
* Maven repository: `xxx.com`
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: `xxx`
* Additional links: https://developers.heyzap.com/docs/android_sdk_setup_and_

[2018-03-14 19:37] jawz101 commented on #40
### Vungle
* Website: https://vungle.com
* Comment: xxxx
* Category: [Analytics, Advertising]
* Code signature: `com.vungle.publisher.*`
* Network signature: `ads.api.vungle.com|api.vungle.com|cdn-lb.vungle.com`
* Maven repository: `https://jitpack.io` ?
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: `com.github.vungle:vungle-android-sdk:5.3.2` ?
* Additional links: https://support.vungle.com/hc

[2018-03-15 03:51] jawz101 commented on #69
Number of trackers doesn't really convey severity, though.  If one tracker unnecessarily snags your contacts or constantly monitors sensor data, has no opt out mechanism, etc. it could have more risk than 50 relatively harmless trackers.

[2018-03-15 15:39] jawz101 opened #71 "possible source for maven repository and gradle info"
https://mvnrepository.com

[2018-03-15 15:41] #71 closed, assigned to nobody

[2018-03-15 21:48] jawz101 opened #72 "TLS intercept to analyze traffic for PII. Could it be possible to partner with either of these research projects"
Lumen Privacy Monitor (formerly Project Haystack).
ICSI--UC Berkeley and IMDEA Networks in collaboration with UMass and Stony Brook University.
The Haystack project is sponsored by the National Science Foundation (NSF) and the DataTransparencyLabs (DTL).
 https://www.haystack.mobi/

Recon
Northeastern University.
This work is generously supported in part by the Data Transparency Lab.
https://recon

[2018-03-15 21:48] jawz101 commented on #72
Wishful thinking

[2018-03-15 22:56] #72 closed, assigned to nobody

[2018-03-16 13:37] lypwig opened #73 "'compatibility_mode' setting is missing while installing Exodus"
I'm not familiar to Vagrant and this is what I did to Install Exodus (on Ubuntu Mate):

[code]

Then I get the following error:

[code]

What should I do?

[2018-03-16 15:42] jawz101 commented on #40
### BlueKai (acquired by Oracle)
* Website: http://bluekai.com/registry/
* Comment: Oracle helps increase transparency by showing you what types of interest segments are collected by the Oracle Data Cloud for use in interest-based advertising. Click here for more information about Oracle Data Cloud interest-based advertising, including information on how to opt-out.
* Category: [Analytics]
* Code

[2018-03-16 15:51] jawz101 commented on #40
### Apsalar
* Website: https://apsalar.com
* Comment: To get the most out of your first-party data, you need outstanding business and user capabilities. The Apsalar Mobile Marketing Cloud offers everything you need to take your marketing programs to even greater heights. With a data lookback of up to 2 years, and the most advanced cohorting capabilities in the mobile app category, you’ll understan

[2018-03-18 09:18] U039b commented on #73
Ping @sanpii

[2018-03-18 10:25] sanpii commented on #73
@roipoussiere Wich version of vagrant do you use?
[code]

[2018-03-19 08:58] BillCarsonFr commented on #40
### AppNext
* Website: https://www.appnext.com/
* Comment: Helping People Experience Apps at the Right Moments Throughout the Day
* Category: [Advertising, User acquisition]
* Code signature: `com.appnext.*`
* Network signature: `global.appnext.com, admin..appnext.com`
* Maven repository: ` url "http://dl.appnext.com/"`
* Artifact ID: `xxx`
* Group ID: `xxx`
* Gradle: `com.appnext.sdk:ads:2.+,com.

[2018-03-19 09:41] lypwig commented on #73
1.9.1

[2018-03-20 07:53] ghost commented on #40
### OtherLevels
* Website: https://www.otherlevels.com/
* Comment: OtherLevels provides the platform and the knowledge to help you increase conversion and deliver the right content, to the right user, at the right time, on the right channel. Engage and retain your customers better, with relevant, omni-channel campaigns across mobile app, mobile web and desktop.
* Category: Tracking, Location, Mess

[2018-03-20 14:58] jawz101 commented on #40
I wish we had this thread in a different format so we could fill in the blanks on one anothers' posts.  Like the wiki tab or something.

Has anyone been able to dig into that Moat company?  I can't find any information on their integration instructions out there https://moat.com.  The most I have is some DNS traffic from my mobile.

    apx.moatads.com
    js.moatads.com
    pixel.moatads.com

[2018-03-20 23:06] ghost commented on #40
### Moat
* Website: https://moat.com/
* Comment: Because Moat Pro is designed to display advertisements, we recommend that you disable your ad blocker before you continue browsing. Moat measures real-time Attention Analytics over 33 billion times per day
* Category: Analytics, Tracking, Location, Beacon.
* Code signature: `com.moat.analytics.mobile`
* Network signature: `xxx.com`
* Maven repositor

[2018-03-21 09:15] U039b opened #76 "Remove duplicated permissions in reports"
In our reports like https://reports.exodus-privacy.eu.org/reports/845/, there are duplicated permissions. We have to remove duplicates.

[2018-03-21 09:17] U039b opened #77 "Display number of permissions per severity"
The permissions are tagged according to their severity, it would be nice to display something like: "30 permissions (10 dangerous, 20 normal)" (at the top of the permissions panel) so that at a glance we can know the proportion.

[2018-03-21 12:16] ghost commented on #40
### OpenX
* Website: https://www.openx.com/
* Comment: Creating Quality Programmatic Advertising Markets That Drive Superior Monetization for Publishers & App Developers
* Category: Advertising, Analytics, Bidding, Identity, Location.
* Code signature: `com.openx.view.plugplay | com.openx.android_sdk_openx`
* Network signature: ` xxx.com`
* Maven repository: `xxx.com`
* Artifact ID: `xxx`
* Group

[2018-03-21 23:33] ghost commented on #40
if there are additions or blanks in the comments made then maybe list them in a new comment and we can go over our own and edit them accordingly?

[2018-03-23 09:09] darknoon29 commented on #69
Yes agree on that. The idea is to help the user to choose an application with the lowest risk level. So any other criteria that meet this goal are welcomed ;-)

[2018-03-23 15:21] jawz101 commented on #40
I dunno.  The wiki on here seems easier so we're not waiting on each other.  And someone can easily fix even the fixes.

[2018-03-23 21:58] jawz101 commented on #40
### Placer
* Website: https://placer.io/
* Comment: Placer provides instant access to location insights derived from foot-traffic of millions of consumers, delivering visibility into offline behavior. Our highly efficient SDK runs 24/7 in the background, identifying location visits while consuming less than 2% battery/day.
* Category: [Analytics, Beacon]
* Code signature: `com.placer.`
* Network s

[2018-03-24 12:35] l1git opened #78 "[API] add 'lastReportVersion' or 'lastupdated' per application in call /api/applications"
this will allow clients to know it already has up to date information and avoid dwd it again.

Actually adding : "last_report_updated"=1234565432 with an epoc time would possibly be a good solution as it also allow for server regeneration of reports for same version.

  {
      "id": 2552,
      "last_report_updated"=1234565432
      "handle": "ru.dublgis.dgismobile",
      "name": "2GIS: director

[2018-03-25 00:32] kaputnikGo commented on #63
Trying to describe why software and apps in particular are problematic can be difficult at the best of times, even with a functional analogy. But i think that it may be best to show from the users (persons) perspective as to what may be of concern and why. This is pretty rough and incomplete but may demonstrate what i mean:

###- Known (informed)
            * capabilities that are explicitly deta

[2018-03-25 00:53] ghost commented on #40
### Foresee

additional SDK urls for events, surveys, whitelist:

analytics.foresee.com , i.4see.mobi , rec.replay.answerscloud.com , foreseeresults.com , foresee.com

[2018-03-25 02:58] l1git commented on #40
from https://twitter.com/fs0c131y/status/977267255309463554

Website: https://clevertap.com/
Comment: "#CleverTap is the next generation app engagement platform. It enables marketers to identify, engage and retain users and provides developers"
Category:  Tracking
Code signature: com.clevertap.android.sdk
Network signature: wzrkt.com
Maven repository: xxx.com
Artifact ID: xxx
Group ID: xxx
Gradle:

[2018-03-25 07:45] ghost commented on #40
adding to already existing listing:
### InMobi
* Website: https://www.inmobi.com/
* Comment: We pioneer mobile discovery through personalized advertising experiences, enabling consumers to discover new products and services through contextual and curated recommendations on mobile devices.
* Category: [Analytics, Advertising, Identity, Location, Telemetry]
* Code signature: `com.inmobi`
* Network s

[2018-03-25 08:20] ghost commented on #40
### Brightcove
* Website: https://www.brightcove.com
* Comment: Identify your best content and uncover actionable audience behaviors with comprehensive analytics and reporting. Dive into your viewer’s engagement data at an individual level with Brightcove’s advanced profile analytics.
* Category: [Analytics, Identity, Location]
* Code signature: `com.brightcove`
* Network signature: `metrics.brigh

[2018-03-25 11:40] ghost commented on #40
### Integral Ad Science
* Website: https://integralads.com/
* Comment: Through innovation, key partnerships, and strong customer relationships, we’re driving the industry toward realizing the full potential of digital advertising. We’ve been first to break down walls to measure ad fraud and verify viewability on Facebook, Twitter and YouTube.
* Category: [Analytics, Advertising]
* Code signature:

[2018-03-25 12:45] ghost commented on #40
### PubMatic
* Website: https://pubmatic.com/
* Comment: With a modular tech stack that can be customized for each client, PubMatic empowers publishers and media buyers with powerful solutions across channel, screen and format to meet their unique needs.
* Category: [Analytics, Advertising, Location, Identity]
* Code signature: `com.pubmatic.sdk`
* Network signature: `xxx.com`
* Maven repository:

[2018-03-25 22:05] ghost commented on #67
also getting the same message for this:
https://play.google.com/store/apps/details?id=com.thisisaim.abcradio&hl=en

and

https://play.google.com/store/apps/details?id=com.digitalid.android&hl=en

it has Adobe SDK.
used the -r switch on apktool to successfully pass.

[2018-03-25 22:31] ghost commented on #67
I notice with apktool that it cannot successfully pass "Decoding values */* XMLs..." with a null pointer exception at ResStyleValue.java:58.
Success is only possible with the -r switch enabled.

EDIT:
I dont think this is a related problem, as i managed to get apktool to run amazon.dee.app successfully without need of the -r switch.

[2018-03-26 18:34] clinty commented on #67
Also https://play.google.com/store/apps/details?id=co.ritual.app and https://play.google.com/store/apps/details?id=com.gojuno.rider

[2018-03-26 18:45] clinty commented on #67
https://play.google.com/store/apps/details?id=at.bitfire.davdroid

[2018-03-26 18:45] clinty commented on #67
https://play.google.com/store/apps/details?id=com.ridecharge.android.taximagic&hl=en

[2018-03-26 19:14] clinty commented on #67
https://play.google.com/store/apps/details?id=net.gaast.giggity

[2018-03-26 19:14] clinty commented on #67
https://play.google.com/store/apps/details?id=com.amazon.dee.app

[2018-03-28 11:10] tdelmas opened #79 "Add link to tracker in the "Statistics Most frequent trackers" page"
In https://reports.exodus-privacy.eu.org/reports/stats/ trackers names are not clickable.

https://github.com/Exodus-Privacy/exodus/blob/c76cd57f949eb4f387ced655163b0ff82727d845/exodus/reports/templates/stats_details.html#L15

Should add a link to https://reports.exodus-privacy.eu.org/trackers/{{ result.id }}/

https://github.com/Exodus-Privacy/exodus/blob/5300188973cd471a33ed9c6769664000267ebfc3/

[2018-03-29 05:14] ghost commented on #40
adding to already existing listing:

### Kochava
* Website: https://www.kochava.com
* Comment: Kochava is the industry leader for mobile attribution and analytics, helping top brands harness their data for growth. Kochava is introducing the XCHNG Platform to equip the digital advertising ecosystem with an open and unified blockchain framework
* Category: [Analytics, Advertising, Location, Identity

[2018-03-29 07:43] ghost commented on #40
### Freckle IoT
* Website: https://freckleiot.com/
* Comment: Freckle IoT is the global leader in multi-touch, offline attribution. Our proprietary cross device solution supports all media verticals including mobile, desktop, social, radio, search, TV and out of home. Using opted-in, first-party data, Freckle IoT helps brands measure the effectiveness of their advertising by independently matching

[2018-03-29 17:05] jawz101 commented on #40
Big source of companies https://www.programmableweb.com/category/mobile/sdks

[2018-03-29 23:18] ghost commented on #40
great find, it will take a while to go through this resource. Btw, maybe now is a good time to figure out a more efficient way of doing this, such as your suggestion for the wiki? Also a published list of categories that we should be using, cos i been adding a few such as "identity" where the SDK is gathering and sending high level PIIs.

[2018-03-29 23:24] profdiggity commented on #40
A feature request might be a submission form, with two options:

* "Basic": a person just has some ideas or a general description of the tracker, what apps it might be in, etc.
* "Advanced": form fields that mirror the format in this Issue, and the eventual JSON format that the tracker db uses.

Lots to work on, of course, and I won't be getting to it anytime soon but it could be added to the Exod

[2018-03-29 23:29] ghost commented on #40
Because of the way i work (static analysis, apktool etc), the main problem Im finding is that i cant get the info necessary for the LibScout requirements mentioned in Issue #38 . I worry that this is causing more work down the track, so hopefully there is a quicker more efficient way that those contributing to this issue page could get good useful tracker details ready for inclusion in Exodus.
We

[2018-03-29 23:35] profdiggity commented on #40
you can sometimes find that info for #38 with dexdump, dedexer, dex2jar, etc. but not always. At least in my experience.

It's going to vary from tracker to tracker depending on the development workflow of the tracking company, the age of the SDK, whether some source is available, and so on.

Personally, I'm all ears to whatever the main contributors to this issue think makes sense.  Wherever the

[2018-03-29 23:37] ghost commented on #40
### Moca
* Website: https://www.mocaplatform.com/
* Comment: Mobile marketing leaders use MOCA to drive mobile engagement, increase sales conversions and retention rate by connecting web, mobile and physical stores. Get everything you need to create amazing mobile experiences and get custom data analytics report.
* Category: [Beacon, Analytics, Advertising, Location]
* Code signature: `com.innoqua

[2018-03-29 23:39] ghost commented on #40
I can usually only find maven stuff on the dev docs webpages (see above for Moca - ha, found it) , and a lot of them maintain their own repos so i can't get access unless i join up as a dev.
mainly at the moment im concerned about making too much unnecessary work for @U039b and you at integrating the posts to this issue into the exodus tracker list.

[2018-03-30 00:14] ghost commented on #40
### Proximi
* Website: https://proximi.io/
* Comment: Proximi.io is a developer platform offering you all the positioning technologies and all features in a simple solution. Enable outdoor and indoor positioning in your app through iBeacon, Eddystone beacons, IndoorAtlas geomagnetic positioning, Wi-Fi, GPS and cellular positioning. Proximi.io is truly technology-agnostic, and committed to supporti

[2018-03-30 00:52] ghost commented on #40
### IndoorAtlas
* Website: http://www.indooratlas.com/
* Comment: Indoor positioning systems (IPS) locate people or objects inside a building using radio signals, geomagnetic fields, inertial sensor data, barometric pressure, camera data or other sensory information collected by a smartphone device or tablet.
* Category: [Beacon, Analytics, Location, Sensors]
* Code signature: `com.indooratlas.and

[2018-03-30 23:25] jawz101 commented on #40
Personally, I've not touched apktool nor any other inspection tools.  I've just been going with domains I know about and Google for their company, "(company name) Android sdk", searching GitHub for strings like "import com.(Company name)" to find if anyone has pulled a tracker into their own programs... junk like that.

Usually only takes a few minutes of time to get some basic info.  Sometimes I

[2018-04-01 13:24] vegaelle opened #81 "Provide test data for local usage"
A working google account is needed to download apks from the google play store, and a fresh local install of Exodus doesn’t contain any report data. In order to work on basic tasks (such as interface enhancements), i would like to have demo records, that could be provided as Django fixtures, so I wouldn’t have to talk to the play store at all.

[2018-04-01 15:50] U039b commented on #40
Hi all!!!
Thank you so much for your great job here! In order to test code signatures, I have extracted `4 234 171` unique Java class names from the 5000+ applications analyzed by εxodus. You can download the [24MB TGZ file](https://seahub.0x39b.fr/f/fd94850fc0/?dl=1), untar it and play like this:
[code]
where `com.safegraph.|com.openlocate` is the code signature you want to test.

I am working on

[2018-04-01 16:37] clinty commented on #67
https://play.google.com/store/apps/details?id=de.enaikoon.android.keypadmapper3
https://play.google.com/store/apps/details?id=com.hoopoe.android.radiobeacon

[2018-04-02 09:07] U039b commented on #67
We still have few issues in the analysis process. Some analysis appear to be running but they have crashed at the early stage. We will fix that asap.
Thank you for providing problematic applications, it will help the debug :-)

[2018-04-02 13:25] ghost commented on #40
### Lenddo
* Website: https://www.lenddo.com/
* Comment: See how Lenddo uses non-traditional data to provide credit scoring and verification to economically empower the emerging middle class around the world. We reinvent the consumer finance with life-changing services and give companies the ability to create positive social impact.
* Category: [Analytics, Location, Identity]
* Code signature: `co

[2018-04-02 21:20] StefanKBa opened #83 "Updates in the Install documentation?"
Hi,

I am struggling getting the code installed locally.
"pip3 install -r requirements.txt"   core dumps on me.

Error is below:

as requirement brotlipy<0.7,>=0.5.1, but you'll have brotlipy 0.7.0 which is incompatible.
mitmproxy 2.0.2 has requirement cryptography<1.9,>=1.3, but you'll have cryptography 2.1.4 which is incompatible.
mitmproxy 2.0.2 has requirement jsbeautifier<1.7,>=1.6.3, but you

[2018-04-03 11:45] l1git opened #84 "report 665 indicate 40 permissions but fail to show any"
reports/665/ show bogus infos regarding permissions .

only show "Normal"
instead of ;
android.permission.WAKE_LOCK | Normal

it lists 40 permissions but show none.
see :
http://telegra.ph/file/6cfa1688d4ffbacc3edac.png

[2018-04-03 12:11] moved-to-gitlab commented on #67
Another one returning "Unable to decode the APK"
https://play.google.com/store/apps/details?id=com.yoti.mobile.android.live

[2018-04-03 12:22] U039b commented on #40
Hi @seandiggity @BillCarsonFr @jawz101 @l1git @sanpii

ETIP is now online: https://etip.exodus-privacy.eu.org/
It is a collaborative platform meant to easily create track profiles. It is more convenient than adding an issue per tracker.

Feel free to send me an email to exodus@0x39b.fr specifying your desired username + email address and I will send you a temporary password. Once registered, you w

[2018-04-03 12:44] profdiggity commented on #40
absolutely. awesome. thanks!

[2018-04-03 15:42] U039b commented on #83
Ping @sanpii

[2018-04-03 15:43] U039b commented on #83
@StefanKBa do you run `pip3 install -r requirements.txt` after having activated the Python Virtualenv?

[2018-04-03 17:07] StefanKBa commented on #83
I followed exactly the steps..
@U039b @sanpii - so:

cd exodus
virtualenv ./venv -p python3
source venv/bin/activate
pip3 install -r requirements.txt
pip install git+https://github.com/androguard/androguard.git

[2018-04-03 18:21] jawz101 commented on #40
thanks.  right now I'm going through that uniq_list file and removing obfuscated portions, google and android classes, and some things that look generally innocuous.  Kinda interesting.  Finding some stuff I hadn't seen before.

[2018-04-06 14:25] DayS opened #85 "Filter false positive due to runtime detection"
It would be great to add a list of classes to excludes from the analysis in order to prevent false positive.

My point concerns SmartAd SDK which looks for the presence of multiple other ads/tracking SDK at runtime by using reflection.
This works by using a list of `SASMediationSDKAdapter` implementations (located in the package `com.smartadserver.android.library.mediation`). Each adapter is respo

[2018-04-07 13:07] eldk opened #86 "Add link to app privacy rules"
Hello,

A link to the app privacy rules page should be added in Exodus app report page as it is in Google Playstore.

Why ?

- Some app may have tracker but respect privacy by design : don't collect anything before and without user gives its agreement. So, no agreement, no data collected.

- The app privacy page may gives explanation on why some authorization are needed too.

Thanks,

Eric

[2018-04-07 13:16] eldk opened #87 "Don't display more devs info than those given on Playstore"
Hello,

The Exodus reports page display some more data (town ...) on devs than those available on Playstore.

If dev have a Playstore dev page with them available : OK.

If not, don't display them in Exodus report page. Respect devs privacy too.

Thanks,

Eric

[2018-04-08 13:33] eldk commented on #67
more "Unable to decode the APK" apps :

- https://play.google.com/store/apps/details?id=com.motorola.actions
- https://play.google.com/store/apps/details?id=com.google.android.tts
- https://play.google.com/store/apps/details?id=com.motorola.genie
- https://play.google.com/store/apps/details?id=com.motorola.cameraone
- https://play.google.com/store/apps/details?id=com.lenovo.FileBrowser2
- https://

[2018-04-09 12:28] madb1lly commented on #67
"Unable to decode the APK":
- com.hmdglobal.support
- com.evenwell.camera2
- com.google.android.apps.videos

"Unable to compute APK fingerprint":
- com.artifex.mupdf.viewer.app
- com.google.android.apps.books
- com.google.android.apps.photos
- com.google.android.gm
- com.google.android.youtube
- com.whatsapp

And org.documentfoundation.libreoffice is taking hours to complete analysis.

[2018-04-11 08:08] Germ-2018 opened #88 "Latest Signatures"
Where do I download the latest signatures from?

I have downloaded:

  https://y.0x39b.fr/zerobin/?b8cd1e442301940d#HCuV45xNQ/MAPvHVFifCr0tdoX7dxP7f2H55JXc1PHg=

but this only seems to have a limited set of 71 signatures.

Thank you

[2018-04-12 15:24] Germ-2018 commented on #88
Found it.

[2018-04-12 15:24] #88 closed, assigned to nobody

[2018-04-12 18:25] U039b commented on #87
Hello,
Informations you mentioned are retrieved from the X509 certificate[1] which had signed the APK. This certificate is a public information meant to prove the legitimacy of the APK (prevent repackaged applications, ...)[2].

Devs have to keep in mind that most of the fields describing an X509 certificate are optional and this certificate is public to ensure the authenticity of the application.

[2018-04-12 18:43] U039b commented on #85
Hello,
Thank you. We will investigate but it seems the issue you pointed out here does not exists. We only focus on declared Java classes. Since we do not decompile the application, we do not match on `import` clauses.
Anyway, if what you point out here is true, it would imply that εxodus detects at least 11 trackers for all applications embedding the SmartAd SDK. Am I wrong?

As an example, [this

[2018-04-12 20:21] U039b commented on #83
Sorry for the latency.

Could you please check if `pip3` is in your `virtualenv` or on your system. To do so, just check the difference between the 2 outputs of:
[code]

If `pip3` is coming from your system, try:
[code]

[2018-04-14 16:51] jawz101 commented on #87
Personally I like to know if they state on the Play Store that their app is made in one country yet sign it with a cert issued with information for another country.

[2018-04-19 08:34] TaciteOFF opened #89 "Can't check an app"
Hello,

I'm interested in knowing the number of trackers in the com.incibeauty app.

For some reason, it always fail because of the "apk fingerprint".

What's the issue there ?

Thanks.

[2018-04-22 21:49] U039b commented on #89
The issue has been fixed and your report is now avaible https://reports.exodus-privacy.eu.org/reports/7633/ ;-)

[2018-04-22 21:49] #89 closed, assigned to nobody

[2018-04-22 21:49] #87 closed, assigned to nobody

[2018-04-22 21:50] #85 closed, assigned to nobody

[2018-04-22 21:53] U039b commented on #67
"Unable to decode the APK" is sometimes issued when Google Play returns an invalid APK (due to unknown reason) or the application is not free.

Regarding "Unable to compute APK fingerprint", this issues has been fixed.

[2018-04-22 21:53] #67 closed, assigned to nobody

[2018-04-22 21:55] U039b commented on #52
The following command fixes the issue:
[code]

[2018-04-22 21:55] #52 closed, assigned to nobody

[2018-04-22 21:56] #15 closed, assigned to nobody

[2018-04-22 21:57] U039b commented on #76
Duplicates #8

[2018-04-22 21:57] #76 closed, assigned to nobody

[2018-04-22 21:58] #24 closed, assigned to nobody

[2018-04-22 22:00] #26 closed, assigned to nobody

[2018-04-23 06:35] sanpii commented on #52
@U039b thank you :smiley:

[2018-04-25 18:45] TeeTeeHaa opened #90 "Play Protect warning for Exodus Privacy from F-Droid"
Yesterday (24. April 2018) I installed Exodus Privacy for the first time from F-Droid onto a Nokia 5 running stock Android 8.1.0 with security patch of 2018-03. The app worked fine, showing me trackers and permissions of other apps I installed from Google Play.

But: The device showed me a "Play Protect" warning telling me that the app (Exodus Privacy) is harmful and might damage my device. It urg

[2018-04-27 00:57] jawz101 commented on #40
I just went through and added/updated all of the ones I'd collected info for.  Do you all expect to reanalyze the apps for any new trackers that've been identified?

And does the progress bar beside each tracker on the https://etip.exodus-privacy.eu.org site mean it won't be ready until 100% completed?

Is someone going through our entries and making fixes?  Like, I know some of the gradle entries

[2018-04-30 05:49] Manu1400 commented on #40
### Opentracker
* Website: https://www.opentracker.net
* Comment:
* Category: [Analytics]
* Code signature: `net.opentracker.android`
* Network signature: `http://log.opentracker.net`
* Maven repository: `xxx.com`
* Artifact ID: `xxx`
* Group ID: `net.opentracker.android`
* Gradle: `xxx`
* Additional links: [Documentation (Android app tracking)](https://www.opentracker.net/docs/android-app-trackin

[2018-05-06 16:38] U039b commented on #90
Wrong project --> https://github.com/Exodus-Privacy/exodus-android-app/issues/27

[2018-05-06 16:38] #90 closed, assigned to Schoumi

[2018-05-15 15:56] guiguish69 opened #91 "Add more trackers"
Bonjour,
Tout d’abord bravo pour votre initiative, j’en ai plus que marre que mes moindres faits et gestes soient trackés sans arrêt par des publicitaires véreux qui revendent ma donnée perso au plus offrant.
Au fil de mes recherches, j’ai également appris l’existence d’entreprises que je m’étonne de ne pas voir dans vos listes de trackers surveillés :
-    Single spot
-    Kairos
-    S4M
-    Cr

[2018-05-24 12:04] c0rdis opened #92 ""Unable to compute APK fingerprint" error"
Link to the server-stored report:
https://reports.exodus-privacy.eu.org/analysis/13803

[2018-05-24 21:12] U039b commented on #92
That's an problem we have with few apks. Most of the time it is because εxodus is unable to retrieve the application icon. Or because the X509 certificate signing the application does not comply with the RFC.

So, thank you for reaching out to us but this is not an issue.

[2018-05-24 21:12] #92 closed, assigned to nobody

[2018-06-03 15:26] TPS commented on #92
I ran into this w/ `com.cornerstonecommunity.grip`.  Is there a way I can help fix/complete this, as an end-user?

[2018-06-05 22:02] jawz101 commented on #91
You may want to contact @U039b to get a user account for the tracker submission site.  I used to publish additions here but they created a separate site to manage trackers we've identified.

See this post https://github.com/Exodus-Privacy/exodus/issues/40#issuecomment-378230716

[2018-06-14 19:16] U039b opened #94 "Vagrant - Update Minio binary checksum"
During the installation process, we check the sha256 sum of the downloaded binary which is not suitable for Minio updates.

cc @sanpii

[2018-06-16 12:13] mmuman opened #95 "Use better layout when printing a report"
Sometimes it's useful to print a report, but the current CSS doesn't look very nice when printed.

I managed to find some not-too-bad fixup in Firefox, that would probably be sufficient for now:

[code]

[2018-06-16 14:12] mmuman commented on #95
For the buttons it's probably better to add them directly the `hidden-print` class.

[2018-06-30 22:35] jvoisin commented on #94
Minio's releases [are signed]( https://github.com/minio/minio/releases ) (well at least their tags), so maybe it would be easier maintainance-wise to use them, instead of constantly updating the sha256 of the binary.

edit: Even better: the releases themselves [are signed]( https://dl.minio.io/server/minio/release/linux-amd64/ ) too \o/

[2018-07-02 10:01] FrancoisDupayrat opened #99 "Unable to decode the APK"
Hello,

I just encountered an issue with app com.auticiel.sequences on this analysis: https://reports.exodus-privacy.eu.org/analysis/16617

Same issue as #67
The application is free.
I can provide an alternate (not from Google Play) link to download the app if needed.

Thanks.

[2018-07-03 14:00] qwertygc opened #100 "why this permission is dangerous"
Hello!

When we read a report, we can see permissions for app. In each permission, we can see it's dangerous or normal. It's possible to write a little sentence for say what it's dangerous? IMHA, i think it's better for user-friendly UI.

[2018-07-10 19:42] U039b commented on #100
Hi!
Permission classification is provided by Google without clear explanation. If you place your mouse cursor over the *dangerous* or *normal* badge, you will get a short description.
Anyway, we have to improve the UI of the reports.

[2018-07-14 13:25] qwertygc commented on #100
OK, think. Indeed, it's not very clear. You have a UX expert?

[2018-07-15 09:25] U039b commented on #100
As you can see, we do not have UX expert in the team :-(

[2018-07-18 07:46] Natouille commented on #100
Hello, I would be glad to help you on these points :smiley:

[2018-07-18 09:12] U039b commented on #100
Hello @Natouille
Feel free to break, redesign, remove whatever you want, anyhow reports are a total mess. Nobody of the EP team is relevant on UI/UX questions.
You can meet us on the `#exodus-privacy` Freenode IRC channel or by email at contact@exodus-privacy.eu.org or on our [forum](https://forum.exodus-privacy.eu.org/) (*account required*).

[2018-07-18 16:27] jawz101 opened #101 "Any progress on incorporating the new tracker definitions we've documented on etip.exodus-privacy?"
I haven't seen any news updates on the site as to whether the newer trackers we had identified on the etip site were going to get added to the detection rules and the apps would be rescanned.

[2018-07-21 15:15] Porkepix opened #102 "Find a workaround for applications updated without version increase"
Some applications are sometimes updated by their developpers without change to the version number.
This is causing the platform to not analyze the new version, because it's reading the same version number as the last tested one and then explain this version have already been analyzed and so it won't reanalyze it again.

It would be nice to find a way to work around this, whether is it by checking

[2018-07-21 15:17] Porkepix opened #103 "Reports page layout is pretty broken on mobile phone"
On mobile phone, the report page layout is pretty broken. One of the reason is that trackers and permissions are still displayed side-to-side even on a small screen.

Mobile display need to be improved, one of the possible ways would be to put those two sections stacked one over the other, if it is possible to have such display differences between devices.

[2018-07-21 15:45] #73 closed, assigned to nobody

[2018-07-21 16:43] ghost commented on #94
Re-open for discussion

[2018-08-10 09:30] IzzySoft opened #104 "API features: list all app details, request a scan?"
I've checked the [wiki on the REST API](https://github.com/exodus-privacy/exodus/wiki/REST_API), but missed two things. Not sure if they are just not documented, or do not exist (depending upon which is true, this issue is asking about documenting or implementing ;)

* **full app details:** the website shows much more details than the JSON described in the wiki. I especially miss the list of permi

[2018-08-15 18:05] IzzySoft opened #105 "Order reports "newest first""
When obtaining details for a specific app, there can be multiple reports. As it currently stands, they are not ordered (see [here](https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/restful_api/views.py#L229)).

In most cases, one want the latest report on the most recent version of an app, so the array should be sorted, speaking in SQL terms, `ORDER BY version_code DESC, updated_at DESC` – s

[2018-08-15 18:16] U039b commented on #101
We are working on the next batch of trackers. 10+ trackers from ETIP will be added really soon ;-)

[2018-08-16 14:28] peterstory opened #106 "Update Link to trackers.json in FAQ"
Following [the link to trackers.json](https://y.0x39b.fr/zerobin/?b8cd1e442301940d#HCuV45xNQ/MAPvHVFifCr0tdoX7dxP7f2H55JXc1PHg=) in [the FAQ](https://github.com/Exodus-Privacy/exodus/blob/f3ca29bc1675eae5c85f08da6ccba531ae985989/doc/faq.md#how-to-import-trackers-definitions) leads to an error page:
<img width="755" alt="image" src="https://user-images.githubusercontent.com/1322135/44214706-c03bf80

[2018-08-16 14:29] peterstory commented on #106
Perhaps it would be better to host `trackers.json` on the Github Wiki, or somewhere on exodus-privacy.eu.org?

[2018-08-16 19:32] U039b commented on #106
Hi!
If you want to import our trackers into your own εxodus instance, you can use the *undocumented* [`importtrackers` command](https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/trackers/management/commands/importtrackers.py)

[2018-08-16 20:54] peterstory commented on #106
Thanks, that's just what I needed!

[2018-08-17 16:15] jawz101 commented on #101
Exciting!  That will be a nice reveal.  I'm curious how much we'll bump up the numbers of trackers found in the apps.  Maybe a top 10 list of apps with the most trackers would be neat.

[2018-08-17 16:59] jawz101 commented on #99
Also, instead of saying "unable to decode apk" for paid apps, perhaps use a separate warning message should indicate that it's a paid app that cannot be scanned.

[2018-08-17 18:55] U039b commented on #101
Hi!
17 trackers have been added yesterday and reports have been updated ;-)

Thank you to all the contributors <3

[2018-08-17 20:29] jawz101 commented on #101
Was there anything else I could do for these or had they not qualified as trackers?

`Apsalar,Adflake, Exelate, Placer, Swrve, Startapp, Vungle`

[2018-08-18 08:43] U039b commented on #101
Hi @jawz101
You should add them to https://etip.exodus-privacy.eu.org/. Ask me if you do not have an account.

[2018-08-18 12:36] IzzySoft commented on #104
I've just tried to simulate a POST from within PHP. Despite of using the same parameters as the form suggests, even including my key in the header, all I get is a `HTTP/1.1 400 Bad Request`. When on my scan I encounter an app yet unknown to Exodus, I'd like to push a scan so I can check it again later. Currently, I see no way to do it: the API has no such call documented, and imitating a submit fr

[2018-08-18 12:47] IzzySoft commented on #105
Current work-around in PHP, in case it's useful to somebody else stumbling upon this issue (`$exodus` is the `json_decode`d JSON returned from the api):

[code]

Note: I chose `creation_date` as that should reflect the release date of the app. `updated_at` could be an update to some older version, according to my experience (I had an example where the latter date was newer for some older version t

[2018-08-18 19:15] U039b commented on #104
Hi!
The API does not supports scan requests in order to limit abuse. The only way to request a scan is to use the HTML submission form. But, we are thinking about accepting scan requests directly from the API but it will be strongly rate-limited.

[2018-08-18 20:11] jawz101 commented on #101
I have an account and they are in there. They are in fact the 7 in there that are unchecked indicating they are not used in Exodus currently.

[2018-08-18 20:50] U039b commented on #101
For Vungle, we were not able to verify the code signature. The provided one was not found in 20k+ applications.

[2018-08-19 01:34] IzzySoft commented on #104
Rate limits are fine, as long as the rate isn't too restricted. As the API cannot be used without obtaining an API key from you, the rate could also be different depending on how much you trust a key.

Please update this issue when something became available, I'll gladly test it then :wink:

[2018-08-24 16:44] jawz101 commented on #101
in the tar file from the identify new trackers ticket you posted I search through the uniq_list file and find tons of entries for it.

just an excerpt:
[code]

perhaps just com.vungle then?

[2018-08-26 10:31] #106 closed, assigned to nobody

[2018-09-19 15:03] JackWeb2018 opened #107 "Firebase Analytics disabled (acc. firebase instructions) but still positive result reported"
I have disabled in the app the firebase analytics as described in the firebase documentation, i.e.

<meta-data       android:name="firebase_analytics_collection_deactivated"
        android:value="true" />
and
<meta-data  android:name="google_analytics_adid_collection_enabled"
        android:value="false"  />

=> but the report still hints on included tracker: Google Firebase Analytics

The detec

[2018-09-21 14:55] hiddenslave commented on #99
Same issue
in.startv.hotstar
https://reports.exodus-privacy.eu.org/analysis/41138

com.netflix.mediaclient
https://reports.exodus-privacy.eu.org/analysis/41140

[2018-10-02 22:23] nautik1 opened #108 "Easy init of dev setup using docker-compose"
Hello guys,

Would you be interested in having a docker-compose `dev` setup?
Developers could have only the exodus frontend and/or worker apps running locally and all other services as docker containers (rabbitmq, postgres & minio).

As a dev I am not a big fan of having everything packaged in a VM; I find that running docker containers with a simple `docker-compose up` command  is quite awesome,

[2018-10-03 19:29] pnu-s commented on #79
Should be easy to add, I'm on it !

[2018-10-04 08:11] pnu-s commented on #23
@U039b Shouldn't this issue be closed?

[2018-10-04 10:22] Gu1nness commented on #107
The static analysis we use only allows us to see if the code signature for Firebase analytics is present in the APK, not that it is disabled in the manifest.
Moreover we do not want to rely on this kind of system : Maybe the docs says that it deactivates the data collection whereas it does not, and we don't want to do that. Our reports would be false. We can't commit ourselves on saying that if a

[2018-10-05 09:28] pnu-s commented on #107
I think it is worth noting as well that it is specified under the list of trackers on the EP reports that the static analysis does not allow to detect whether or not the tracker is active / enabled.

![image](https://user-images.githubusercontent.com/6069449/46527464-92974380-c891-11e8-8654-f512dab5dc4a.png)

[2018-10-07 20:16] #107 closed, assigned to nobody

[2018-10-07 20:19] U039b commented on #102
We have to check the version code instead of the version name [here](https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/exodus/core/apk.py#L86).

[2018-10-07 20:20] #100 closed, assigned to nobody

[2018-10-07 20:20] #99 closed, assigned to nobody

[2018-10-07 20:21] #91 closed, assigned to nobody

[2018-10-07 20:23] #83 closed, assigned to nobody

[2018-10-07 20:44] #61 closed, assigned to nobody

[2018-10-07 20:46] #45 closed, assigned to nobody

[2018-10-07 20:46] U039b commented on #45
εxodus will no longer handle network analysis.

[2018-10-07 20:47] #18 closed, assigned to nobody

[2018-10-07 20:47] #21 closed, assigned to nobody

[2018-10-07 20:47] #22 closed, assigned to nobody

[2018-10-07 20:48] #3 closed, assigned to nobody

[2018-10-07 20:48] #8 closed, assigned to nobody

[2018-10-07 20:48] #20 closed, assigned to nobody

[2018-10-07 20:48] #38 closed, assigned to nobody

[2018-10-07 20:51] U039b opened #115 "Translate εxodus in French"

[2018-10-07 21:08] #51 closed, assigned to nobody

[2018-10-08 09:54] pnu-s commented on #11
@seandiggity Is there any update on this ?
I agree it would be interesting to have short "user friendly" descriptions for each tracker.

[2018-10-08 09:58] pnu-s commented on #81
As of today I do not think a working google account is needed with a fresh local install of EP for running apk analysis.

[2018-10-08 10:04] pnu-s commented on #84
Seems like this bug is specific to this particular report (the report from the new version does show the list of permissions as expected).

Will close the issue for now, we will investigate if it appears again.

[2018-10-08 10:06] pnu-s commented on #59
That's a great idea, I got the same need when posting a report on Twitter recently.
I plan to take a look at this soon.

[2018-10-08 11:14] pnu-s commented on #103
I just tried it quickly with Google Chrome on Android and I don't have the issue.
Could you please send a screenshot of the broken layout ? (and details about the browser used for the test)

[2018-10-08 11:46] Porkepix commented on #103
So, I remember it being worse. Either my memory is bad or browser improved, or Django, or it depends on the app's report.

Here are anyway example screenshots:

![screenshot_20181008-131806](https://user-images.githubusercontent.com/709500/46606738-a693ad00-cafe-11e8-9894-63dfbb7a3416.png)
Fingerprint goes out of its box
![screenshot_20181008-131834](https://user-images.githubusercontent.com/70950

[2018-10-08 12:40] pnu-s opened #116 "Wrong "Help us!" link in the submission page"
The "Help us!" link on the analysis submission page is still the old one

![image](https://user-images.githubusercontent.com/6069449/46609253-afd54780-cb07-11e8-8ea2-d50d35e83a0d.png)

Similar to bug fixed in PR #110

I think we should think about **defining the different links in one place** (in a configuration file for instance?) to avoid these issues in the future.

[2018-10-12 13:31] pnu-s commented on #41
@U039b I am not sure that it can be easily added to the top bar.
On the home page it is fairly easy to add it. The problem is that the base.html page is included in every page of the website. Therefore, we would need for every template to calculate the number of analyzed applications in the view function (except if I missed something).

[2018-10-12 17:52] pnu-s opened #118 "Outdated categorization of permissions"
It seems to me that the categorization of permissions (normal / dangerous) - defined in exodus/exodus/exodus/core/dvm_permissions.py - is outdated.

**Example:**

android.permission.INTERNET is defined as dangerous
![image](https://user-images.githubusercontent.com/6069449/46885197-91e54b00-ce57-11e8-871e-5c872e0ae230.png)

whereas it is defined as "normal" by [Google](https://developer.android.co

[2018-10-12 19:11] ghost commented on #118
Did those information are in our database? If yes, we need to imagine an update process (remember, we use PostgreSQL and we have stored Procedure which could help us). Disclaimer, I did know anything about Stored Procedure.

[2018-10-15 14:49] ghost commented on #59
@simpnu If you need help in FB side, I am adimistrator of the page, ping me on irc exodus privacy channel

[2018-10-16 09:26] pnu-s commented on #59
@jfoucry The problem for tackling this issue is that it is not possible to test whether the tags are properly processed with a local dev setup.

We need to make the changes accessible from outside to check whether the report would show properly on Twitter/FB/other.

[2018-10-16 18:50] codeurimpulsif commented on #108
Thank you for this issue, a docker-compose dev env is a good idea. We just merged your PR and are using it as a dependency to build the docker environment for a first iteration :)

[2018-10-16 19:00] #102 closed, assigned to nobody

[2018-10-16 21:54] nautik1 commented on #108
My pleasure.
I'd say it is still missing at least:
- [ ] the setup documentation,
- [ ] the optionnal docker packaging of worker
- [ ] the optionnal docker packaging of the web interface

That way you can choose easily what you want running locally vs in docker. We might have an issue with using the same sources for both processes, but I haven't looked enough yet; I was just surprised to have to s

[2018-10-17 07:46] codeurimpulsif commented on #108
The setup documentation is in progress, actually the worker and web interface are in the same container but in a futur iteration we can separate them.
Yes I think the main instance of Exodus is already a good demo, docker is useful for developers to have a fast "start base" and test PR ;)

[2018-10-17 18:38] nautik1 opened #121 "Unversionned migrations"
Hello guys,

When first running `python manage.py migrate --settings=exodus.settings.dev`, it says I am missing some migrations.
I need to run  `python manage.py makemigrations --settings=exodus.settings.dev` to generate 4 new migration files, and re-run `migrate` to load them.

If these 4 migrations were in the repo, I would just run `migrate` :)

[2018-10-20 18:00] #108 closed, assigned to nobody

[2018-10-20 18:40] U039b commented on #118
In order to get up-to-date permissions categorization, we have to generate permission descriptions, categories, *etc* in a convenient way from AOSP:
* [permission definitions](https://github.com/aosp-mirror/platform_frameworks_base/blob/master/core/res/AndroidManifest.xml)
* [translated permission descriptions](https://github.com/aosp-mirror/platform_frameworks_base/blob/master/core/res/res/values

[2018-10-22 21:18] pnu-s commented on #118
I made a first POC with the JSON provided by @U039b  (https://github.com/U039b/aosp_permissions_extraction)

I decided to use red for the "special" permissions and yellow for the "dangerous" ones but this is obviously open for discussion (https://developer.android.com/guide/topics/permissions/overview).

Here is how it looks:

![image](https://user-images.githubusercontent.com/6069449/47319822-fbc

[2018-11-05 08:49] sandipsmarty commented on #73
@sanpii : Running `vagrant up` I am getting this error after upgrading my mac os version to the latest 10.14 (MacOs Mojave). Please let me know what exactly I need to do to fix this.

Using-
Vagrant 1.9.4
ansible 2.5.0

[2018-11-05 08:56] sandipsmarty opened #125 "ansible remote provisioner: * The following settings shouldn't exist: compatibility_mode"
Vagrant 1.9.4
ansible 2.5.0
OS version: MacOs 10.14 (Mojave)

Running `vagrant up` I am getting this error after upgrading my mac os version to the latest 10.14 (MacOs Mojave).

_Originally posted by @sanpii in https://github.com/Exodus-Privacy/exodus/issues/73#issuecomment-373987120_

@sanpii: Could you please suggest what I need to do to fix this.

[2018-11-05 09:11] sanpii commented on #125
Can you check the `Vagrantfile`, normally this option has been deleted: https://github.com/Exodus-Privacy/exodus/commit/f3ca29bc1675eae5c85f08da6ccba531ae985989

[2018-11-05 09:20] sandipsmarty commented on #125
@sanpii : There is a Vagrantfile available in my project root which includes the following lines.

ENV['DRUPALVM_PROJECT_ROOT'] = "#{__dir__}"
ENV['DRUPALVM_CONFIG_DIR'] = "box"
ENV['DRUPALVM_DIR'] = "vendor/geerlingguy/drupal-vm"
load "#{__dir__}/#{ENV['DRUPALVM_DIR']}/Vagrantfile"

But I see the line `ansible.compatibility_mode = '2.0'` in vendor/geerlingguy/drupal-vm/Vagrantfile

[2018-11-05 09:32] sanpii commented on #125
Ok, you have the same error but with another project. You should see with the maintainer of the project (https://github.com/geerlingguy/drupal-vm) if she/he can apply the same modification as we apply on ours: https://github.com/Exodus-Privacy/exodus/commit/f3ca29bc1675eae5c85f08da6ccba531ae985989

[2018-11-05 09:50] sandipsmarty commented on #125
Ok let me check with the drupal-vm maintainer. Thanks!

[2018-11-05 12:38] pnu-s commented on #118
Fixed by 75e99a60f9bdbab095d116c320e0de71cce16986

We now need to come up with a process to keep the permissions information up to date

[2018-11-05 12:39] pnu-s commented on #121
@U039b Do you have any input from your side ? (why these are missing, whether we can add them, etc.)

[2018-11-05 13:57] mr-gosh commented on #45
Does this mean "no generation of pcaps" or "nothin all about pcaps that i generated myself"?

[2018-11-06 13:56] pnu-s commented on #79
Fixed by #109

[2018-11-07 13:34] mr-gosh commented on #46
how can we help?

[2018-11-07 20:56] ghost commented on #46
@mr-gosh Why not? Feel free to come and discuss with us on exodus-privacy irc/freenode channel.

[2018-11-14 14:58] IzzySoft commented on #104
@U039b I just wonder how Yalp manages to trigger a scan. I recently had it open and saw the Exodus link in it. Tapping that, the browser opened with a scan-in-progress, which really surprised me. Has something changed and there meanwhile is a possibility to do that? Making a simple POST request would be fine for me as long as I know what fields to submit :wink:

[2018-11-14 15:35] IzzySoft commented on #40
Not sure which of these count as "trackers" (so please don't just copy them over unverified), but all of the below fall into the category "mobile analytics":

### Codahale Metrics
* Website: http://metrics.dropwizard.io/
* Comment:
* Category: [Analytics]
* Code signature: `com.codahale.metrics`
* Network signature:
* Maven repository: https://mvnrepository.com/artifact/com.codahale.metrics
* Arti

[2018-11-14 22:38] ghost commented on #40
Are you still accepting submissions here for new trackers?

[2018-11-14 23:44] IzzySoft commented on #40
@kaputnikGo with the issue not closed, I assumed so :scream_cat:

[2018-11-15 00:36] jawz101 commented on #40
I would just ask @uo39b for access to their etip website.  I moved all of my submissions into it directly.  But it doesn't look like any I did submit were ever officially added which stinks because I have several hundred more I could likely find in here  :/

https://raw.githubusercontent.com/jawz101/MobileAdTrackers/master/hosts

[2018-11-15 09:14] IzzySoft commented on #40
@U039b if you're indeed no longer accept submissions here (which I hope is not the case), it might be a good idea to say so (and to close this issue) :wink:

@jawz101 feel free to pick my above reported and add them from your side.

[2018-11-15 15:14] jawz101 commented on #40
@IzzySoft @kaputnikGo There's a way to get an account on that site by emailing him [here](https://github.com/Exodus-Privacy/exodus/issues/40#issuecomment-378230716)

[2018-11-15 16:48] profdiggity commented on #40
Exodus Privacy has new leadership and may just not be aware of this github issue.  I can send them upstream via https://etip.exodus-privacy.eu.org but you're right, let's figure out a workflow that works for everyone.  Thanks all!

[2018-11-15 16:49] profdiggity commented on #40
also, you can just put these in our YalePrivacyLab repo for tracker profiles, where we're also gathering new info... I will invite all of you as contributors.

[2018-11-15 16:57] IzzySoft commented on #40
@seandiggity I'm not sure if I'll report trackers regularly – but sure it's good to know where to put them, and they hopefully will make their way into Exodus. You also can find my full library list (which not only contains trackers, but all kinds of libraries used in Android apps) [in my GitLab repo](https://gitlab.com/IzzyOnDroid/repo/tree/master/libs) if you're interested.

Further I'm not sure

[2018-11-15 19:55] U039b commented on #40
Hi all!
This issue should be closed since https://etip.exodus-privacy.eu.org has been developed in order to ease and centralize trackers categorization and description.
If you want an ETIP account, feel free to send me an email to exodus@0x39b.fr specifying your desired username + email address and I will send you a temporary password. Once registered, you will be able to freely contribute to the

[2018-11-15 20:00] #118 closed, assigned to nobody

[2018-11-15 20:02] U039b commented on #116
Sure, it will be better to set various URL directly in the settings file.

[2018-11-15 20:04] U039b commented on #105
Is it fixed in PR #117?

[2018-11-15 20:07] U039b commented on #104
@IzzySoft Yalp implementation for triggering a scan: https://github.com/yeriomin/YalpStore/blob/master/app/src/main/java/com/github/yeriomin/yalpstore/task/ExodusSubmitTask.java

[2018-11-15 20:09] pnu-s commented on #105
@U039b once it is merged, it should be now sorted by application version number yes

[2018-11-15 20:10] IzzySoft commented on #40
Thanks for the heads-up, @U039b! Waiting for advice concerning "incomplete records" (I can't provide full ones as I've got no idea how to fill the gaps – especially network signature, Maven specifics and gradle; I'm not a dev) and "distribution guidelines". If that's permitted, I'll accept the invitation and share my findings.

Speaking of which: are there any issues with your scanner currently? F

[2018-11-15 20:11] U039b commented on #101
We periodically add new trackers to εxodus. Imported trackers are flagged this way
![screenshot-2018-11-15-21 09 40](https://user-images.githubusercontent.com/34188010/48578791-e37f6a80-e91a-11e8-90ca-1a4aa851d84e.png)
in the admin view of ETIP.

[2018-11-15 20:11] #101 closed, assigned to nobody

[2018-11-15 20:12] IzzySoft commented on #105
Cool, thanks! I'll get another ping then automatically, as it closes this issue :wink: Then I can remove the post-sorting on my end :clinking_glasses:

[2018-11-15 20:13] #79 closed, assigned to nobody

[2018-11-15 21:04] U039b commented on #40
@IzzySoft it seems that some tasks are stuck in the queue, we will investigate ;-)

Regarding ETIP fields, `network signature` is a REGEX matching domain names (*e.g.* `app-measurement.com`) used by a tracker. For the other fields you mentioned, ignore them if you do not know what they mean.

[2018-11-15 21:05] pnu-s commented on #69
@darknoon29 we are working on adding new reports such as "Apps with no identified trackers"

[2018-11-15 21:13] pnu-s commented on #64
We have the same issue for every page of the website (not only the reports). We can indeed:
1) change the regex to make the trailing slash optional (but it would need to be done for every URL)
OR
2) try to find a global setting to change (but this could cause potential issues somewhere else on the website)

[2018-11-15 21:18] pnu-s commented on #60
See comments on #69

[2018-11-15 21:34] U039b commented on #40
@IzzySoft no more "come back later" ;-)

[2018-11-15 21:42] IzzySoft commented on #40
that was my assumtion, too.

@U039b just noticed – thanks a lot! :+1: :clap: :man_dancing: :man_cartwheeling:

Yes, so far I got. But it's domain names the corresponding tracker contacts, right? I've got no idea how to figure that. I'm just performing a basic static analysis of path names on the Smali, which is how I found some hundred libraries – those above trackers among them. So if I want some

[2018-11-15 21:57] U039b commented on #40
You are welcome!

Domain names correspond to the remote servers contacted by the trackers to send collected data. You can find them by analyzing the network traffic of an application which uses a given tracker or by inspecting the binary looking for URLs or domains.

Unfortunately, I am a bit busy. Anyway, once you have listed *path names* (you probably mean Java packages, you will find mode detai

[2018-11-15 22:00] #23 closed, assigned to nobody

[2018-11-15 22:12] pnu-s commented on #7
Unfortunately I'm not sure we can have dynamically sortable tables now because the reports are paginated (due to the important number of reports).

This being said, we could easily add several reports sorted differently (one by date, one by number of trackers, one by alphabetical order, etc.)

[2018-11-15 22:15] IzzySoft commented on #40
Thanks @U039b – and I know exactly what you mean by "not enough time", as that's my situation, too …

And yes, that's what I meant by "static analysis" – though I use a different tool for it.

[2018-11-15 22:21] ghost commented on #64
Le Thursday 15 Nov 2018 à 13:13:40 (-0800), simpnu à écrit:

Maye be the better solution. Could be somthing in nginx.

[2018-11-15 22:38] pnu-s commented on #64
After a first quick look it seems that the option to append a trailing slash is already set to TRUE in Django, I think the URLs are somehow not well defined.

I'll investigate that.

[2018-11-15 23:32] ghost commented on #40
Added basic tracker submission template and first example to the Yale repo with the intention of enabling a quick and easy way to get proper new tracker info into Exodus - https://github.com/YalePrivacyLab/tracker-profiles
And also to figure out the best method to add new trackers to Exodus.

[2018-11-15 23:54] profdiggity commented on #40
That Taplytics profile looks great, thanks.  Will make sure these go upstream, so if it's lower barrier-to-entry to submit to the YPL repo that's fine (then there's less reason to bother EP and @U039b for Etip accounts etc. as well).

[2018-11-16 00:53] ghost commented on #40
Added 8 more taken from here, will keep using the commit summary with "basic tracker" to help ID when they go up in this format. fyi i check the yale tracker list, https://reports.exodus-privacy.eu.org/trackers/ and https://etip.exodus-privacy.eu.org/ before adding them, so hopefully that covers everything.

[2018-11-16 03:17] jawz101 commented on #40
@U039b In the past, sometimes when I entered in network signatures and gradle string, I didn't really know the regex pattern to use.  Some had version numbers in the gradle files I could find so I didn't know how you put those in to scan on your end.  Are you all doing any fixes to our submissions when you see them like this?

example [deltaDNA](https://etip.exodus-privacy.eu.org/admin/trackers/tr

[2018-11-16 09:06] pnu-s commented on #64
Managed to find a quick fix, I made a new PR (on the internal EP git) to solve this issue.

[2018-11-16 11:02] profdiggity commented on #40
Right, that should.  We'll be adding quite a few more to the YPL repo as part of the crowdsourcing I'm doing via Mozilla Open Leaders project.

[2018-11-16 17:01] pnu-s opened #126 "Display issue with long network detection rule"
When the network detection rule of a tracker is very long and without spaces, it is hidden by the list of applications where the tracker is embedded.

See screenshot below:
![image](https://user-images.githubusercontent.com/6069449/48635822-82fb3680-e9c9-11e8-907b-8ea8fa3adc5c.png)

[2018-11-20 13:19] Porkepix opened #127 "Some results can be missing from the search"
For example when searching for "Wire", it won't be in the results, probably due to search results limit.
What could be done is to add pagination/move that limit.

It could also be good to prioritize better matches (for example here a perfect match or almost should appear higher in results).

[2018-11-20 13:36] pnu-s commented on #127
Right now, the query will look for any application where the **handle** or the **name** contains the given keyword (here "Wire").

Which gives the following results, because for instance the application **AIDA64** has the handle **com.finalwire.aida64**

![image](https://user-images.githubusercontent.com/6069449/48776842-31a4bd00-ecd1-11e8-94c6-0cd049dbb66d.png)

I think this may be counterintuiti

[2018-11-20 13:56] Porkepix commented on #127
I would probably let both, but prioritize name match over handle match (and perfect matches over partial ones). Give user the choice could be a good idea aswell, especially if we plan on adding more filters later on (language and so on).

[2018-11-20 15:45] pnu-s commented on #57
@jawz101 @U039b Is this still relevant ?

[2018-11-20 15:59] jawz101 commented on #57
it is to me as much of my hosts file represents conservatively at least 400 more analytic companies than what rules are currently built up in Exodus.

It's like you can take any domain on there, go to a web search and type in the primary domain name and find the company site.  Next, another web search with `<primary domain name> android sdk` and find the developer documentation, and create a rule

[2018-11-20 18:12] #84 closed, assigned to nobody

[2018-11-20 22:31] pnu-s commented on #64
Fixed in 07cf92c16f066f1696f2969f57e767727e4af6d7
The redirections will work fine as soon as the change goes live.

[2018-11-20 22:31] #64 closed, assigned to pnu-s

[2018-11-20 22:36] pnu-s commented on #115
Mostly fixed by #68 (couple of minor translations will be missing)

[2018-11-20 22:46] pnu-s commented on #86
Hi @eldk
I agree it could be interesting to have a direct link to the app privacy rule on the report page, if we can automatically get the URL.
For the time being, there is on the report page a link to the Google Playstore app page, where you can get this information from.

[2018-11-25 14:17] pnu-s opened #128 "Recurring "Unable to download APK" errors"
Recurring error with the message "unable to download APK", most probably caused by invalid gplaycli token.

Currently looking into using the latest release of gplaycli which is supposed to have solved this issue.

[2018-11-25 14:19] pnu-s opened #129 ""Application not found on GPlay" errors"
FDJ
id=fr.fdj.apps.fdj

Silence
id=org.smssecure.smssecure

![image](https://user-images.githubusercontent.com/6069449/48980145-86777780-f0c5-11e8-8dcc-6e3c00ce5b58.png)

[2018-11-27 11:11] siegheilx opened #130 "This application is being analyzed."
Smashy Road: Wanted
com.rkgames.smashywanted
![default](https://user-images.githubusercontent.com/44965526/49078311-2284b880-f257-11e8-8afd-fde02d48254a.png)

[2018-11-27 16:37] PrivacyMatters opened #131 "εxodus is processing your request - unable to download the APK"
Hi Exodus team

Thank you for creating the service. You are making a real difference.

Most checks I try to do this past week seem not to be successful and result in messages that 'unable to download the APK'

Thanks

[2018-11-28 09:10] pnu-s commented on #131
Hi @PrivacyMatters

Thanks for your report and your message.
This issue is already identified and being worked on at the moment

[2018-11-28 09:10] #131 closed, assigned to nobody

[2018-11-28 09:12] pnu-s commented on #131
Duplicate of #128

[2018-11-28 09:35] PrivacyMatters commented on #128
Thanks Guys.   I work around the world with policy makers and regulators and show them this tool to help them understand the privacy implications of apps. Its making a real difference/ Hope the issue is fixed soon .. currently can't use it :(

[2018-11-28 19:54] pnu-s commented on #128
@PrivacyAvenger we added a hot fix today so hopefully it should now be fine.
Please come back to us if you still encounter the same issue !

[2018-11-28 19:54] #128 closed, assigned to nobody

[2018-11-28 19:56] pnu-s commented on #116
Fixed in last release

[2018-11-28 19:56] #116 closed, assigned to nobody

[2018-11-28 19:57] #115 closed, assigned to Gu1nness

[2018-11-28 19:59] pnu-s commented on #60
Fixed by https://github.com/Exodus-Privacy/exodus/commit/6e7f6a003a99c40db1ed2365467631c72de56e3a

2 new pages have been added:
- to show reports with no identified trackers
- to show reports with the biggest number of trackers

[2018-11-28 19:59] #60 closed, assigned to nobody

[2018-11-28 20:53] simpnu commented on #130
Thanks @siegheilx for your bug report, we will investigate.

[2018-11-29 09:50] PrivacyMatters commented on #130
I'm experiencing the same issue. Impossible to use on free or
![2018-11-29_09-45-55](https://user-images.githubusercontent.com/41578351/49213401-241bc100-f3bc-11e8-8d56-76660f20c68f.png)
![2018-11-29_09-46-05](https://user-images.githubusercontent.com/41578351/49213402-241bc100-f3bc-11e8-8ba9-7941fc24a598.png)

 paid apps.

[2018-11-29 10:17] PrivacyMatters commented on #128
The issue persists in addition to ticket  #130

[2018-11-29 10:21] pnu-s commented on #128
I just tried to run a new analysis and it worked as expected, so this particular issue seems to be fixed.
You can see on https://reports.exodus-privacy.eu.org/en/reports/ that new analyses are run successfully.

The issue in #130 is about an analysis which is stuck and **prevents this particular app (com.rkgames.smashywanted) to be analyzed**. I don't think so this is related.

Do you have more de

[2018-11-29 10:30] PrivacyMatters commented on #128
Ticket #130 persists. It seems that whatever app I try to analyse I get error messages as per the images on that ticket.

Re ticket #128 I only mentioned it as I tried a cached search on babylon health app as per the attached images and got the same error message as #128
![screenshot 2018-11-29 at 10 29 23](https://user-images.githubusercontent.com/41578351/49215908-c0949200-f3c1-11e8-821c-99aa2c7

[2018-11-29 10:38] pnu-s commented on #128
For #130 : could you please add comments into this tickets with the list of apps you have problems with ?

Please note that the error message "Unable to **decode** the APK"  differs from the message "Unable to **download** the APK" (I know, they are pretty close :)). #128 is about the second one, which should be fixed by now.
There is indeed an issue with - among others - com.babylon.nhs but it ha

[2018-11-29 10:39] pnu-s opened #132 ""Unable to decode the APK" errors"
Github issue to track the errors "Unable to decode the APK"

![image](https://user-images.githubusercontent.com/6069449/49216510-8cbe6a00-f3cb-11e8-8c95-39c26dadc7ee.png)

[2018-11-29 10:40] pnu-s commented on #132
Error with com.babylon.nhs (submitted by @PrivacyMatters)

Tested on a local dev instance:
[ERROR] Error while downloading com.babylon.nhs : 'Your device is not compatible with this item.'

[2018-11-29 10:41] PrivacyMatters commented on #130
Hi, thanks for our message (re my comments on 128). Let's tick with this. I experience the above problem on any app I try to analyse using the Google Chrome extension.

Thanks all - and apologies if I complicated matters by cross posting.

[2018-11-29 11:16] PrivacyMatters opened #133 "Link from the Exodify extension is not working"
Whenever I try to analyse and app, and select "would you like Exodus Privacy to analyse it" the URL on 'analyse an application' defaults to fr.meteo

If I paste the app URL into that analyse field I get an error message such as 'unable to decode the APK'

![2018-11-29_09-45-55](https://user-images.githubusercontent.com/41578351/49218628-da85a300-f3c8-11e8-9123-1386bf5a67be.png)
![2018-11-29_09-46-

[2018-11-29 11:40] pnu-s commented on #133
Thanks @PrivacyMatters we will look into this.
The problem is that the link provided by Exodify (e.g. https://reports.exodus-privacy.eu.org/analysis/submit/#com.sonyericsson.music) does not populate the submit field automatically.

Note that you can - as a temporary workaround until we fix this - copy/paste manually the handle (in my example _com.sonyericsson.music_) to the submit field.

[2018-11-29 14:17] PrivacyMatters commented on #133
I have copy and pasted the URL but now get error messages 'unable to decode the APK'  or 'Unable to compute APK fingerprint'
![screenshot 2018-11-29 at 14 16 28](https://user-images.githubusercontent.com/41578351/49227643-74594a00-f3e1-11e8-9baa-c8748d0afac9.png)
![screenshot 2018-11-29 at 14 16 35](https://user-images.githubusercontent.com/41578351/49227646-74594a00-f3e1-11e8-9f6e-636be048e2a2.pn

[2018-11-29 14:31] BillCarsonFr commented on #133
Hi @PrivacyMatters , thank you for reporting this (i just noticed it too). It has been fixed and published to the stores. It's already on for Firefox, and soon on chrome.
(I fixed the extension issue, another issue may need to be opened for the 'unable to decode the APK' msg)
*update* live on chrome too now, you can update the extension

[2018-11-29 14:36] PrivacyMatters commented on #133
Thx .. Just tried it in Firefox and get the message 'Unable to decode the APK' for the url https://play.google.com/store/apps/details?id=com.babylon.nhs&hl=en_GB

And 'Unable to compute APK fingerprint' for the url https://play.google.com/store/apps/details?id=bbc.iplayer.android&hl=en_GB

[2018-11-29 14:38] pnu-s commented on #133
Awesome, thanks @BillCarsonFr ! I'll now close this issue.

@PrivacyMatters this issue you refer to is not related to Exodify but to the Exodus platform itself, see https://github.com/Exodus-Privacy/exodus/issues/132

[2018-11-29 14:38] #133 closed, assigned to pnu-s

[2018-11-29 14:41] PrivacyMatters commented on #133
I seem to going around in circles. I cant seem to use the extension to analyse apps.

[2018-11-29 14:47] BillCarsonFr commented on #133
To clarify, the extension helps you to fill the text field automatically, using the url fragment (part of the url after the #) when you go to the analysis page.
This was not working anymore due to a change in the URL of the analysis page, the language is now part of the url (/en /fr), and the extension was not triggered due to the change.

Now regarding the #132 issue, it is specific to that app (

[2018-11-29 15:20] PrivacyMatters commented on #133
Thanks Bill .. it seems to now work in Firefox on some apps ..... it seems a bit more hit and miss than normal. But thank you all for a great tool.

[2018-12-03 10:19] pnu-s commented on #132
For the record, I tried to download the apk of com.babylon.nhs using gplaycli 3.25 and I'm getting the following errors (using different device codenames):

- with "bullhead" -> "Google Play purchases are not supported in your country. Unfortunately you will not be able to complete purchases."
- with "oneplus3" -> "App not purchased"
- with others -> "Your device is not compatible with this item"

[2018-12-04 00:13] ghost commented on #132
fyi i can download this using raccoon 4.2.6 using default profile and an account using an alcatel 5045A

[2018-12-04 14:43] PrivacyMatters commented on #132
Thanks -  I tend to use Google Chrome or Firefox on a Mac.

Pat

On 4 Dec 2018, at 00:13, kaputnikGo <notifications@github.com> wrote:

fyi i can download this using raccoon 4.2.6 using default profile and an account using an alcatel 5045A

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub <https://github.com/Exodus-Privacy/exodus/issues/132#issue

[2018-12-05 22:14] IzzySoft commented on #129
In case you need additional package names to cross-check: com.pcmehanik.smarttoolkit is another one I just encountered (and yes, I checked it's available on Play).

[2018-12-05 22:31] pnu-s commented on #129
Thanks @IzzySoft for your report.
A fix is in the pipeline and I could confirm that it works with this app (com.pcmehanik.smarttoolkit) too.

Hopefully we should be alive to publish it soon.

[2018-12-05 23:09] IzzySoft commented on #129
Great, thanks!

Besides, I've got a long list with packages that failed the scan for no reason an end-user could see: all free apps from Play, about 600 of them. If you're interested in that list, just let me know. I didn't log at what stage they failed (e.g. the same as here, or "unable to decode", or "unable to calculate fingerprint"), though, but that should be easy to find out.

[2018-12-06 19:29] U039b commented on #129
Fixed upstream and deployed.

[2018-12-06 19:29] #129 closed, assigned to pnu-s

[2018-12-06 19:32] U039b commented on #132
Regarding `com.babylon.nhs` εxodus cannot retrieve the application icon - [see log](https://y.0x39b.fr/zerobin/?245e3a1465fa6405#Ufk1w2huqbYuJGvJH1/fEbu07YeUvFO1aN8pTKkanBM=)

[2018-12-06 20:02] IzzySoft commented on #129
Cool, thanks! Let me know if you're interested in that list mentioned above. I can provide an up-to-date one on demand :wink:

[2018-12-06 22:14] ghost commented on #132
maybe the app has the icon path moved as per API 28 changes?

[2018-12-11 00:18] jawz101 commented on #40
If I send an email to @seandiggity will you fwd it to @U039b ?

[2018-12-11 22:05] jawz101 commented on #40
I played around with the 5,000 app classes list from u039b and pulled out strings that might translate into additional sdk's uploaded [here](https://gist.github.com/jawz101/fe3488ba9b08c69ccef37ec49e68a93e)

I can also look through it and compare to domains I've collected in my hostfile [here](https://github.com/jawz101/MobileAdTrackers/blob/master/hosts) on and see if I have similar signatures fo

[2018-12-12 13:31] Dimas09 opened #135 "Exodus"

[2018-12-12 13:34] #135 closed, assigned to nobody

[2018-12-12 14:30] pnu-s commented on #42
FYI, for the time being, you can have the same results using the [Exodify extension](https://exodus-privacy.eu.org/post/derivated_projects/) and browsing into the categories of the Google play store.

Example:
![image](https://user-images.githubusercontent.com/6069449/49876075-d32bb400-fe22-11e8-8ff2-2231312ce9c4.png)

[2018-12-12 22:25] Schoumi opened #136 "UAID failed once, failed forever"
A time ago, exodus failed to compute certificates fingerprint that not handle properly the X509 RFC. Due to that fail, UAID has not been compute. This has been fixed.
Some apps don't have any UAID because they have been analysed prior to the fix of this issue and remains with no UAID.
It will be better if missing UAID are compute again to be able to have UAID for all apps in the database.

[2018-12-13 15:25] pnu-s commented on #126
Fixed in development branch, waiting for review

[2018-12-14 08:51] 1337sup3rh4x0r opened #137 ""Unable to get certificates" when trying to analyze org.mozilla.testpilot.notes or org.mozilla.focus"
When trying to submit `org.mozilla.testpilot.notes`, I get an "Unable to get certificates" error message.
I couldn't find any other issue noting such a message.

[2018-12-14 09:22] pnu-s commented on #137
Hi @1337sup3rh4x0r and thanks for your report.

We are indeed getting the following error from androguard which is using the pyasn1 decode function:
_pyasn1.error.SubstrateUnderrunError: Short octet stream on tag decoding_

I am not sure it will be easy to investigate and solve in a timely manner but - if you're interested in the results - I managed to get a report on a local instance **by removin

[2018-12-14 09:23] 1337sup3rh4x0r commented on #137
Thank you for sharing the results so quickly!

[2018-12-14 18:48] jawz101 commented on #40
@U039b rather than a 4,000,000 line file of all of the classes, it might be nice to limit it to classnames found in more than 1 app.  Pulling in 1st party classes is too much to look through.

[2018-12-16 23:25] ghost opened #138 "Best of 2018"
More a suggestion than an issue obviously. make a place on the main website for a list of top ten apps with the most trackers.

[2018-12-17 06:27] U039b commented on #138
It has been done here https://reports.exodus-privacy.eu.org/en/reports/?filter=most_trackers

[2018-12-17 06:27] #138 closed, assigned to nobody

[2018-12-17 08:04] lllmio opened #139 "Allow APK upload to official instance of exodus"
https://reports.exodus-privacy.eu.org/en/analysis/submit/

[2018-12-17 08:54] U039b commented on #139
This feature will never be implemented because we would not be able to determine the origin of the APK.

[2018-12-17 08:54] #139 closed, assigned to nobody

[2018-12-17 09:02] lllmio commented on #139
@U039b I mean something like virustotal does it. Just store hash and display results only when file with same hash is uploaded. Why would you want to determine APK origin in this case?

[2018-12-17 11:16] ghost commented on #138
brilliant, thanks! wow 32 trackers...

[2018-12-17 14:30] #105 closed, assigned to pnu-s

[2018-12-18 19:55] detrout commented on #137
I'm also getting "Unable to get certificates" errors when I request an analysis of a new APK, with commit b3d743a2

In the celery logs I see...

'StaticAnalysis' object has no attribute 'get_certificates'

[2018-12-20 05:04] srikanthlogic commented on #86
https://github.com/facundoolano/google-play-api gives app details in google play as REST API and thought it might be useful to consider than re-inventing.

[2018-12-21 12:17] pnu-s commented on #139
@janot I suppose you can use https://github.com/Exodus-Privacy/exodus-standalone for that purpose.

[2018-12-21 17:34] lllmio commented on #139
@simpnu yep, I know. Just wanted to suggest implementing it in official instance too.

[2018-12-31 16:25] Guiraud opened #140 "Docker install missing gplaycli"
The Dockerfile specifies using gplaycli.conf. But since I haven't installed it on my debian , how should I install it so the Docker file wos fine.
right now my "gplaycli.conf" is stored in the .local/lib/python3.5/site-packages/home/[User]/.config/gplaycli/gplaycli.conf
while the /usr/local/lib/python3.5/dist-packages/root/.config/gplaycli/gplaycli.conf is been loked for by the Docker file.
should

[2018-12-31 16:50] Guiraud commented on #140
modifying the Docker file gets me a :
ERROR: Service 'exodus' failed to build: The command '/bin/sh -c mkdir -p /home/exodus/.config/gplaycli && cp /home/[user]/.local/lib/python3.5/site-packages/home/[user]/.config/gplaycli/gplaycli.conf /home/exodus/.config/gplaycli/gplaycli.conf' returned a non-zero code: 1

[2019-01-01 23:27] treyssatvincent opened #141 "(Docker) HTTP error 404 while getting exodus-core v1.0.15"
When I run
[code]

I got
[code]

seems to be caused by the wrong version in line 25 of [requirements.txt](https://github.com/Exodus-Privacy/exodus/blob/v1/requirements.txt)

Based on https://github.com/Exodus-Privacy/exodus-core/releases, the last v1 exodus-core release seems to be v1.0.14, not v1.0.15.

[2019-01-02 08:00] pnu-s commented on #141
Hi @treyssatvincent and thanks for your report
This is an issue with exodus-core we identified and are working on currently. Hopefully we can solve this soon.

[2019-01-02 08:15] pnu-s commented on #140
@codeurimpulsif @nipaDev Would it be possible that you take a look at this ? Thanks !

[2019-01-02 08:17] simpnu commented on #130
@siegheilx I just tried to run a new analysis and it passed (the analysis queue was probably cleared in the meantime).

You can find the report here: https://reports.exodus-privacy.eu.org/fr/reports/53796/

[2019-01-02 08:17] #130 closed

[2019-01-03 09:21] IzzySoft commented on #104
@U039b actually, that is what I'm currently using (and even modeled after that) 😄 Works well so far.

I'll still leave this issue here open (though for me, very low prio thanks to that work-around) as it should preferably be possible directly via an API call. Plus, listing all app details (especially permissions) in the JSON is still open, isn't it? Any chance to see that implemented?

[2019-01-03 13:17] codeurimpulsif commented on #140
The gplaycli.conf file used is the default file provided by the pip install (https://github.com/Exodus-Privacy/exodus/blob/v1/Dockerfile#L15) and is copying to the exodus user .config/gplaycli directory (https://github.com/Exodus-Privacy/exodus/blob/v1/Dockerfile#L19), but I don't understand the `[user]` in your error message, can you show us your modification in the Dockerfile ?

Thanks

[2019-01-03 13:35] Guiraud commented on #140
not much really just replaced my name in the home path.
But I think I shouldn't have. the RUN applies to the container only, isn't it ?

[Dockerfile.txt](https://github.com/Exodus-Privacy/exodus/files/2723858/Dockerfile.txt)

[2019-01-03 13:55] codeurimpulsif commented on #140
Ok, yes the RUN only apply inside the container, you don't have to replace anything.
You can get a new clone of the repo and retry it (but actualy you can get an error relative to this issue https://github.com/Exodus-Privacy/exodus/issues/141 we're working on it)

[2019-01-04 00:08] jawz101 commented on #126
I've made a bunch of changes this weekend to a lot of entries on the etip site, including adding several additional subdomains for sites.  In this example screenshot, does Exodus look for network signatures using regex or full domains?  Could all of the <subdomain>.adcolony.com's simply be replaced with `.*\.adcolony\.com.*` or `.*adcolony.*` ?  If so, I would think several rules could be shortene

[2019-01-07 22:37] jawz101 commented on #40
Over the past couple of weeks I've done quite a bit of work on the etip site.  Filled in a lot of blanks on existing signatures and added maybe 20-40... I can't tell.  Anyways, has anyone from the project taken a look at them?

I'd like to fix my mistakes if I did anything incorrect.  My main concerns are the format of the regex on the network signatures as well as what we do if the build.gradle e

[2019-01-16 19:49] pnu-s commented on #125
Closing this as the referenced issue is fixed.

[2019-01-16 19:49] #125 closed, assigned to nobody

[2019-01-17 19:11] pnu-s commented on #136
The UAID of old applications have been re-calculated, closing this issue now.

[2019-01-17 19:11] #136 closed, assigned to nobody

[2019-01-19 13:49] Offerel commented on #22
I couldn't found such a list. Is there something available?

[2019-01-20 10:17] pnu-s commented on #141
The 1.0.15 release was rebuilt so this issue should be fixed.

[2019-01-20 10:17] #141 closed, assigned to nobody

[2019-01-20 10:18] pnu-s commented on #140
FYI #141 is now fixed

[2019-01-20 10:43] treyssatvincent opened #142 "Improve the public utility of exodus by improving its SEO"
I think that the project would have a greater impact with a better SEO.

For example, by improving the SEO of reports, a user of an application could more easily find the report without knowing exodus-privacy project.

- A dynamic title tag (for example, applications names on the reports pages `name of the app - εxodus`)
- Open Graph tags (#59)

If you have any others ideas we could talk about it

[2019-01-21 11:13] Walter-Maus opened #143 "Recurring "Unable to download the APK" error"
I keep getting subsequent error messages when I want to analyze this app.

AOK Bonus-App
https://play.google.com/store/apps/details?id=de.aoksystems.ma.abp.app
de.aoksystems.ma.abp.app

Could you please be so kind and help me?

https://reports.exodus-privacy.eu.org/en/analysis/89457
https://reports.exodus-privacy.eu.org/en/analysis/89458
https://reports.exodus-privacy.eu.org/en/analysis/89459

[2019-01-22 19:03] pnu-s commented on #143
Hi @Walter-Maus
Unfortunately, exodus is unable to download the application APK (as the error message rightly says).
Checking manually on Google Play, there is indeed no "Install" button on the application page:
![image](https://user-images.githubusercontent.com/6069449/51558835-bbfbcf80-1e80-11e9-92c8-f11df7b88125.png)

I guess there is some kind of restriction which prevents us from downloading

[2019-01-23 13:32] jawz101 commented on #40
Well, fwiw, I've kept adding more and occasionally looked at existing entries.  For example, Unity Ads is likely underreporting.  After reviewing their developer documentation, a code signature of com.unity3d.ads would just pick up their legacy sdk version.  Their newer sdk would be com.unity3d.services.

[2019-01-25 14:14] aunwin opened #144 "Error in layout when displaying # of permissions"
When the number of permissions for an app is higher than a 2-digit number there is a layout-bug that displays the numbers underneath each other. I could observe this in the general overview as well as the details page to a specific app. Google Play-Services is one example that has >100 permissions.

On my Laptop I could also observe a similar behaviour on https://reports.exodus-privacy.eu.org/en/r

[2019-01-25 16:55] jawz101 commented on #40
fwiw, I've kept adding more and occasionally looked at existing entries. For example, Unity Ads is likely underreporting. After reviewing their developer documentation, a code signature of com.unity3d.ads would just pick up their legacy sdk version. Their newer sdk would be com.unity3d.services.

Now I'm taking a look at some of the apps exodus lists as having no trackers and finding ones missed :

[2019-01-25 16:58] jawz101 opened #145 "No Filter list doesn't work after 1st page."
https://reports.exodus-privacy.eu.org/en/reports/?filter=no_trackers

it lists about 15,000 apps up top , click page 2 and the url strips out the filter and shows any of the 57,000 apps including ones w/ trackers.

returns
https://reports.exodus-privacy.eu.org/en/reports/?page=2
when it should return
https://reports.exodus-privacy.eu.org/en/reports/?page=2&filter=no_trackers
or
https://reports.exo

[2019-01-25 19:36] pnu-s commented on #145
Thanks @jawz101 for the report.
We already identified the issue but it was untracked AFAIK. A fix is already in development, we'll try to push it soon.

[2019-01-26 11:55] pnu-s commented on #144
Hi @aunwin and thank you for reporting this issue.

If you are talking about the android application, I already reported the issue here: https://github.com/Exodus-Privacy/exodus-android-app/issues/42

I suppose you are talking about the following issue (https://reports.exodus-privacy.eu.org/fr/reports/search/com.zerogravity.booster/). We'll see to fix this.
![image](https://user-images.githubuserc

[2019-01-26 21:48] #140 closed, assigned to nobody

[2019-01-26 21:53] codeurimpulsif commented on #142
It's a good idea and I think we can speak about this on the issue #59 too :)

[2019-01-27 19:12] aunwin commented on #144
@simpnu, exactly that was what I was talking about. Somehow I missed your reported issue. Sorry for that.

Dublicate of  Display bug with 100+ permissions #42

[2019-01-27 19:15] aunwin commented on #144
@simpnu, exactly. Both were what I was talking about. Somehow I missed your reported issue. Sorry for that.

Dublicate of  #42  Display bug with 100+ permissions

[2019-01-28 09:36] Walter-Maus commented on #143
Could it be possible that it is only available or downloadable in Germany?

[2019-01-28 21:43] pnu-s commented on #143
Most probably yes.
If you need to analyze this application, you can find a way to download the apk manually and use exodus-core (https://github.com/Exodus-Privacy/exodus-core) to scan it.

[2019-01-29 10:10] Walter-Maus commented on #143
I was able to download the APK file. Unfortunately I can't check it because I don't have a Linux operating system. Can I make the file available somehow, so that you have the possibility to check it?

[2019-01-30 20:52] pnu-s opened #146 "Merge both FAQs"
Merge both FAQs into the github Wiki and put a link to it on the README:
- https://github.com/Exodus-Privacy/exodus/blob/v1/doc/faq.md
- https://github.com/Exodus-Privacy/exodus/wiki/FAQ

[2019-01-30 21:57] pnu-s commented on #40
Hi @jawz101 !

Thanks a lot for your work (and sorry for the late reply), **it is greatly appreciated by the Exodus Privacy team** :). Unfortunately we have not got the time recently to look through the new entries in ETIP and import the data from ETIP to exodus. We plan to work on this and will **try** to find some time in the coming weeks but this is quite a tedious task.

As it is explained on

[2019-01-30 22:01] pnu-s commented on #40
We are now closing this issue.

**If you want an ETIP account**, feel free to send an email to [etip@exodus-privacy.eu.org](mailto:etip@exodus-privacy.eu.org) specifying your desired username + email address and we will send you a temporary password. Once registered, you will be able to freely contribute to the tracker identification process.

Thanks again to everyone contributing to the tracker i

[2019-01-30 22:01] #40 closed, assigned to nobody

[2019-02-03 20:47] pnu-s commented on #137
I added [org.mozilla.focus](https://play.google.com/store/apps/details?id=org.mozilla.focus) to this issue because it suffers now from the same issue (and comes from the same editor).

Note that the other applications from Mozilla seem ok as far as I can see.

[2019-02-08 07:51] #143 closed, assigned to nobody

[2019-02-08 14:24] tdelmas commented on #107
Exodus could detect with the static analysis `meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />` in the `AndroidManifest.xml`

Cf https://firebase.google.com/support/guides/disable-analytics

Then it could stop report `Firebase Analytics`. Eventually it could report `Firebase`

[2019-02-12 00:07] Rixon-gh commented on #128
![screenshot_20190212-000404](https://user-images.githubusercontent.com/10965069/52602239-cb57b280-2e59-11e9-97a1-57126b2bdcb3.png)

com.app_aesimonz.layout

I noticed Aurora (material fork of Yalp) is also having trouble connecting to play, I guess they're shaking things up deliberately - YouTube is also making things difficult for NewPipe/etc.

Edit: just realised #143 is newer, not sure whether

[2019-02-12 22:37] pnu-s commented on #128
Hi @Rixon-gh
This was due to an unrelated issue from our side (an issue with our token dispenser which prevented us from downloading APK automatically). This is now fixed so it should work fine :).

https://reports.exodus-privacy.eu.org/en/reports/60225/

[2019-02-17 14:07] pnu-s opened #147 "Limit number of results of found reports from submit page"
When you try to submit a new analysis, exodus will display you all the existing reports for this application. I think we should limit the number of reports shown to the last 5 or 10 because right now if you have a long list of reports it requires you to scroll down to find the submit button.

example: "com.google.android.youtube" on https://reports.exodus-privacy.eu.org/fr/analysis/submit/

[2019-02-17 14:24] pnu-s opened #148 "Display glitch on the submit page"
There are currently a couple of "glitches" on the submit page, with the part containing the found reports hiding and showing up.

Should be able to reproduce the following ways:
- go to https://reports.exodus-privacy.eu.org/fr/analysis/submit/
- paste "com.google.android.youtube" in the text field
- the found reports should appear
- leave the text field
- the found reports should disappear and app

[2019-02-17 14:30] pnu-s commented on #86
I'm closing this issue for the reason stated just above.

[2019-02-17 14:30] #86 closed, assigned to nobody

[2019-02-22 21:52] nautik1 opened #149 "Suggest actions on the report page"
Hey guys,

Came across the video of your conference at Fosdem (great one by the way) and thought one of the questions at the end was actually a very nice suggestion for the exodus website.
The question was something like "ok, I see reports, then what? What's my next move?". And the answer was probably things people don't think about (using mobile website...).

I know the idea is to let the user ma

[2019-02-23 17:10] pnu-s commented on #62
The related script is /exodus/reports/management/commands/refreshstaticanalysis.py

I think we could add an option to output for instance the list of changed reports in a csv file.

[2019-02-23 17:14] pnu-s commented on #126
@jawz101 I created a new issue with your message in the etip repository (tbh it probably could fit in both repo but I think it will be easier to discuss it there :))

Closing this issue as the bug is now fixed in production.

[2019-02-23 17:14] #126 closed, assigned to pnu-s

[2019-02-23 17:15] pnu-s commented on #145
Fixed in production

[2019-02-23 17:15] #145 closed, assigned to pnu-s

[2019-02-23 17:51] pnu-s commented on #107
Hi @tdelmas,
I think the answer from @Gu1nness explains well why we cannot do such a thing.

[2019-02-23 18:13] pnu-s commented on #149
Hi @nautikos1235 !
Thanks for your message :).

I personally like this idea as this is often a question coming up at the end of our talks. This being said, there are 2 important points to keep in mind:

**1) The content of this "suggestion"**
- We need to be careful about it as we want to maintain our neutrality.
- We don't really have an "alternative application" list (this is already an ongoing

[2019-02-24 10:02] nautik1 commented on #149
Having it on the report page directly allows contextual info such as a mailto link to the developer or fetching similar apps and display them with trackers summary; contextual info can brings more value to the user compared to generic FAQ page,
But it's more complex and requires more maintenance. I guess it will be the choice of the dev implementing it ^^
Generic faq text is indeed a very good 1st

[2019-02-24 13:02] pnu-s commented on #105
@IzzySoft this has been released to production yesterday.
Note that the sorting is done on the application version number, hopefully this works out in most cases.

[2019-02-24 13:59] IzzySoft commented on #105
Thanks @simpnu! Though in my experience, sorting by versionName (if that is what you mean) is not always successful (e.g. "1.3 fdacbf" is larger than "1.4"). So I hope you mean versionCode – as that should be fine (unless the author forgot to increase it, which I saw quite some times at Github/GitLab).

[2019-02-25 19:12] jawz101 opened #151 "Request a place where we can upload the tracker company's logo"
It would be neat to have a way to eventually visualize a company's reach:

![screenshot_v3](https://user-images.githubusercontent.com/14151703/53362102-52fcf100-3931-11e9-9cc7-736095633da4.png)

[2019-03-06 16:41] victore447 opened #152 "trailer links does not work in the Exodus video plugin."
Hello,
what's this Exodus-privacy.

Unlike the video vstream plugin (Link https://github.com/Kodi-vStream/venom-xbmc-addons), the movie trailer links, TV series .. do not work in Exodus (kodi18.1 then closes ).

Moreover in exodus there are no links "movies, TV series .. similar etc. .." when you click on videos unlike the vstream plugin.

If it is me who exploits badly exodus there is there an an

[2019-03-06 19:05] pnu-s commented on #152
Hi,
We do not have anything to do with the Exodus plugin for Kodi / XMBC :).

[2019-03-06 19:05] #152 closed, assigned to nobody

[2019-03-08 12:48] lukefor commented on #92
Why on earth is this closed as not an issue when it blocks the fundamental functionality of this application?

It prevents the scanning of `com.justeat.app.uk` among others

[2019-03-08 12:57] lukefor opened #153 "APK submission fails with "Unable to compute APK fingerprint""
This is on the official instance of Exodus

APK package names:

[code]

[2019-03-08 20:14] pnu-s commented on #153
This is actually related to https://github.com/Exodus-Privacy/exodus-core/issues/14

I managed to run the analyzes on my local instance of exodus with a fixed version of exodus-core. This issue has been hanging for some time now so I'll try to take a look at it, but we cannot promise any release date (as we're all volunteers :)).

You can find below the reports I got with my local instance:

![ima

[2019-03-09 02:48] openffchrome opened #154 "do not detect bugsnag?"
exodus do not detect bugsnag present in apps such as standartnotes https://reports.exodus-privacy.eu.org/en/reports/search/com.standardnotes/

thanks.

[2019-03-10 17:59] RAMAR-RAR opened #155 "APP FEATURE"
Add an area where is written the total of trackers installed on the applications

[2019-03-11 18:39] pnu-s commented on #153
Duplicate of https://github.com/Exodus-Privacy/exodus/issues/132

[2019-03-11 18:39] #153 closed, assigned to pnu-s

[2019-03-11 18:40] pnu-s commented on #132
Lots of these issues seem related to https://github.com/Exodus-Privacy/exodus-core/issues/14

[2019-03-11 18:41] pnu-s commented on #149
@nautikos1235 We are currently discussing the content of such a page.
Note that this will be (at least at first) not related to a specific report but more like generic guidelines. It still can be linked in each report (probably will).

[2019-03-11 18:44] pnu-s opened #156 "Add information about trackers in tracker list"
I think we could add more information in the page listing the different trackers:
https://reports.exodus-privacy.eu.org/fr/trackers/

I'm thinking about the following:
- tracker name (already present)
- number of reports with the tracker
- tracker website

[2019-03-11 18:46] pnu-s opened #157 "Trackers without code signature"
A couple of trackers do not have any code signature (and therefore do not have any value currently in exodus).

Example:
Widespace - https://reports.exodus-privacy.eu.org/fr/trackers/14

[2019-03-11 18:49] pnu-s opened #158 "Refreshstaticanalysis script crashes with malformed reports"
The script refreshstaticanalysis.py crashes with reports which are malformed (for instance when they do not have any application linked).

We should:
1) add try/catch bits to make sure it doesn't crash and continue its execution
2) log somewhere how many of such reports we have in order to clean them

[2019-03-12 13:00] Gu1nness commented on #156
Sure.
I'm also thinking about the detection rule maybe ?

[2019-03-12 21:48] pnu-s commented on #156
@Gu1nness I think it's slightly less useful than the other information but sure, if it can fit why not :).

[2019-03-16 18:05] jawz101 opened #159 "a place to identify what permissions a tracker requests"
We currently analyze an app to show what manifest permissions the app has but trackers document what manifest permissions they require or can use.

This would require digging through the documentation on the SDK pages but I think it's important and useful to see what manifest permissions might be solely required by a tracker.

"I have a game that requests location permission but there's no reason

[2019-03-16 18:12] jawz101 commented on #157
Why does it seem like no one else is working on this project anymore except you? :(

[2019-03-17 09:59] pnu-s commented on #157
Hopefully that's not the case :).

[2019-03-17 10:05] pnu-s commented on #157
Trackers without code signature:

- CrowdTangle - https://reports.exodus-privacy.eu.org/fr/trackers/46/
That seems to be only an API, which explains why there is no code signature. As exodus is not doing any network analysis for the time being, I'm tempted to remove it from here (and keep it in etip).

- JWPLTx - https://reports.exodus-privacy.eu.org/fr/trackers/19/
No information, a "Need work" c

[2019-03-17 10:38] ghost commented on #157
We are several people on the project. @simpnu is more close to the code, but we all work on etip (to validate trackers before include them into the Exodus database, it's a huge work which take a lot of time).
You can have a look to https://exodus-privacy.eu.org/en/page/who/ to have an idea of who we are and what we do in the organization.

[2019-03-18 03:30] jawz101 commented on #157
on the jwpltx one I believe I noticed that one had no information a few months ago an fleshed out its details as JW Player is the real name of it and filled in the rest of its information (code sig, more network info.)  It's a video player mostly found on websites that looks like it can include monetization.

Regardless, the details currently on eTip should make it now detect apps if they do use i

[2019-03-18 10:44] ghost commented on #157
Not sure if this is useful but I have been contributing to this repo of tracker profiles on the yale github -  https://github.com/YalePrivacyLab/tracker-profiles

[2019-03-18 14:55] jawz101 commented on #157
@kaputnikGo I wish we could consolidate the 2 sources because I see you add more company policy details over there while I upload to etip.  These 2 projects are supposed to be in a partnership yet there's a disconnect when it comes to using a shared source for tracker info.

I then get pm's on xda-developer from someone working on ClassyShark3xodus (though not an official app) who is then also wor

[2019-03-18 21:44] pnu-s commented on #157
@jawz101 @kaputnikGo We are aware that this is an issue and we are currently discussing with people from the Yale Privacy Lab in order to make this more convenient for everyone. Thanks for your efforts on this matter, know that they are recognized and definitely useful :).

[2019-03-19 11:22] ghost commented on #157
@jawz101 @simpnu  the yale repo is easiest for me as i prefer the relative simplicity of github.  also i am only really interested in finding and researching audio beacon NUHF/ACR sdks and methods but if i find a new tracker along the way then i think its useful for me to add this new "basic tracker" info to the yale repo as i have been doing. This way it may be found by someone that uses etip and

[2019-03-19 14:58] jawz101 commented on #157
er... yeah I've taken more of a wide view and hope there is a legal expert who can interpret the privacy-invasions.

But it's all ended up on eTip since it's arranged as discrete data elements.  The merit with the defined fields in eTip means it could be consumed by other programs, sorted, & filtered.  That's why I hadn't been using the YPL list.

[2019-03-19 16:07] jawz101 commented on #157
another source of 3rd party libraries detections I just came across https://gitlab.com/IzzyOnDroid/repo/blob/master/libs/libsmali.txt

Many are just developer utilities (I need to add a barcode scanner or a spinner widget) but it's a nice reference.

[2019-04-02 14:59] jawz101 commented on #156
& logo would close this :)
https://github.com/Exodus-Privacy/exodus/issues/151

[2019-04-14 16:14] yoshimo opened #162 "Encoding troubles with certain symbols"
Some people like to use quotes in their version names
for example the monerujo app  ( com.m2049r.xmrwallet )
As long as website and exodus app have this representation:

Version: 1.11.5 &apos;Chernushka&apos;

The scan results will always tell you: this version hasn't been scanned.

[2019-04-16 14:43] Schoumi opened #163 "Submit with redirection parameter"
I will add a submit button in the android app that open the browser to let the user ask an analyse.

It will be great if the redirection to the report depends on a parameter in the url like this:

https://reports.exodus-privacy.eu.org/fr/analysis/submit/#com.some.package&redirect=somescheme://

in normal case the redirection is https:// one in case redirect parameter is provide the scheme will be

[2019-04-17 21:30] pnu-s opened #164 "Add filters to trackers table in admin page"
We need to add to the exodus trackers admin page similar features than we recently added to the etip admin page (filter by name, more columns, etc.)

[2019-04-18 19:26] #77 closed, assigned to nobody

[2019-04-18 21:11] pnu-s commented on #132
Unfortunately I thought these issues will be solved today but we got another issue with the icon downloading. See Exodus-Privacy/exodus-core#14 for more details.

[2019-04-23 20:16] pnu-s opened #165 "Add tests for the API"
I think it should be fairly simple to add a couple of basic tests for the API, to make sure we do not make any breaking changes (as it already happened).

[2019-04-26 21:10] jawz101 opened #166 "add VirusTotal and Koodous links on the report page"
I had a thought just now.  I don't know if each apk gets a SHA256 hash created during analysis but it would be kinda neat if on a [report page](https://reports.exodus-privacy.eu.org/en/reports/37426/) it had links to both a VirusTotal report and a Koodous report page for that apk.

That way users can see if other scan engines have found anything else within the app or maybe they can be uploaded th

[2019-04-29 09:26] lepidoptere opened #167 "Unable to download the apk when triggering an analysis"
The id app is fr.hypromat.hyprosmart . I tried several times to trigger the report on it for some weeks know and error message is always the same : Unable to download the APK.

I down if it concerns only this app, I wondering...

[2019-04-30 11:55] pnu-s commented on #167
Hi @lepidoptere and thanks for opening this issue.
This seems to only affect some specific apps, including this one. We're aware of this issue but for now we don't know why gplaycli is unable to download this apk.

[2019-05-03 07:49] PrivacyMatters commented on #92
Hi, 'Unable to compute APK fingerprint' does still happen and is an issue for those seeking to use the excellent Exodus Privacy tool. I tried to use exodus to analyse this app https://play.google.com/store/apps/details?id=com.nhs.online.nhsonline but get an a response 'unable to compute APK fingerprint' https://reports.exodus-privacy.eu.org/en/analysis/120461 Any idea if a fix is possible? Many th

[2019-05-03 11:28] pnu-s commented on #92
Hi @PrivacyMatters !
We're aware of the issue (see https://github.com/Exodus-Privacy/exodus/issues/132) and it is fixed in exodus-core 1.0.17 (we thought it would be fixed in 1.0.16 but got some unexpected changes in the meantime).
We still need to perform additional tests to make sure the integration of core 1.0.17 will be smooth and then the issue should be fixed.

[2019-05-03 11:33] pnu-s commented on #149
@nautikos1235 Just a head's up to say that we are still working on this, discussing the content and the UI of this page.

[2019-05-04 20:27] doublah commented on #137
also affects mozilla.lockbox

[2019-05-06 12:02] pnu-s commented on #103
I'm closing this issue because the UI will be completely remade and I don't think so we will invest time in improving the current mobile UI.

[2019-05-06 12:02] #103 closed, assigned to nobody

[2019-05-07 14:48] kouinkouin commented on #167
If that can help for debugging, same error with `be.bmid.itsme`

[2019-05-16 16:56] pnu-s commented on #48
Hi @seandiggity
I'm taking a look at this now because we will probably need to add some features to the API for a new revamped version of Exodus.

Does the current API call https://reports.exodus-privacy.eu.org/api/search/fr.meteo satisfy your needs ? If not, what would you like to see ?

[2019-05-31 22:24] #132 closed, assigned to nobody

[2019-06-01 18:15] yoshimo opened #168 "Exodus can't download apps that are only offered for specific devices"
When you try to update the analysis for some apps, like taxi.android.client exodus says "report already exists for the downloaded version" which may be true  but the scan service doesn't get all version.
According to the playstore you can or cannot offer a certain app version depending on the device.

Therefore the download service should have a fluent identity and mask as different devices with d

[2019-06-05 11:35] pnu-s opened #169 "Provide badges with trackers count"
We have been asked if we could provide badges to allow developers to display the number of trackers embedded in their applications. We could use https://shields.io/ for that purpose.

We need to discuss the implementation possibilities:
- create a badge hosted on exodus for each application and based on the latest version
- create a badge locally using exodus-standalone
- other ?

### Examples:
<i

[2019-06-09 12:11] pnu-s commented on #146
Done in https://github.com/Exodus-Privacy/exodus/commit/90867a1a09ab539131c8fe2fad7dc897201ffb80

[2019-06-09 12:11] #146 closed, assigned to nobody

[2019-06-10 19:39] ammelanie commented on #121
I was trying to add some tests on exodus, and it seems that there are some missing migration files will be needed to setup the database for tests

[2019-06-16 15:33] Krawei commented on #137
It also happends in "org.mozilla.klar" .

Is there a fix to come?

[2019-06-17 11:27] pnu-s commented on #158
Solved in v1.2.2

[2019-06-17 11:27] #158 closed, assigned to nobody

[2019-06-17 11:27] pnu-s commented on #164
Solved in v1.2.2

[2019-06-17 11:27] #164 closed, assigned to pnu-s

[2019-06-17 11:29] pnu-s commented on #121
I'll try to take a look at this. I think I need to add these files with the exact same name they have in production otherwise it may cause an issue somewhere.

[2019-06-17 11:32] pnu-s commented on #167
@kouinkouin The issue seems to be fixed for `be.bmid.itsme` with the latest version of exodus-core (which is now in the live instance)

[2019-06-17 11:46] pnu-s commented on #137
Thanks @doublah and @Krawei for the report.
Unfortunately, as I previously said, we didn't have time to investigate more in details this issue.

For the record, the applications **affected by this problem** are the following:
- org.mozilla.testpilot.notes
- mozilla.lockbox
- org.mozilla.focus
- org.mozilla.klar
- org.mozilla.screenshot.go
- org.mozilla.firefoxsend

Are **not affected**:
- org.mozi

[2019-06-17 12:13] kouinkouin commented on #167
@simpnu exact, thanks!

[2019-06-17 17:26] pnu-s commented on #137
I made a quick investigation and this comes from the old version of androguard we are using. Using androguard > 3.2.0 solves this issue.

This being said, integrating androguard > 3.2.0 into exodus-core requires some modification of the module, but we will look into it soon.

[2019-06-23 10:55] Porkepix opened #170 "Translated app names should be stored for user to search for them"
Some applications have translated names, therefore changing depending on OS configured language (you can see for example on the screenshot on https://github.com/Exodus-Privacy/exodus-android-app/issues/56 applications named "Google Play Livres" or "Google Play Musique")

Due to that, users wouldn't be able to look for the application names they actually see on their phone, it wouldn't match anythi

[2019-06-24 14:39] ghost opened #171 "Missing logout in Admin menu"
Once connected as admin, there is no simple way to logout. Added a logout item in the Admin menu will be great.

[2019-06-24 18:01] pnu-s commented on #171
Note: a simple link to /admin/logout should do the trick :)

[2019-06-27 06:57] Bramzor opened #172 "Not all trackers are that bad"
To give an example. Some trackers are aimed at improving user experience and do care about privacy. But I noticed that even these trackers are counted as being bad?
For example Countly, the tracker we use and run on premise just to protect our users their privacy while still being able to improve the app.

A lot of trackers/analytics/saas startups (I myself know at least 3) are aiming to allow som

[2019-06-27 07:49] codeurimpulsif commented on #172
Exodus never say if a tracker is "bad" or even "good", trackers listed in exodus are added according to the following definition :
[code]
If a tracker is "good", it's in fact always a tracker.

[2019-06-27 11:42] pnu-s commented on #137
Reopening this because it isn't solved until we release a new version of exodus-core and integrate it into exodus

[2019-06-27 15:33] Bramzor commented on #172
Ok, but why are they shown as orange/red? Because that clearly states they are bad. Maybe there should be a 4th color when only trackers are used that are privacy centric. (So obviously not for trackers like Google Analytics, Flurry, FB, etc.) But for trackers that do not leak any tracking info to 3rd parties.

[2019-06-30 14:10] maroneze commented on #168
After some offline discussions, it seems this is due to the priority given to the servers downloading the apps, which go in ascending Android API order. Inverting this order could help newer devices, but then it could prevent older versions from being downloaded. It's not trivial to know which version to get without having the Android version, or asking the user to provide a version number. In bot

[2019-06-30 15:31] yoshimo commented on #168
Maybe you could also do an apk upload as expert mode. Rooted devices can carve out the application from the file system . That might also help with scanning apps that people paid for.
Those can still include trackers as i noticed recently.

[2019-06-30 16:01] pnu-s commented on #172
@Bramzor The trackers individually are not shown as orange/red, the color is only here to give a quick view on the number of trackers (see https://exodus-privacy.eu.org/en/page/faq/).

We cannot (**and don't want to**) identify whether a tracker is "privacy centric", bad or good, as @codeurimpulsif said :).

[2019-06-30 16:04] pnu-s commented on #168
We developed a tool for that purpose: https://github.com/Exodus-Privacy/exodus-standalone This is not 100% ideal but it should do the trick. I think anyone who is able to carve out an application from its file system can use exodus-standalone to scan it :).

[2019-06-30 16:17] yoshimo commented on #168
It probably keeps the results local too which won't benefit other users, will it?

[2019-07-01 02:13] Bramzor commented on #172
May I suggest changing the color and not showing it as red once you have one or more trackers as you mention that the goal is not and will never be to identify any trackers as bad or good. But showing it as red when you have some traces of a tracker seems a bad idea. If you do not want to identify trackers as good or bad (I get why you do not want to do that), maybe you should point to the number

[2019-07-01 02:20] ghost commented on #172
I think the point is being missed: all trackers are 3rd parties regardless of "good" or "bad", and whether or not they exist in an app is all that matters here. Exodus informs the user about these things, and its up to the (lay) user to contextualise that info however they see fit.

[2019-07-01 03:30] Bramzor commented on #172
I understand the confusion.
However, not all trackers are 3rd parties. There are examples where the software used for tracking is running in the same private cloud as the app and the data is owned by the app itself. So a 3rd party would not have any access to this content, neither has visibility on anything that can identify a person like for example an IP address.
So currently these so-called "tr

[2019-07-01 08:30] ghost commented on #172
but you are talking about one use-case, your own. with an app and tracker using the same cloud storage etc.
what about all these apps:
https://reports.exodus-privacy.eu.org/en/trackers/122/

[2019-07-01 11:13] pnu-s commented on #168
@yoshimo You're exactly right. What I meant is that the possibility to scan these apps exists, although it is not ideal.

This being said, I'm not sure an "apk upload" feature is really something we want to implement because of all the complexity it would imply (note that I'm just talking for myself here).

[2019-07-01 11:21] pnu-s commented on #172
That's not exactly the case. The badge is showing red only if there are 5 trackers or more, not just 1. If you have between 1 and 4 trackers, it will show yellow. Note that this indeed an arbitrary scale.

Unfortunately it is more complex than that. Take Matomo (previously named Piwik): https://reports.exodus-privacy.eu.org/en/trackers/138/. This solution can be self-hosted or hosted on a 3rd part

[2019-07-01 16:51] Bramzor commented on #172
@simpnu That neutrality principle is the problem I guess. I was under the impression that the goal was to flag and score apps based on their privacy efforts against trackers. Now all the efforts that are done to run self-hosted analytics etc (like indeed Matomo or Countly, forgot the name of the 3rd one) are efforts that cannot be scored. (Maybe "Network signature" could be used for that?)

We tho

[2019-07-02 11:15] pnu-s commented on #172
@Bramzor As you can read on our website:

Our goal is therefore not to score apps but to give make the information accessible to everyone. If a person or an organization wants to use our data to score apps based on privacy respect, our data is available and we even have a REST API which can be used for that purpose. Some organizations such as [/e/](https://e.foundation/products/) are already doing

[2019-07-02 15:45] Bramzor commented on #172
Publicly explain the result would only be good if it could be added to εxodus too. Else I don't think it's a good idea to point towards tracker information you may not agree with.

Noticed that Facebook and Google apps are shown like they do not have any trackers in them. While we all know these apps are basically big trackers on their own.

[2019-07-03 11:58] pnu-s commented on #166
Hi @jawz101
I think most of the apps we have on Exodus won't be already scanned by VirusTotal.

Do you have a simple link (with an example) we could add which would:
1) show the scan if existing
2) offers to scan if not

Otherwise I'm afraid it won't be too user friendly.

[2019-07-03 20:42] jawz101 commented on #166
https://www.virustotal.com/gui/file/ --MD5/SHA1/SHA256 hash--

example:
https://www.virustotal.com/gui/file/31812363625a855f7354c6258b51be943d346ed4fa3ee715d435ac8023ca9ad6/details

https://koodous.com/apks/ --SHA256--

example:
https://koodous.com/apks/31812363625a855f7354c6258b51be943d346ed4fa3ee715d435ac8023ca9ad6

These URLS will bring up a scan result if it exists.

I just figured just making

[2019-07-06 08:27] pnu-s commented on #167
A list of other applications which cannot be downloaded:
- com.netflix.mediaclient
- com.airlinecheckins
- fr.timejump.app
- com.brave.browser

Using gplaycli 3.25 instead of 3.21 seems to fix these issues.
We'll try to release a new version of exodus-core as soon as we can.

(cc @PrivacyMatters)

[2019-07-08 18:58] #121 closed, assigned to nobody

[2019-07-08 18:59] #147 closed, assigned to nobody

[2019-07-08 18:59] #148 closed, assigned to nobody

[2019-07-08 19:00] #144 closed, assigned to nobody

[2019-07-08 19:41] #137 closed, assigned to nobody

[2019-07-12 08:58] rorowinwin91 commented on #167
Dear,

This app cannot also be downloaded :
bike.cowboy.app
Interesting app because related to connected bike putted on the market.

[2019-07-15 06:52] IzzySoft commented on #167
Since about 2 days, this happens on each and every app I tried (which was missing or outdated) – and believe me, I tried some 20..50 apps at least. I know this happens from time to time, but currently it's 100% of all apps I try – which doesn't look normal. Not a single one succeeds. Some candidates I logged:

* com.github.samotari.cryptoterminal
* com.webStrong.maker
* org.itxtech.daedalus
* com.

[2019-07-15 07:44] pnu-s commented on #167
Hi @IzzySoft !
Sorry about that, we are aware that the issue is more frequent than usual (although we were not expecting that 100% of the apps are affected).

As I said [here](https://github.com/Exodus-Privacy/exodus/issues/167#issuecomment-508907866) we need to switch to the latest version of gplaycli but we need a couple more tests to make sure this does not have unwanted consequences. We'll try

[2019-07-15 12:20] IzzySoft commented on #167
Not sure if it affects 100% of *all* apps – but definitely 100% of *all apps I've tried.* Which might well mean "both" – in which case it would be quite a blocker, so I thought to let you know.

Good to see you're already on it, @simpnu. I gladly test a bunch once you tell me to, so just ping me (e.g. here, so others can jump in as well). Fingers crossed 🤞

[2019-07-15 19:05] pnu-s commented on #167
@IzzySoft Sorry, I thought the issue you experienced 12h ago was the same we already had, although it seems like it was a different one (that's actually why I was surprised about the 100% occurrence).

Our token dispenser was not responding, now it should be solved.
Note that this is a temporary workaround (still using gplaycli 3.21) so you may still experience some download issues, but hopefully

[2019-07-15 19:11] IzzySoft commented on #167
Thanks @simpnu – I just wanted to update it with "really 100%" (as I had a bunch more today) – but indeed you seem to have run my above list already. I've sneaked in one candidate that failed earlier (when everything was still running) which still fails, but that was expected from that little "control group". Great seeing the major issue solved – and looking forward to the updated gplacli when eve

[2019-07-15 19:15] pnu-s commented on #167
Great to hear :) (although the one to thank for solving this issue is @codeurimpulsif ;))

We'll keep you (and everyone) updated about this issue here.

[2019-07-15 20:52] #167 closed, assigned to nobody

[2019-07-15 21:13] pnu-s commented on #167
A new version was deployed some minutes ago and the issue should be solved by now.
Thanks everyone for reporting the issues you encounter on exodus :)

[2019-07-15 21:19] pnu-s opened #179 "Limit pagination to fewer elements"
Currently some pages on exodus are paginated with a limit set to 72 elements.
I personally think this number could be reduced (at most to 50, could even be set to 20 in my opinion).

WDYT?
(cc @codeurimpulsif @Gu1nness @U039b)

[2019-07-15 22:34] IzzySoft commented on #167
That kicked it quite a lot! Afraid I just flooded your queue a bit – but it seems I flushed mine :smiley: Above behaviour seems to be inverted now: instead of 100% misses, I get close to full success! Good work, thanks to all who participated! :medal_sports: :100: :+1:

Are you still interested in getting "unsuccessful downloads" reported? I'm still getting some (e.g. com.beta.bcard, com.medisafe.

[2019-07-16 11:59] pnu-s commented on #167
That's a good question. :)

Most of these issues will probably be individual cases, such as applications with restriction (location, device model, etc.) so they won't be trivial to fix.
It still can be interesting to list those, but to be honest with you there is no guarantee that someone will have time to investigate these cases.

This being said, we have a project to improve error reporting and

[2019-07-16 20:30] IzzySoft commented on #167
OK, then lets not fall into the same trap our politicians do (increasing the haystack to find the very same needle) – if noone can follow up, it's wasting time (on both ends).

Looking forward to what your last paragraph promises, though; and maybe if that's collected (and stored in a database) some automatic pattern search (and testing) can find more partial solutions (e.g. "This is the error we

[2019-07-22 12:02] #171 closed, assigned to nobody

[2019-07-26 12:25] aymanakt commented on #167
Hi There..
I get the "Unable to download the APK" error on com.unfacd.android

[2019-07-26 12:34] IzzySoft commented on #167
@aymanakt There are still several apps where that happens. I guess collecting the names here in the issue is not that optimal.

@simpnu are you logging those (together with a time stamp and the gplaycli version, for example – and ideally into a database table)? That would make them easy to follow-up and re-test.

[2019-07-29 20:13] pnu-s commented on #167
@aymanakt The problem with this app is that there download restrictions. If I personally go to the application page on the store, I do not even have an "Install" button. Therefore this app cannot be downloaded easily from the Play Store programmatically.

![image](https://user-images.githubusercontent.com/6069449/62078794-a57a6a80-b24d-11e9-9d74-a19bc771daf2.png)

@IzzySoft That's an interesting i

[2019-07-30 09:03] rorowinwin91 commented on #167
@simpnu and what about bike.cowboy.app ?  Thank you for your answer.

[2019-07-30 11:36] pnu-s commented on #167
@rorowinwin91 I had to retry a couple of times but it finally managed to work: https://reports.exodus-privacy.eu.org/fr/reports/87806/
Maybe we need to add more retries in the download loop.

[2019-07-30 14:13] lofidevops commented on #169
@simpnu It would be great to have a similar "permissions" badge, and a link that always resolves to the latest report (so that interested users can dive right in).

[2019-07-30 14:25] lofidevops opened #184 "[query] Option to analyse source code when available?"
Is there a mechanism that allows apps with source code available (i.e. libre licensed) to make that code available for further analysis? For example, specifying a link to a Git repo.

This might also allow you to include a subset of iOS applications, those that have source code under a libre license, for example:

https://apps.apple.com/us/app/amaroq-for-mastodon/id1214116200

https://github.com/R

[2019-07-30 17:14] rorowinwin91 commented on #167
@simpnu thank you very much for your support.  # newbiindaplace

[2019-07-30 21:10] pnu-s opened #185 "Extend retry loop for download apk function"
We have a couple of applications for which we get a "Unable to download the APK" error but after a couple of retries it just works.

Adding more retries on my local instance seems that it allows to avoid most of these issues.

I think we should either add new device names or add a loop over the existing list of device names.

Related function is `download_apk` in `exodus/exodus/core/static_analysi

[2019-07-31 03:22] ghost commented on #185
Sounds like a good idea.

[2019-07-31 09:00] codeurimpulsif opened #186 "Upgrade pyshark to avoid deprecated dependency"
Pyshark 0.3.7.11 has a deprecated dependency : Trollius.

We can upgrade pyshark to version 0.4.2.4 and remove trollius.

[2019-07-31 11:02] #186 closed, assigned to codeurimpulsif

[2019-08-03 10:11] pnu-s commented on #95
Finally took a look at this and used your suggestion in #189 (adding the `hidden-print` class did not seem to work)
Thanks a lot @mmuman! :)

[2019-08-03 10:20] pnu-s commented on #142
I think the dynamic title tag is an easy thing to do.

**I'm not sure whether we should use the application handle or the application name**, which can be long. Is there any rule about title tag length? Should we also add the report ID? Otherwise we would have multiple page with the same title tag (all reports for the same application).

I can make the change easily once we settled on these topics

[2019-08-03 10:21] mmuman commented on #95
Great, thanks!

[2019-08-03 10:22] mmuman commented on #95
Guess we can close it.

[2019-08-03 10:22] #95 closed, assigned to pnu-s

[2019-08-03 12:37] pnu-s commented on #7
I'm gonna close this issue now because the possibilities to sort by number of trackers and by date are now available in https://reports.exodus-privacy.eu.org/fr/reports/

With our current number of reports (more than 80k), a sortable table with jQuery seems hard and I'm not sure an alphanumerical ordering would make a lot of sense.

[2019-08-03 12:37] #7 closed, assigned to nobody

[2019-08-05 11:07] treyssatvincent commented on #142
I'm not sure to understand these terms, if application handle mean the machine-friendly name (`com.spotify.music` for example) and application name the human-friendly name, definitely the application name.

Not that I'm aware of, but after a certain length it's ignored by engine search front-end (and probably index.

I think that the app version would make more sense.

[2019-08-05 11:31] pnu-s commented on #142
Sorry, I should have been more explicit, but you guessed it right :).

So if I understand correctly what you are proposing, it would be something like the following:

1. For the list of reports:
`Reports - <app handle> - εxodus`
**example:**
https://reports.exodus-privacy.eu.org/fr/reports/search/com.spotify.music/
Reports - com.spotify.music - εxodus

2. For a specific report:
` Report - <app nam

[2019-08-05 11:51] treyssatvincent commented on #142
Sure, and it's a convenient way to differentiate the two pages.

Your suggestions seems good !

Maybe consider a more verbose version such as :
`<app handle> reports archive - εxodus`
example : com.spotify.music reports archive - εxodus

and

`Report for <app name> <app version> - εxodus`
example : Report for Spotify: Free Music and Podcasts Streaming 8.5.17.676 - εxodus

Also, adding "privacy" af

[2019-08-06 11:32] pnu-s commented on #142
You're right, "εxodus" is the name of the platform and "Exodus Privacy" of the association, so I think it is better not to add a confusing "privacy" in the title tag. Maybe we could call it a `Privacy report`, but tbh I'm not entirely sure we want to do this.

I am personally not a bit fan of the `reports archive` name, I would prefer something like `reports  list` (if `reports` alone is not suffi

[2019-08-06 11:44] Porkepix commented on #142
To avoid the mess you're talking about, if the objective is SEO I think the best way to go would be to create a new endpoint page with this kind of format: `/report/application_handle/latest`, `/application_handle/reports/latest` or most_recent rather than latest, something like that, and only do this SEO improvement for this (changing) report page which will always contain the most recent one.

O

[2019-08-06 11:51] pnu-s commented on #142
What I meant is that the application name is not fixed for a given application handle, as you can see in the examples of `Spotify` and `Meteo France`.

Tbh I don't know much about SEO, I think adding titles make sense even for the user experience. Adding a new page `/report/application_handle/latest` is interesting (would be great for several reasons) but I think it can be discussed separately.

[2019-08-06 12:00] Porkepix commented on #142
Actually, I even think for an SEO standpoint it would be better to "hide" version-specific reports from search engine and only have latest one. Current state shows how this can be a mess: it can be hard to get reports from search engine and when you do it can either an old report, or several reports with the user ending up not knowing which link to pick:

![Screenshot from 2019-08-06 13-58-02](htt

[2019-08-06 20:34] treyssatvincent commented on #142
The `/report/application_handle/latest` page make sense and would solve the nearly duplicates title tags on each versions.

For SEO I think it would make sense to do something like `<app name> privacy report - εxodus` on this latest page.

And it would allow the reports pages to have something less SEO-friendly such as `<app handle> <app version> - εxodus`

But I don't know neither εxodus's code o

[2019-08-07 11:30] pnu-s commented on #142
The main issue with this is that an application can have multiple names, depending on various factors. Which name should we display then?

We could simply take the latest, but if we check `Météo-France` for instance, its latest name in exodus is `My Weather App` (see https://reports.exodus-privacy.eu.org/en/reports/78640/), which may cause some issues.

@Porkepix How do you suggest we do that?

[2019-08-07 11:37] Porkepix commented on #142
Can this be related to localization? Applications can have a localized name, changing depending on OS locale. Exodus needs to manage it (it might already be the case, I'm not sure), and if it's already tackled, I don't know what has been done for reports from before the change. Is there something else than locale than can affect application name?

I have in mind through `robots.txt` but there migh

[2019-08-07 11:41] pnu-s commented on #142
εxodus doesn't manage this,  so that answers your question :D.
The other thing I see is that the name of an application can change over time, but for this I don't see any reason not to use the latest.

No idea how to do that tbh :).

[2019-08-07 11:46] Porkepix commented on #142
Oh? I thought localized names were already used. Well, I guess that's yet another issue to open (or find if it already does exist).

EDIT: Okay, well, I actually already opened this one some times ago… https://github.com/Exodus-Privacy/exodus/issues/170

I don't know enough about `robots.txt` syntax to be sure of it, it can also be a Varnish or Nginx conf I guess it's possible to target some URL f

[2019-08-07 19:26] #185 closed, assigned to pnu-s

[2019-08-08 07:43] codeurimpulsif commented on #179
I agree, I think 20 elements is a good number.

[2019-08-13 07:53] PrivacyMatters commented on #167
I’m still getting that message for a number of apps, sadly. Like this https://reports.exodus-privacy.eu.org/en/analysis/149494

[2019-08-20 08:07] pnu-s commented on #167
@PrivacyMatters : This issue can still occur for the following cases:
1) The application has download restrictions (device models, location, etc.)
2) The instability of Google Play API

For the case 1, unfortunately we don't have a solution for the time being. For the case 2, the new version of exodus should be more robust, but it could still require to retry the submission sometimes unfortunately

[2019-08-21 07:30] pnu-s opened #192 "New home page"
**Needs to be based on new UI models created for εxodus v2**

Create new home page for εxodus

[2019-08-21 07:31] pnu-s opened #193 "Add footer"
**Needs to be based on new UI models created for εxodus v2**

Add footer to exodus

[2019-08-21 07:33] pnu-s opened #194 "Add categories to trackers"
We need to:
- create a category field for tracker objects
- define the list of categories (based on ETIP)
- populate the category fields based on ETIP data (use to script the export from ETIP and import to exodus)
- add the category in the different tracker pages

[2019-08-21 07:35] pnu-s opened #195 "New tracker list page"
**Needs to be based on new UI models created for εxodus v2**

#194 needs to be completed beforehand.
Create the new page listing the trackers (/trackers)

[2019-08-21 07:36] pnu-s opened #196 "New tracker page"
**Needs to be based on new UI models created for εxodus v2**

#194 needs to be completed beforehand.
Create the new page displaying the details for each tracker (/trackers/<id>)

[2019-08-21 07:36] pnu-s opened #197 "Add information page about trackers"
**Needs to be based on new UI models created for εxodus v2**

Create information page about trackers

[2019-08-21 07:37] pnu-s opened #198 "Add information page about permissions"
**Needs to be based on new UI models created for εxodus v2**

Create information page about permissions

[2019-08-21 07:38] pnu-s opened #199 "Add page with information about Exodus Privacy"
**Needs to be based on new UI models created for εxodus v2**

Create page with information about Exodus Privacy

[2019-08-21 07:40] pnu-s opened #200 "Create "better understand" page"
**Needs to be based on new UI models created for εxodus v2**

Create a "better understand" page with links to different pages:
- permissions (#198)
- trackers (#197)
- alternatives (#149)

[2019-08-21 07:40] pnu-s opened #201 "Create new bootstrap theme"
**Needs to be based on new UI models created for εxodus v2**

Create new bootstrap theme for exodus and make sure it is applied correctly on every page

[2019-08-21 07:41] pnu-s opened #202 "New analysis page"
**Needs to be based on new UI models created for εxodus v2**

Update the *new analysis* page with new models (from analysis submission to displaying results)

[2019-08-21 07:42] pnu-s opened #203 "New report page"
**Needs to be based on new UI models created for εxodus v2**

Create new report page based on v2 models

[2019-08-21 07:43] pnu-s opened #204 "New report home page"
**Needs to be based on new UI models created for εxodus v2**

Create a new "home" page for reports with a search field and links to the related pages (report list, analysis submission, etc.)

Check the UI model here: https://app.presentator.io/#/iGT5zQEn/prototypes/11829/screens/60910?mode=preview

Note: Think about removing the "New analysis" link in the navbar once the new page is created

[2019-08-29 11:41] simpnu commented on #204
Starting to work on this and will create a PR with a first version in the next days.

[2019-08-30 01:08] smnthermes commented on #167
`com.studiosol.player.letras` works with AppBrain, but not with Exodus. Any idea why?

[2019-08-30 01:25] smnthermes commented on #167
https://www.appbrain.com/app/letras-mus-br/com.studiosol.player.letras

[2019-08-31 12:01] pnu-s opened #207 "Add document meta description"
I used [Google Lighthouse](https://developers.google.com/web/tools/lighthouse/) on several pages of εxodus and the following recommendations seem relevant to me:

- [x] Add alt attributes to images (EP logo in navbar and in the new home page)
- [x] Add rel="noreferrer" to external links (in navbar)
- [x] Add [document meta description](https://developers.google.com/web/tools/lighthouse/audits/desc

[2019-09-01 20:51] nils-van-zuijlen opened #209 ""Unable to decode the APK""
`fr.bibus.android` throws an "Unable to decode the APK" error.

It's a free app, I don't know what could have happened.

I launched the analysis at this URL : https://reports.exodus-privacy.eu.org/fr/analysis/154410