[2019-09-01 20:58] pnu-s commented on #209
Hi @nils-van-zuijlen and thanks for reporting this.

I just tried a new analysis on exodus with `fr.bibus.android` and it worked fine:
https://reports.exodus-privacy.eu.org/en/reports/92353/

Not sure why it failed in the first place, but I'll close this then :).

[2019-09-01 20:58] #209 closed, assigned to nobody

[2019-09-01 20:59] nils-van-zuijlen commented on #209
Thank you.

[2019-09-01 20:59] pnu-s opened #210 "Add favicon"
I think we should add a favicon to exodus.

Note there is the following error in the console when loading the platform:
![image](https://user-images.githubusercontent.com/6069449/64082231-21177d80-cd0c-11e9-8c9b-e232d72cfe62.png)

[2019-09-04 12:36] frknkrc44 opened #212 "Add external apk scanning or download apps from every country"
We need that because some apps can't downloading by exodus but we can download and upload to exodus servers (from country limitations).

[2019-09-04 12:43] paledega commented on #212
We absolutelly need this feature
some apps block downloading for exodus privacy

[2019-09-06 17:34] pnu-s commented on #167
@smnthermes This app is restricted depending on the country you are trying to download it from. I personally do not have a "Download" button on Google Play.

I'd say this particular issue is related to https://github.com/Exodus-Privacy/exodus/issues/212

[2019-09-07 15:34] pnu-s opened #213 "Move search/templates to exodus/templates"
Creating this issue following a comment from @ammelanie on https://github.com/Exodus-Privacy/exodus/pull/206

The "search" module is basically empty except for 2 templates. We should be able to move them to the "exodus" main module and get rid of the "search" module.

[2019-09-07 15:36] pnu-s commented on #212
Hi @frknkrc44 @paledega

This is currently a limitation of exodus. It would be better to manage to download country-specific applications from exodus rather than allowing apk upload (which is more problematic).

This is not an easy issue to fix though, but we'll keep this open.

[2019-09-09 16:04] IzzySoft commented on #104
@U039b any chance to get the permission listing into the response? There seems to be no reliable way to obtain that from Google Play (their listing is frequently incomplete).

[2019-09-10 18:28] #179 closed, assigned to nobody

[2019-09-14 08:40] pnu-s opened #216 "Add an option to re-analyze an application from its report"
**Note: this issue concerns equally the exodus web platform, the android application and other projects such as exodify. Once we agreed on whether we want to do it or not, we can create other issues in the relevant repositories.**

Currently there is no easy way when you land on a report to submit a new analysis (in case the latest report is not on the latest version of the application).
We could

[2019-09-14 08:48] Porkepix commented on #216
As for issues, on top of load, you also have space taken by APKs as we keep them. Even though I think there's much intersection between updates, their binary nature makes it pretty difficult if not impossible to store diff and reduce space I think.

So the question would be if we can afford all of this on the resources side. If we can, there's no reason not to do this I think as it will greatly im

[2019-09-14 08:53] ghost commented on #216
Well let just sysadmins looks at hardware pressure (easy with munin) and I give you a more detailed answers. For now, in the train it's just impossible to connect to munin.

[2019-09-14 09:04] Porkepix commented on #216
You can see current pressure, but it's not easy to anticipate the impact such choices would have (how much will it increase the number of daily analyzes?) Double? Triple? Much more? Or even less? (It would also greatly depends of it's easy to do, and if we incentivize/encourage users to do it or not)

[2019-09-15 13:29] pnu-s commented on #192
First version of the page has been created as part of #206
This is not totally identical to the UI models but I'm going to close this issue as is.

[2019-09-15 13:29] #192 closed, assigned to nobody

[2019-09-16 07:45] tdelmas opened #220 "Avoid large download and informing the server of the list of installed application"
Today the Application fetch two things:

The list of all applications known by exodus:

https://github.com/Exodus-Privacy/exodus-android-app/blob/5c7e021ad435c160601b055fe028bdb3723c106c/app/src/main/java/org/eu/exodus_privacy/exodusprivacy/manager/NetworkManager.java#L216

`https://reports.exodus-privacy.eu.org/api/applications`

[code]

For each installed application on the phone, the list of re

[2019-09-16 08:52] Schoumi commented on #220
Only installed applications analysed by Exodus and installed from Google Play download report and may be known by the server. Each time a random number of apps are add to make some noise for the server.

What you propose is good for privacy, for the processing time this will be long. And the large amount of data will always be there in some times if it's not already there. Each new report (new ana

[2019-09-16 11:10] #210 closed, assigned to nobody

[2019-09-17 11:10] #81 closed, assigned to nobody

[2019-09-17 11:11] pnu-s commented on #78
It's now available thanks to @ammelanie (#205)

[2019-09-17 11:11] #78 closed, assigned to nobody

[2019-09-17 11:12] pnu-s commented on #41
I'm going to close this issue now because
1) it is not planned in the v2 UI models
2) it doesn't seem trivial to implement

@U039b feel free to reopen if you feel it should stay

[2019-09-17 11:12] #41 closed, assigned to nobody

[2019-09-17 11:16] pnu-s commented on #11
I'm going to close this because we did not get any update for almost 1 year.
What we are working on currently is to add categories/tags to trackers (see #194) which will be available from the report page as well as the tracker profile page.

[2019-09-17 11:16] #11 closed, assigned to nobody

[2019-09-17 11:28] pnu-s opened #221 "Follow Dockerfile good practices"
I ran the [hadolint tool](https://github.com/hadolint/hadolint) on our Dockerfile and it gave the following recommendations, which I think are relevant and that we could follow.

[code]

Note that details about the recommendations are available [here](https://github.com/hadolint/hadolint/wiki).
(cc @codeurimpulsif)

[2019-09-19 17:25] pnu-s opened #223 "Results from search are not showing the latest icon"
The results from the search on the home page (coming from a call to api/search) are not displaying the latest icon for a given application.

**Example with Facebook:**
From the search results:
![image](https://user-images.githubusercontent.com/6069449/65266345-28fc5d80-db13-11e9-98b3-82b6644b68ae.png)
Latest icon:
![image](https://user-images.githubusercontent.com/6069449/65266372-37e31000-db13-11

[2019-09-20 17:13] Porkepix opened #226 "Add (or change) the stats page so that it compute stats with only latest version of each application rather than the whole reports"
The stats page on https://reports.exodus-privacy.eu.org/en/trackers/stats/ report statistics based on all reports. But some applications are analyzed way more often or have way more versions than the others, therefore tilting the stats toward those applications.

For those reasons, offering the stats based on only the latest report of every application would be better, or at least offer it besides

[2019-09-20 17:13] Porkepix commented on #226
(The title is way too long, but I don't have a better one right now).

[2019-09-21 11:30] #127 closed, assigned to pnu-s

[2019-09-21 17:16] #203 closed, assigned to pnu-s

[2019-09-22 17:46] pnu-s commented on #196
Fixed by #225

[2019-09-22 17:46] #196 closed, assigned to nobody

[2019-09-24 15:55] pnu-s opened #228 "Remove "Applications" page"
The "Application" page (https://reports.exodus-privacy.eu.org/reports/apps/) does not bring any value except for the number of unique application scanned.

The page was removed from the new UI models and I think we can get rid of it. We need to find another place to have this information.

I would suggest to add it on the "Reports" page (https://reports.exodus-privacy.eu.org/reports/) for instance

[2019-09-24 15:59] pnu-s opened #229 "Add recommendations for developers ?"
Now that we have a page gathering some recommendations for end users, **I'm wondering whether we should add on the same page some recommendations for application developers** (such as limiting the number of permissions and trackers to the minimum required, use self-hosted and open source solution when possible, use exodus-standalone before uploading a new version, etc.)

Any comment is welcome :)

[2019-09-24 16:03] pnu-s commented on #156
Closing this as it is replaced by  #195

[2019-09-24 16:03] #156 closed, assigned to nobody

[2019-09-24 16:10] pnu-s opened #230 "Add an arrow to select application version"
We should add on the report page an arrow next to the version to indicate that the link will show you the different versions available.

**Screenshot:**

![image](https://user-images.githubusercontent.com/6069449/65529270-1f4d6e00-def6-11e9-8b75-ad9236740413.png)

[2019-09-24 16:12] pnu-s opened #231 "Add arrows on mobile report page to lead to list of trackers & permissions"
On the mobile version of the report page, we should add arrows to quickly lead to the list of trackers and permissions.

**Screenshot:**
![image](https://user-images.githubusercontent.com/6069449/65529595-b4e8fd80-def6-11e9-8ee1-913a9a48530f.png)

[2019-09-24 16:36] #149 closed, assigned to pnu-s

[2019-09-24 16:36] #197 closed, assigned to nobody

[2019-09-24 16:36] #198 closed, assigned to nobody

[2019-09-24 16:36] #200 closed, assigned to nobody

[2019-09-26 17:58] pnu-s opened #232 "Improve report search"
Currently the application search engine looks for application or handle, which makes it difficult to always give relevant results in more than 64k unique applications.

I think we should search by name OR by handle, for instance with a select form next to the search field in order to have more relevant results.

[2019-09-26 18:34] pnu-s opened #233 "Both "Let's go" buttons on Home page do not have the same width"
**See screenshot below:**

![image](https://user-images.githubusercontent.com/6069449/65715157-d84dad00-e09c-11e9-98e8-40a9fc6d7157.png)

This is not **totally trivial** because it's linked to how the page itself is built.

[2019-09-27 17:18] may55 commented on #233
I would like to work on this issue, Can I?

[2019-09-28 07:08] pnu-s commented on #233
@may55 Sure, feel free to work on it :)

[2019-09-28 13:27] may55 commented on #233
@simpnu Yes, I'll submit the PR on or after 1 Oct.

[2019-09-28 16:41] nautik1 commented on #221
I will handle this one, but I am very tired so it will probably be after the 1st of october because i need a lot of sleep

[2019-09-28 16:42] nautik1 commented on #228
I will handle this one, but I will be very busy doing laundry of all the free t-shirts I already have, probably until the 1st of october.

[2019-09-29 19:47] pnu-s commented on #194
After discussions with @nautikos1235, I think we found a more elegant solution in order to import the data from ETIP to exodus:
- **implement an API on ETIP** to expose trackers information (protected by API key if needed) -> issue to create on the ETIP repository to define the specifications
- implement a script on exodus to import data from the ETIP API to exodus DB (at least categories at first

[2019-09-30 07:54] nautik1 commented on #194
Hi guys,
I will try to handle this, but my computer has a clock problem and it won't let me start a command line before the 1st of October for some reason; sorry about that.

[2019-09-30 09:58] Porkepix opened #236 "Default language and switch can be broken in some situations"
Looking at discussions on IRC, several people can reproduce, but sadly not everyone.
When accessing to reports.exodus-privacy.eu.org from homepage, default language is the one from my browser (English), and switching the language to French works correctly.
However, when trying to access directly to a report, with a localized url like https://reports.exodus-privacy.eu.org/fr/reports/96041/ for exam

[2019-09-30 10:59] Gu1nness commented on #232
Hum,
I'm pretty sure that we can do it with [django-autocomplete-light](https://django-autocomplete-light.readthedocs.io/en/master/index.html).
I did write the code for such a feature once, so I already have it available (up to the necessary modifications.)

[2019-09-30 11:01] Gu1nness commented on #229
Good idea.
If so, we might need to update a little bit the documentation and outputs of exodus-standalone, I'd say.

[2019-09-30 11:03] Gu1nness commented on #236
Wow, that's a weird one.
I'll have a look at it, but it is definitely an unwanted behaviour.
On my side, I can reproduce it.

[2019-09-30 11:21] pnu-s commented on #232
I don't know if this could help, because I think no matter how clever is the search itself, looking for name or handle (**which are sometimes completely different**) makes the search too complicated to have relevant results in my opinion.

But feel free to try it if you feel like it :)

[2019-09-30 11:45] Gu1nness commented on #236
I have a patch that seems to be working, we'll be pushing it soon

[2019-09-30 12:17] ghost commented on #236
Didn't have the the issue for me but it's cool if @Gu1nness found a workaround. \o/

[2019-09-30 19:16] pnu-s opened #237 "Remove Vagrant setup?"
Now that we have **2 other functional ways of setting up a local instance of exodus** (docker-compose and manual), I'm wondering whether we should get rid of the Vagrant setup because *AFAIK*:
- it is not really maintained (are we even sure it works?)
- it takes space / creates noise in the repository

WDYT @codeurimpulsif @U039b?

If we do not know whether people are actually using it (I doubt it

[2019-09-30 19:22] pnu-s commented on #199
I'll probably work on this in the next days :)

[2019-09-30 20:20] pnu-s commented on #233
Fixed by @may55 on #238 :)

[2019-09-30 20:20] #233 closed, assigned to nobody

[2019-10-04 11:35] Prashant-Surya commented on #226
If this is still open can I take this up?

[2019-10-04 11:38] pnu-s commented on #226
Hello @Prashant-Surya
Sure, feel free to take this up if you feel like it :)

Do not hesitate to ask questions here if you have things to clarify!

[2019-10-04 12:01] Prashant-Surya commented on #226
Sure 👍

[2019-10-05 03:59] Prashant-Surya commented on #226
Hi @simpnu is there any data dump that I can use in my local for testing?

[2019-10-05 09:04] pnu-s commented on #226
@Prashant-Surya unfortunately there is no such thing available. :/

What you can do on your local instance is to submit manually analyses to populate your database. The issue is that if you need a lot of data that won't be convenient.

What I can do is that - when your code is ready - I can try it on my local instance to see how it would look as I have a couple of analyses there. It's not perfect

[2019-10-05 10:36] Prashant-Surya commented on #226
Okay. I'll raise a PR with my changes.

[2019-10-06 08:51] yoshimo commented on #216
That re-analyse button could also be enhanced with a query to the store wether a new version exists.

[2019-10-06 08:54] yoshimo opened #244 "enhanced errors"
“Unable to down load“   well as “unable to compute fingerprint “ are not really helpful for the end user.
To be able to fix it or at least understand it a more detailed explanation would be great

[2019-10-06 08:56] yoshimo commented on #107
instead of not reporting such a disabled feature at all, you should mark it as disabled, not green not red , but orange as semi-bad

[2019-10-06 08:59] yoshimo opened #245 "Support multiple architectures"
Google and others provide different native packages depending on the device cpu architecture.
arm64-v8 and armeabi-v7 for example.
Exodus should be able to query and analyse them all

[2019-10-06 09:02] yoshimo opened #246 "Support third party stores like amazon"
There are other sources outside Google to get apps. Asian vendors or companies like Amazon habe their own app stores which are even nore intresting regarding privacy.
Maybe you could expand in the future

[2019-10-06 09:19] pnu-s commented on #244
Hello @yoshimo

We agree at Exodus Privacy that the current error reporting is not really helpful for the end user and we have a **long-term** refactoring of exodus-core which is planned to report the exact error.

This being said, "Unable to download the APK" is actually very accurate as it says exactly what the problem is, i.e. that Exodus cannot download the APK. We cannot easily determine prog

[2019-10-06 09:30] tdelmas commented on #107
To complete my opinion, **less tracking** is good, and pushing companies in that way is a good thing. That why counting **trackers** helps. But in this specific case, where an SDK have tracking capabilities that can be statically disabled, encouraging companies that disabled it is important too: most of those companies will not use an alternative for Firebase, so, in the **less tracking** options,

[2019-10-06 09:50] svenstucki commented on #223
I'm preparing something for this.

[2019-10-06 09:58] #213 closed, assigned to pnu-s

[2019-10-06 17:13] #223 closed, assigned to nobody

[2019-10-07 08:24] Prashant-Surya commented on #226
@simpnu can you please check this? I've generated some dummy data and tested it in my local.

[2019-10-07 08:33] a-mere-peasant commented on #230
i would like to help with this , how can i start ?

[2019-10-07 08:47] ghost commented on #230
Sure you can. Thanks for helping.

[2019-10-07 11:05] #228 closed, assigned to nautik1

[2019-10-07 11:06] pnu-s commented on #230
@a-mere-peasant For the best experience for our users, we would need to:
- get the list of reports for a given application (with their report id and version number)
- create a select form with the list of version to be able to switch to another report

[2019-10-09 12:06] #221 closed, assigned to nautik1

[2019-10-10 19:12] nautik1 opened #252 "Docker-compose doesn't allow running analysis"
Hello guys,

Has anyone been able to actually run an analysis using the docker-compose setup in this repo?
I can trigger it but it never runs, unless I have the `worker` running outside.

Shouldn't there be a `worker` service that handles the analysis jobs?

I can add it if you confirm.

[2019-10-12 08:12] pnu-s opened #253 "Update tracker page to replace number of reports by number of apps"
Now that our tracker statistics are calculated based on the number of application (i.e. only considering the latest reports - see #226), we should do the same on the tracker page:

![image](https://user-images.githubusercontent.com/6069449/66697736-ac573c00-ecd8-11e9-9618-c1c79c698331.png)

Todo:
- Replace the number of reports by the number of apps (latest reports)
- Same for the %
- Update simil

[2019-10-12 08:14] #226 closed, assigned to nobody

[2019-10-12 08:14] pnu-s commented on #226
Closed by #248

[2019-10-12 10:17] Prashant-Surya commented on #253
@simpnu I think it's better if we have a way to distinguish the latest report of an application instead of doing multiple DB calls to fetch latest report. Like some latest=True flag.

[2019-10-14 19:42] #253 closed, assigned to nobody

[2019-10-21 08:35] #199 closed, assigned to pnu-s

[2019-10-21 09:55] #202 closed, assigned to nobody

[2019-10-25 04:47] jawz101 commented on #229
I wonder if having badges to distinguish any trackers that mention GDPR, COPPA or other governments' compliances might be a good indicator.  And if adding xyz tracker immediately changes your app's content rating from E for Everyone to Teens and up that would immediately cut down your userbase, that would encourage selection of more reputable 3rd parties.

[2019-10-26 08:45] pnu-s opened #260 "Optimize tracker statistics calculation"
The new statistics page for trackers is more relevant but takes A LOT of time to load.
We need to look at how to optimize the calculation of statistics. This can also apply to the statistics calculated on each tracker page.

link: https://reports.exodus-privacy.eu.org/en/trackers/stats/

[2019-10-27 08:28] pnu-s commented on #229
Hi @jawz101 !
That's a sensitive topic, because we don't want to give any value judgement about which trackers you are using (as rating tracker is a very tedious and risky job).

This being said if anyone wants to use our dataset to do that job, it's freely available (and some are already doing something similar).

[2019-10-27 20:02] jawz101 commented on #229
I wouldn't think it's a judgement.  All I'm suggesting is if their Privacy Policy or ToS mentions xyz regulations then they at least acknowledge that they think about these things.  I'm just thinking there is a difference between a company that lists a business address, has some sort of legal documentation saying something about their business and its purposes versus some of the intentionally subv

[2019-10-28 12:36] pnu-s opened #262 "Add script to import data from ETIP"
Now that we have a REST API available for ETIP (see https://github.com/Exodus-Privacy/etip/pull/53), we could use it to import trackers data directly from ETIP.

What I have in mind:
- get all trackers from ETIP **flagged as "is_in_exodus"**
- for each tracker:
  - if already present and identical, do nothing
  - if already present and with differences, **offer to** import the changes
  - if not p

[2019-10-28 12:36] pnu-s commented on #262
@nautikos1235, do you want to take a look at this?

[2019-10-28 13:49] nautik1 commented on #262
Four choure

[2019-11-02 09:40] #231 closed, assigned to nobody

[2019-11-02 09:47] pnu-s opened #264 "Update submission page title once analysis is complete"
Currently the title of the **New analysis** page remains "Analysis in progress" even when the analysis is complete

![image](https://user-images.githubusercontent.com/6069449/68069248-0c805180-fd5e-11e9-9623-c94d5142e74e.png)

It should be changed to "Analysis completed!" instead

[2019-11-02 10:06] pnu-s opened #265 "Add icon for external links button"
When we have a button leading to an external website, we should add an icon to make it explicit for the user.

See model below:
![image](https://user-images.githubusercontent.com/6069449/68069482-bf51af00-fd60-11e9-9a95-5cbde6103920.png)

The icon is already present in the /static/img/ext.svg

[2019-11-04 14:26] codeurimpulsif commented on #237
Yes I think this is not maintained, I'm ok to add a `Deprecated` note.

[2019-11-04 14:30] codeurimpulsif commented on #252
Hi, can you send the logs you see in the terminal after running the following command and runned an analysis via the web interface, please?
[code]
:smiley:

[2019-11-05 12:46] pnu-s commented on #237
What do you think about adding a `Deprecated` note now and remove it altogether in 1 month?

[2019-11-10 09:02] pnu-s opened #267 "Use a for loop for menu items"
We could use this trick to write a more elegant implementation of the navigation bar and the "active" menu items.

See documentation here: https://jinja.palletsprojects.com/en/2.10.x/tricks/#highlighting-active-menu-items

_Originally posted by @nautikos1235 in https://github.com/Exodus-Privacy/exodus/pull/263_

[2019-11-10 10:56] pnu-s commented on #232
Another thing we could easily do is that if there is a perfect match for the name or the handle, only returns this report. Otherwise, use trigram similarity search as currently.

I think this is an easy thing to do and would improve user experience.

[2019-11-11 16:36] #201 closed, assigned to nobody

[2019-11-17 23:10] lodi-g commented on #267
As a PR was merged, I guess this issue should be closed?

[2019-11-17 23:28] lodi-g commented on #260
Could you provide with a sample database containing a lot of reports? I can't reproduce the issue locally.

[2019-11-18 12:50] pnu-s commented on #267
@lodi-g No, the related PR is the one in which the improvement was **identified**.
So the change is still to be made ;)

[2019-11-18 12:52] pnu-s commented on #260
Indeed, that's an issue which is hard to reproduce.

I will try to export the production database to see if it can be imported in a local instance, but I cannot promise when I'll have time to do so.

[2019-11-28 13:38] U039b opened #271 "Automatic synchronization of the tracker list"
Administrator can activate a periodic task to retrieve tracker list updates from the main εxodus server.

[2019-11-28 13:39] U039b opened #272 "Users can upload an APK file to be analyzed"
The home page allows users to upload an APK file to be analyzed.

[2019-11-28 13:40] U039b opened #273 "Delete a report from its page"
A button is added on each report page allowing administrator to delete the given report.

[2019-11-28 13:41] U039b opened #274 "Launch reports update after changes on tracker list"
A button is added on the admin panel allowing administrators to launch an update of all reports.

[2019-11-28 22:14] nk4044 opened #275 "app tracker analysis function seems down since Nov. 8th"
Last report analysis runs of app "Kiplin" from Nov. 8th, see here:
https://reports.exodus-privacy.eu.org/en/reports/

Btw, is this the correct repository to tell this issue?, If not, please forward it to the right one.

[2019-11-29 18:09] pnu-s commented on #274
Maybe consider adding a confirmation "pop-up" if possible as this is a very long operation :)

[2019-11-29 18:13] pnu-s commented on #272
Can we implement some kind of restrictions, such as restricting the page access to logged in users? If not, I guess we need to be able to make some feature flipping to not add this feature on the "official" exodus instance :)

[2019-11-29 18:13] pnu-s commented on #275
@nk4044 That's an issue we're aware of (you can see the error message here: https://reports.exodus-privacy.eu.org/en/analysis/submit/)

We are currently working on a fix but that's a tricky issue :/

[2019-11-29 20:15] U039b opened #276 "Enforce API key verification"

[2019-11-29 20:15] U039b opened #277 "Automatic clean up of analysis requests"

[2019-11-29 23:06] IzzySoft commented on #104
@U039b Due to your latest site changes, let me put some weight on the missing permissions. For the API results, each "result" block should have a "permission" property – a simple array of their "full technical names" (like `com.android.permission.CAMERA`) would be fine.

Your latest "design overhaul" unfortunately dropped the "title" property (which before held the "full technical name"). So curre

[2019-11-30 08:39] pnu-s commented on #104
Hi @IzzySoft

To give you more context, we removed the tooltip / "title" property on the permissions because, as there was no visual indication that the tooltips existed, the vast majority of our users basically couldn't see it.

I see no problem putting it back as it was before for the time being, until we find a suitable way to make it more explicit on the page. This is indeed a very easy fix, I

[2019-11-30 09:21] pnu-s commented on #275
We have released a hotfix yesterday so the creation of new analysis is open.
Let's hope this will hold :)

[2019-11-30 09:21] #275 closed, assigned to nobody

[2019-11-30 16:30] IzzySoft commented on #104
Very much appreciated, @simpnu! I currently use DOM-parsing on the web page as a "work around" (which got messed up a couple of times due to your site changes, but was not too hard to fix), so those attributes would be a great help. Of course, having the perms in the API response would be even better for my case, saving a couple of requests :smile:

Please ping me here when one of those parts are

[2019-12-02 20:05] pnu-s commented on #104
@IzzySoft The tooltip is back, as a first workaround ;). I'll try to take a look at the API endpoint in the coming days.

FYI, we are getting all our data about permissions from this: https://github.com/U039b/aosp_permissions_extraction

[2019-12-02 20:17] pnu-s opened #278 "Switch to Django 2"
We will need to switch to Django 2 as Django 1.11 end of support date is around April 2020.

With the release of Django 3 we could check the benefits of switching directly to Django 3 but I'm unsure how much effort that will be.

[2019-12-02 22:00] IzzySoft commented on #104
Thanks a lot! My DOM-parser picked them up right away, so I already had that adjusted correctly. Just fixed my script to use the "long names" again, seems to work smoothly!

As for your extractor: I assumed something like that. It only grabs the AOSP permissions, but doesn't know about e.g. those from GApps (or other 3rd party apps at that). My list has some complements to it, if you want those. L

[2019-12-04 18:46] U039b opened #283 "Update translation files"

[2019-12-04 19:19] #273 closed, assigned to nobody

[2019-12-04 22:12] pnu-s commented on #104
We'll probably need to discuss at some point on how to improve the permission feature of exodus!

About the API endpoint modification, I made the change locally (along with some tests, which took a bit more time ;)), here is how it would look:

[code]

It is what you would expect?

[2019-12-05 07:30] IzzySoft commented on #104
Yes, exact match of my idea, thanks! Looking forward to that :smiley:

[2019-12-08 12:41] #104 closed, assigned to nobody

[2019-12-08 12:49] pnu-s commented on #104
@IzzySoft This is now live!
Feel free to tell us if this does not meet your needs ;)

[2019-12-08 13:56] IzzySoft commented on #104
@simpnu you sure it's live?

[code]

I see nothing about permissions here. Maybe it's just scheduled to go live, but wasn't yet published?

[2019-12-08 15:02] pnu-s commented on #104
No no, it's live :).
Which API endpoint are you using?

If I query `https://reports.exodus-privacy.eu.org/api/search/com.backmarket/details` I can see the permissions

[2019-12-08 17:52] IzzySoft commented on #104
I query `https://reports.exodus-privacy.eu.org/api/search/com.backmarket`. Tried with the endpoint you mentioned, and indeed permissions are listed there; but the structure of the resulting JSON is completely different – so to use that I'd need to check all the places in my code Exodus results are used at and adjust them (or rewrite the result in the first place to match the other structure)… Woul

[2019-12-08 20:08] pnu-s commented on #104
Damn...
I see 2 points here:

1) It would be indeed technically slightly more complicated, as - in the current state of the code base - modifying the code used for the endpoint `api/search/<handle>` would impact another endpoint

2) Do we actually want to do that? It makes some sense to me that the endpoint with the permissions is the "detailed" one: `api/search/<handle>/details` and to have less

[2019-12-08 22:27] IzzySoft commented on #104
OK, was just asking – could have been easy, I cannot tell. I'll find a way to use the other endpoint for permission check then, no prob. Thanks a lot!

[2019-12-13 13:43] #276 closed, assigned to nobody

[2019-12-13 13:50] #271 closed, assigned to nobody

[2019-12-13 17:16] #277 closed, assigned to nobody

[2019-12-13 20:50] #274 closed, assigned to nobody

[2019-12-13 20:51] #272 closed, assigned to nobody

[2019-12-13 20:51] #283 closed, assigned to nobody

[2019-12-14 11:45] nk4044 commented on #275
Thanks a lot :-)
Yes, i hope so too, until now everything seems fine ;-)

[2019-12-22 13:06] pnu-s opened #297 "Backend validation for analysis without handle"
See https://github.com/Exodus-Privacy/exodus/pull/296

[2019-12-22 14:25] #237 closed, assigned to nobody

[2019-12-22 14:30] #94 closed, assigned to nobody

[2019-12-28 20:18] pnu-s opened #300 "Handle app with version name with > 50 characters"
Currently there is a bug with application which versions / version codes have more than 50 characters.

This is not handled properly so the analysis hangs forever with the message "Tracker analysis: success"

Example: https://play.google.com/store/apps/details?id=ch.sbb.mobile.android.preview and its version `flavorpreviewRelease-10.0.0.191210.1822.126-RELEASE`

Couple of possible solutions:
- ext

[2019-12-28 21:29] codeurimpulsif commented on #300
I think extend the max characters limit in database is a good solution.
(Truncating leads to information loss and I think it's better to have complete values)

Maybe we can try with 100 characters ?

[2019-12-28 22:04] pnu-s commented on #300
Agreed, makes sense to me :)

What we could do:
- increase the limit in DB to 100 characters
- in templates, in case the version is longer than 30/40 characters, truncate it and add a tooltip

[2019-12-29 08:37] pnu-s commented on #300
Got the same issue this morning with a permission too long (https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser.beta)

Not sure if this is related to a recent change as I don't think so we were seeing this before but we need to at least handle these cases properly

[2020-01-05 20:36] #165 closed, assigned to nobody

[2020-01-06 11:40] U039b opened #302 "Adapt UI according to MEN requirements"

[2020-01-08 17:50] pnu-s commented on #300
Note: I made a quick change to fail properly when this happens instead of hanging forever

[2020-01-08 20:30] pnu-s opened #303 "Add explanations when an analysis fails"
I think we could make our analysis failures **more explicit and user friendly** by simply adding a link to an external page (Github / website / other) explaining each error message such as `Unable to download the APK`

[2020-01-09 08:59] ghost commented on #303
That's a good idea but why not a section in "what next?" page. Or a new page in our website. This dis not have to be in the menu, just accessible thought a analysis failure.

[2020-01-09 11:40] pnu-s commented on #48
Closing this without answer, @seandiggity feel free to reopen it if needed

[2020-01-09 11:40] #48 closed, assigned to nobody

[2020-01-09 11:47] pnu-s commented on #244
Created #303 to improve error reports (actually forgot about this issue :/)
Closing this then!

[2020-01-09 11:47] #244 closed, assigned to nobody

[2020-01-09 12:05] pnu-s commented on #252
Closing this as we didn't get any answer yet.
@nautik1 feel free to reopen it if needed

[2020-01-09 12:05] #252 closed, assigned to nobody

[2020-01-09 12:06] pnu-s commented on #278
Closed by #301

[2020-01-09 12:06] #278 closed, assigned to nobody

[2020-01-09 17:32] pnu-s commented on #303
You're right, I think a new page in exodus could make sense (and it would be easier to handle the translations).

Let's go for that :)

[2020-01-09 18:01] pnu-s commented on #184
Hi @david-libremone

To be honest, it kinda sounds to me like a separate project (which could easily use exodus database).
The limitations I could see with this idea:
1) the published source code could be different from the one used in the app in the store
2) not sure if this would be easily usable for iOS apps as exodus database is restricted to Java classes

[2020-01-12 17:42] #232 closed, assigned to nobody

[2020-01-16 18:38] TravisWhitehead opened #308 "Update Dockerfile to allow for customization of gplaycli.conf"
Since the default configuration for gplaycli seems to be broken [(the token dispenser URL is 502ing)](https://github.com/matlink/gplaycli/issues/237), anyone building the Exodus Docker image will likely want to customize the configuration to:
* set their own working token URL
* set their own Google credentials (with an app password)

The Dockerfile should support customizing `gplaycli.conf` in som

[2020-01-16 18:55] codeurimpulsif commented on #308
Yes we need to change that, maybe with environment variables in the `docker-compose.yml` file.

[2020-01-17 23:37] codeurimpulsif commented on #308
I created this pull request to fix this issue (with a temporary fix for gplaycli version 3.26), it's ugly but it works :confused:

[2020-01-19 08:54] pnu-s commented on #267
Seems like it is more complicated than I thought, because using `set` is not possible with Django. Closing this for the time being

[2020-01-19 08:54] #267 closed, assigned to nobody

[2020-01-19 09:06] pnu-s commented on #69
Getting back to this one after a very long time.

What we have added in the meantime is a list of recommendations for our users, including some application alternatives list (https://reports.exodus-privacy.eu.org/en/info/next/), which can actually fill the need you mentioned.

I think we *could* add some advanced options in the research to only look for apps without any identified trackers but I'm

[2020-01-19 21:05] merwok commented on #267
Django templates have [https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#with](with) which is equivalent to `set`!

[2020-01-22 15:46] lofidevops commented on #184
Ok, testing for reproducible builds and inspecting other languages sounds very much out of scope :smiley_cat:

As a fallback, is it feasible to associate an app with a link to a repo, if it exists? I happen to know some :wink: Or is the problem that Google Play doesn't formally encode this?

Even with the "limitation" of only analyzing compiled Java classes, Exodus is making a great contribution t

[2020-01-22 21:25] pnu-s commented on #184
Unfortunately these is no way (to my knowledge) to get this information easily and in the same way for all the applications in our database. The only thing we can do is to link to the Google Play page, where the developers can link their repo.

See for instance https://play.google.com/store/apps/details?id=org.eu.exodus_privacy.exodusprivacy

Thanks for your message! :wink:

[2020-01-23 20:57] #184 closed, assigned to nobody

[2020-01-24 19:47] dominikheinz opened #312 "Applications not detected when installed over third party stores?"
Having installed LineageOS with microG on my phone, most of my apps I install are from F-Droid.
However, for some cases I have to use non-open source apps.
However, I do not have installed the Google Playstore, but instead Aurora store, which acts as a proxy for the Playstore to download apps from the Playstore anonymously.

After I installed Exodus, it is not detecting the installed apps, which d

[2020-01-26 08:48] #302 closed, assigned to U039b

[2020-01-28 19:31] #308 closed, assigned to codeurimpulsif

[2020-01-30 08:16] pnu-s opened #316 "API endpoints not working with user in "staff""
Some API endpoints (if not all) are sending a 500 error if you try to access them with a user account which is in "staff" in Django admin.

ex: /api/report/<id>

[2020-01-30 16:45] ovz93br43v7 commented on #167
Same result with this app: https://play.google.com/store/apps/details?id=dji.go.v5
Unable to download.

[2020-02-02 13:06] pnu-s opened #317 "Verification for existing report doesn't work"
Due to recent changes on API authentication, the check for existing report on the submission page (https://reports.exodus-privacy.eu.org/en/analysis/submit/) hits a 401 error

[2020-02-05 21:21] rponline opened #319 "API requires Authentication on CORS-preflight / OPTIONS request"
Hello!

I have problems authenticating with my web client and I think it's a server side (nginx?) problem:

I try doing xhr requests with the axios javascript library.
When using extra headers like 'Authorization', the client does a preflight using OPTIONS method for checking on CORS stuff first.

Doing this preflight [must be possible without credentials](https://fetch.spec.whatwg.org/#http-respo

[2020-02-05 21:24] pnu-s commented on #319
Thanks for reporting this :)

Couple of hints on how to solve this with django-rest-framework here: https://github.com/encode/django-rest-framework/issues/5616

[2020-02-05 23:19] jawz101 opened #320 "stat page performance suggestion: generate the data once a week"
I assume the tracker statistics page here...

https://reports.exodus-privacy.eu.org/en/trackers/stats/

... queries a current count of each tracker every time you open it.  Rather than doing so, how about generate the statistics once a week and load them to a table, then have the link just open the most recent copy of the stats page?

You then also have a weekly snapshot of the tracker stats every

[2020-02-07 08:58] pnu-s commented on #320
Hi @jawz101!

That's a good idea, now that we have scheduled tasks in Django we could so this with relatively low efforts. I'll take a look at it when I find some time (if no one else tackles it first :))

(Note that the issue is already identified here https://github.com/Exodus-Privacy/exodus/issues/260)

[2020-02-08 16:07] #260 closed, assigned to nobody

[2020-02-08 16:07] #320 closed, assigned to nobody

[2020-02-08 16:09] pnu-s opened #324 "Add documentation for main commands in README"
We should add some short documentation in the repo README for the main commands available

[2020-02-08 16:15] #262 closed, assigned to pnu-s

[2020-02-11 19:56] RAMAR-RAR opened #325 "Re-scan button"
Add a button/shortcut used to re-scan an app.
Ex.
[App icon]
Eurosport
47 trackers
10 permissions
Version 5.19.1 - see other versions
Created by Eurosport
Downloads: 10,000,000+
Report created on Dec. 30, 2018, 7:17 p.m. and updated on Jan. 2, 2020, 7 p.m.

See on Google Play>
Rescan app for the last update>

[2020-02-15 13:08] pnu-s opened #326 "Update docker settings"
- Remove gplaycli patch which isn't needed anymore
- Indicate that google credentials have to be set in the settings

[2020-02-16 15:38] codeurimpulsif opened #328 "Move Docker related files to a docker directory"
- Move all Docker related files to a `docker` directory

[2020-02-16 17:41] pnu-s commented on #328
See if we can do https://github.com/Exodus-Privacy/exodus/issues/326 in the same time

[2020-02-16 20:22] #317 closed, assigned to pnu-s

[2020-02-25 17:20] pnu-s opened #332 "Update date of report not changed when re-analyzing for new trackers"
Since the upgrade to Django 2.2 we are using `set` to update the trackers list when adding new trackers:
- https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/reports/management/commands/refreshstaticanalysis.py#L115
- https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/reports/tasks.py#L53

`set` doesn't require to use `save` afterwards, but the issue is that not using `save` doesn't chan

[2020-02-27 12:48] pnu-s commented on #246
I think that's a good idea, I plan to take a look at this at some point.

We were discussing some time ago with @eighthave the possibility to add stores like F-droid.
If there are libraries available to download apps from other stores, feel free to link them here

[2020-02-27 13:06] eighthave commented on #246
You can download from F-Droid using HTTPS or rsync, e.g. `rsync -axv
ftp.fau.de::fdroid`  where ftp.fau.de is an official mirror.

I have access to large collections of APKs from other app stores, so I
can generate data from them, but I wouldn't be allowed to share the
actual APKs.

[2020-02-27 18:00] yoshimo opened #333 "List every module that are used across apps"
This would a) allow us to find unknown trackers
b) Inform people about possible security implications like outdated third party modules, like an old connection or db library.

AddonScanner has a good grip on that kind of info

[2020-02-29 13:35] pnu-s opened #336 "Improve usability of search function"
_Opening this issue following a discussion with one of our users_

Once https://github.com/Exodus-Privacy/exodus/pull/335 is merged, we will have the possibility to copy-paste the play store URL into the search field to get the results from exodus.

We should see to add indications to the interface to emphasize that this is possible.
Suggestion to add something like a ‚Can‘t find the app?‘ link sh

[2020-03-08 17:50] pnu-s commented on #246
@eighthave Could you please provide us any help on how to download an app from F-droid via HTTPS (programmatically)?
Taking into consideration that adding this to exodus would result to relatively intense hits on this server

[2020-03-09 07:50] eighthave commented on #246
If you keep a local cache of all the APKs, then I recommend using rsync
to mirror the full archive:

https://f-droid.org/2020/03/04/f-droid-is-a-key-source-for-academics-and-researchers.html#download-all-the-things

[2020-03-09 14:15] eighthave commented on #166
I have Python code for Virustotal, koodous, androidobservatory.org and apkmirror in https://gitlab.com/fdroid/issuebot/tree/master/modules/links-to-services.py which you can use under any free software license you need.

[2020-03-09 14:17] eighthave commented on #246
Otherwise, for HTTPS, see the code for `fdroid mirror`: https://gitlab.com/fdroid/fdroidserver/blob/master/fdroidserver/mirror.py

[2020-03-09 14:19] eighthave commented on #246
Lastly, if you must use HTTPS and want to download a lot of stuff, then please use the mirror that is closest to the server that is downloading: https://gitlab.com/fdroid/mirror-monitor

[2020-03-09 14:26] eighthave commented on #157
FYI, I think it is valid to have a tracker entry with only a code signature or only a network signature.  We've seen apps that gather the data with custom code, then HTTP `POST` the data directly to an analytics server.  In that case, there is no tracker SDK or code signature.  So tracker could have a server only, or have an SDK only posts to another service's domain.

[2020-03-10 19:05] pnu-s commented on #157
@eighthave It makes sense, the only issue is that if you have a tracker with only a network signature, exodus cannot detect it (as exodus doesn't do anything with the network signatures).

So the question of its presence in exodus is worth discussing imho.

[2020-03-15 16:21] pnu-s opened #337 "Allow blank signature for trackers"
Currently it is not possible to add a tracker with a blank code or network signature.

We should change that to allow a blank signature instead of changing it manually to "NC" when we do not have it. We still can display "NC" when the field is empty or simply default it to "NC" in the model.

[2020-03-16 07:56] HermannBjorgvin commented on #319
I'm not part of the Django community but I ran into this bug the hard way and found this issue relating to it. You have to be compliant with W3C if you ever expect any frontend developer to work with you amicably, when stuff breaks and you discover DRF is non compliant with W3C while everyone else is in compliance it just makes you want to bang your head into your desk.

It makes it hard to work w

[2020-03-30 19:27] pnu-s opened #339 "Discourage / block too many submissions of the same app"
We are seeing often that a single app is submitted **a lot** of times in a short period of time.
This often happen with apps with geo restriction for instance.

We need to find a way to somehow prevent this, either by explaining better why the analysis fails (see https://github.com/Exodus-Privacy/exodus/issues/303) or by adding an additional message or even blocking if a single app is submitted to

[2020-04-07 11:01] ghost opened #341 "New analysis: Unable to download the APK"
When using the "new analysis" page (https://reports.exodus-privacy.eu.org/en/analysis/submit/), performing analysis yields the following message:

This happened for that last couple of apps I tried (to my knowledge all free). Most recent example: https://play.google.com/store/apps/details?id=de.rki.coronadatenspende

I do not use the exodus app or command line version, so I do not know if the issu

[2020-04-08 06:55] pnu-s commented on #341
Hello @udopt
That is most probably due to one of the main limitations of exodus, i.e. not being able to download apps with geographic restrictions.
We meant to communicate about this (because that's especially important with all the local COVID related apps) but we didn't take the time to do so yet :/

What you can do to analyse this app is to use https://github.com/Exodus-Privacy/exodus-standalon

[2020-04-08 06:55] #341 closed, assigned to nobody

[2020-04-08 06:56] pnu-s commented on #341
Duplicate of #212

[2020-04-09 10:07] RAMAR-RAR opened #344 "Analysis by publisher"
Analysis all apps of a publisher  by insert in analyze section the google play's publisher link.

[2020-04-09 18:49] ghost commented on #341
Thank you very much for the explanation! I will have a look at the stand-alone version.

[2020-04-11 07:05] pnu-s commented on #325
Duplicate of https://github.com/Exodus-Privacy/exodus/issues/216

[2020-04-11 07:05] #325 closed, assigned to nobody

[2020-04-11 10:57] skyerjoe commented on #128
de.rki.coronadatenspende

Doesn't work also
Best regards

[2020-04-11 13:02] #337 closed, assigned to pnu-s

[2020-04-11 13:03] #332 closed, assigned to pnu-s

[2020-04-11 13:04] pnu-s commented on #128
@skyerjoe see https://github.com/Exodus-Privacy/exodus/issues/341#issuecomment-610785236

[2020-04-19 12:28] #204 closed, assigned to nobody

[2020-04-19 12:28] #195 closed, assigned to nobody

[2020-04-27 16:42] pnu-s opened #349 "Add CONTRIBUTING.md"
We need to add a simple CONTRIBUTING.md file to add information about :

- how to run tests
- what linter are used
- where to find issues
- etc.

[2020-04-28 09:35] #264 closed, assigned to nobody

[2020-05-01 10:23] #349 closed, assigned to pnu-s

[2020-05-02 16:45] pnu-s commented on #316
@U039b FYI, this currently prevents from downloading APK from the official exodus instance with exodus-standalone

[2020-05-03 09:13] pnu-s commented on #316
Should be fixed by ca2a9b8d560657f7562bedbc81a5c0f1637af944 :tada:

[2020-05-03 09:13] #316 closed, assigned to nobody

[2020-05-10 09:15] pnu-s opened #354 "New color scheme for tracker stats?"
The current tracker statistics on exodus look like the following:
![image](https://user-images.githubusercontent.com/6069449/81495229-2079b280-92af-11ea-8212-da2a948b08d5.png)

The scale is:

- red: >= 50%
- yellow: >= 33%
- blue: < 33%

I find it strange that trackers present in less than 1% of the total applications have the same color than trackers present in 30% of our apps.

I would suggest a

[2020-05-10 09:26] MeTaLPoU commented on #354
I think that's a good idea !

[2020-05-10 10:48] ghost commented on #354
Sounds great

[2020-05-12 17:25] codeurimpulsif commented on #354
Cool idea, I agree

[2020-05-26 19:45] pnu-s opened #358 "Add same details in /api/search/handle/latest as in /api/search/handle"
Currently, `/api/search/handle/latest` returns very few details, as it is only used for searching an existing report in exodus

We need to discuss whether this needs to be a separate endpoint or not

What we could do:
* add more details to reflect `/api/search/handle`
* document endpoint in README

[2020-05-26 20:04] #336 closed, assigned to nobody

[2020-05-30 10:32] pnu-s commented on #354
Fixed by https://github.com/Exodus-Privacy/exodus/pull/357

[2020-05-30 10:32] #354 closed, assigned to nobody

[2020-05-30 12:31] #236 closed, assigned to nobody

[2020-06-01 12:43] pnu-s commented on #246
@eighthave Coming back (a bit later :smile:) to this topic, what we would need is actually a way to programmatically download **one app** - using its handle - from an FDroid repository (and not mirror the whole repository).

Because of disk space usage it won't be convenient for us to download the whole repository first and then look into the archive when we need to.

Do you think there is a way t

[2020-06-01 19:12] pnu-s commented on #246
Ok I managed (with some help from @U039b) to find a way to download the app with the data from index.xml

I'll need to dig into this and see how to integrate this into exodus :)

EDIT: I created a new issue to discuss F-Droid support specifically: https://github.com/Exodus-Privacy/exodus/issues/361

[2020-06-01 19:37] pnu-s opened #361 "Support downloading apps from F-Droid"
Creating this issue to follow the discussion from https://github.com/Exodus-Privacy/exodus/issues/246 specifically for F-Droid

The changes I plan to make:

**to allow exodus to have multiple app source**
- add a `source` field for applications (default to blank, considering blank as `google` at first)
- add a select form for the submission page to select the application source
- add the source in

[2020-06-03 12:59] Sebbaz opened #362 "Re-captcha identication"
Hello,

As La quadrature du net said in a tweet today, I saw that Exodus report is not showing the Google user tracking by re-captcha services.

By source code analysis, we can found traces of re-captcha in xml translation files and functions names : https://gitlab.inria.fr/search?utf8=%E2%9C%93&search=recaptcha&group_id=&project_id=21011&search_code=true&repository_ref=master&nav_source=navbar

I

[2020-06-04 11:43] pnu-s commented on #362
Hi @Sebbaz

exodus cannot by design detect such things: https://exodus-privacy.eu.org/en/post/exodus_static_analysis/

I'll let this issue open if anyone wants to discuss.

[2020-06-08 19:10] pnu-s opened #364 "Verify regularly status of trackers websites"
Following discussions tonight on Wire, the idea came up of checking regularly the status of the websites of our trackers.

The form it could take:
- add a 'status' field for trackers
- make a recurrent script with celery worker to check the status of websites and update the field
- add a note on our tracker profiles if status if not OK

[2020-06-20 17:35] ebanDev commented on #361
Great job as usual! 👏🏿👏🏿👏🏿

[2020-06-22 16:09] eighthave commented on #361
Sounnds good!  Since F-Droid repos publish the SHA-256 of the APKs, you could easily do a lookup after the APK was uploaded.  You could even include other repos in that look up, beyond just https://f-droid.org/repo.  See https://forum.f-droid.org/t/known-repositories

_index.xml_ should work for the foreseeable future. You can use _fdroidserver_ as library to get the index as a _dict_ after verify

[2020-06-28 15:26] #361 closed, assigned to pnu-s

[2020-06-29 18:01] ghost opened #366 "New app analysis show outdated app report/version"
When performing a new analysis of `com.instagram.android` on [https://reports.exodus-privacy.eu.org/en/reports/](https://reports.exodus-privacy.eu.org/en/reports/) (for which the report is outdated), analysis end with the following message :
"_A report already exists for this application version_".

When I clic on "_See the report_" it show me an old report : version 54.0.0.14.82 (not the last rep

[2020-06-29 19:16] pnu-s commented on #366
Hi @eliottlv and thanks for reporting this.

I took a look and made some tests and I understand what is happening. Some applications don't serve the same version to every phone device. That's the case for Instagram. When we try to download an app, we use a list of devices and stop at the first one which works.

What happens is that the first devices of the list are pretty old. If I try a device fu

[2020-06-29 19:36] ghost commented on #366
Is it a problem to keep only the most recent device models in the list?

[2020-06-29 19:47] pnu-s commented on #366
I think we need to keep old device models, in case some apps are only available on those.
But I don't think it's a problem to put the more recent devices first on the list.

I'll take a look at this and try to push something soon.

[2020-06-30 21:18] pnu-s opened #369 "Android TV apps cannot be scanned"
Examples:

https://play.google.com/store/apps/details?id=com.cloudmosa.puffinTV
https://play.google.com/store/apps/details?id=com.amazon.amazonvideo.livingroom
https://play.google.com/store/apps/details?id=com.google.android.youtube.tv

[2020-07-01 16:27] jawz101 opened #371 "tracker help: adbrix, adPopCorn, and more"
I'm wondering about the tracker signatures for adbrix & adPopcorn because they both use the same sdk yet the code signatures we get specific.  Should we just have one, call it IGAWorks and then just use a codesig of com.igaworks so it can grab these 2 and any other products that company comes up w/.  They still may have different network signatures distinguishing each of their products.

_

_

htt

[2020-07-01 17:35] pnu-s commented on #371
Hi @jawz101!

I guess it depends on the following points:
* Can an application embed adbrix and not adPopcorn (and the other way around)?
* As both trackers are doing different things (analytics vs advertisement), does it make more sense to display both?

To be fair I don't have too much an issue to keep both separated, with the signatures `io.igaworks.adbrix` and `io.igaworks.adpopcorn` if you th

[2020-07-01 19:40] pnu-s opened #372 "Rename "google" to "Google Play Store""
Using simply "google" for the source may not be totally clear.
It may be more explicit to write "Google Play Store" everywhere

[2020-07-01 20:17] jawz101 commented on #371
It doesn't matter much to me.  I just didn't know what would make more sense.

[2020-07-02 11:16] #372 closed, assigned to nobody

[2020-07-02 11:17] #366 closed, assigned to pnu-s

[2020-07-02 11:17] #369 closed, assigned to pnu-s

[2020-07-02 11:28] pnu-s commented on #366
Here you are @eliottlv: https://reports.exodus-privacy.eu.org/en/reports/138581/ :tada:

Thanks again for reporting this :)

[2020-07-09 15:49] #371 closed

[2020-07-09 15:54] jawz101 opened #376 "tracker help. Unacast.com"
I went down a rabbit hole on my list of potential trackers https://github.com/jawz101/potentialTrackers

and came across a company, [Unacast](https://www.unacast.com/), that is heavily involved in tracking mobility - so much so they're even grading zip codes for social distancing

https://www.unacast.com/covid19/social-distancing-scoreboard

https://in.mashable.com/tech/12523/this-company-youve-ne

[2020-07-09 16:43] jawz101 commented on #376
https://digitalprivacy.news/2020/04/16/where-does-unacasts-social-distancing-data-come-from/

[2020-07-09 16:56] pnu-s commented on #371
Let's keep these 2 trackers separated then!

[2020-07-12 16:24] pnu-s commented on #376
@jawz101 I can take a look but we mostly miss a code signature here

Everything what I could try (such as `com.fluxloop.react.pure` or `com.fluxloop.pure`) didn't match at all on our 140K+ reports.
Any idea what is the adequate signature here?

[2020-07-16 20:11] yoshimo opened #378 "Scan for more components than just trackers"
It shouldn't be too hard to add signatures for other components used by apps. There are all kinds of SDKs and libraries that are used in different versions and it would be interesting to see statistics of those as well.

[2020-07-16 20:14] yoshimo opened #379 "Recognize cert pinning"
Many applications are more secure than others by resisting MitM attacks. Either by using standard components like OKHTTP pinning, androids own cert pinning or adding the trusted certs themselves inside their internal code.
Would be nice if exodus would tell the user about these methods.

[2020-07-23 15:59] axelsimon opened #380 "App analysis fails with "Unable to download the APK""
Hi,
I'm trying to get a report for an app, but the request for analysis fails with:

This is the report: https://reports.exodus-privacy.eu.org/en/analysis/239878/
It is for this app, which is free (gratis, not FOSS) as far as i know: https://play.google.com/store/apps/details?id=clubwise.com.fitsense&hl=en_GB&showAllReviews=true

Thanks!

[2020-07-31 17:53] pnu-s commented on #380
Hello @axelsimon !

The app seems to have geographic restrictions (i.e. it is only possible to download it from certain countries), which prevents exodus from downloading it (this is a limitation of our tool).

The same issue is mentioned in #212

[2020-07-31 17:53] #380 closed, assigned to nobody

[2020-08-11 01:51] happyharry123 commented on #366
Hi pnu-s, I found that the application version In [https://reports.exodus-privacy.eu.org/en/reports/15900/](https://reports.exodus-privacy.eu.org/en/reports/15900/)  is not updated, even it states a recently updated time.
Also,  when I clicked the "see other versions", I found that there is only one version and pretty old version that no longer available to download from Play Store.

Thank you ver

[2020-08-29 09:54] #194 closed, assigned to nobody

[2020-09-01 18:15] #326 closed, assigned to pnu-s

[2020-09-14 21:11] ysfchn opened #382 "Do API results cover with AGPL license too?"
I didn't find the answer for it in the API docs or older issues, so just wanted to ask it anyway.

The license says that but I just wanted to be sure.

Thanks!

[2020-09-15 09:53] happyharry123 commented on #366
Hi pnu-s, thank you for your help in the last comment.

I also found that the application version In https://reports.exodus-privacy.eu.org/en/reports/hko.my_world_weather/latest/ is not updated too, even it states a recently updated time.

It would be appreciated if you could help to update thereport using latest version i.e. 2.0.4 on Play Store.

Thank you very much!

[2020-09-15 11:34] pnu-s commented on #366
Hi @happyharry123

I just re-submitted the application through https://reports.exodus-privacy.eu.org/en/analysis/submit/ and it scanned the latest version: https://reports.exodus-privacy.eu.org/en/reports/147102/

[2020-09-15 19:39] mvidonne opened #383 "Search engine for apps with specific permission"
Is there a way to  search apps with specific permissions i.e android.permission.BLUETOOTH_ADMIN?

[2020-09-16 01:34] happyharry123 commented on #366
Thank you @pnu-s for providing such a great way to re-submit the application!

[2020-09-19 08:27] pnu-s commented on #383
Hi @mvidonne

No there is no such feature for the time being!
The issue was already raised here: https://github.com/Exodus-Privacy/exodus/issues/2 so I'm gonna close this one

[2020-09-19 08:27] #383 closed, assigned to nobody

[2020-09-19 08:35] pnu-s commented on #193
See below the models (in French):

**Desktop:**
![image](https://user-images.githubusercontent.com/6069449/93662877-b0044e80-fa63-11ea-88ab-b6a29949131e.png)

**Mobile:**
![image](https://user-images.githubusercontent.com/6069449/93662886-bd213d80-fa63-11ea-9b04-1bfe252cddc2.png)

[2020-09-19 08:38] pnu-s commented on #379
Hi @yoshimo

I'm not sure we are able to detect this just with a static analysis (i.e. without executing the application)
Do you have a suggestion on how to do that?

[2020-09-19 08:39] pnu-s commented on #382
Asking internally to confirm that this is the case (but to my understanding it is!)

[2020-09-19 10:28] yoshimo commented on #379
For the common ways it should be visible in the app
https://www.netguru.com/codestories/3-ways-how-to-implement-certificate-pinning-on-android
https://github.com/Fuzion24/JustTrustMe has examples.

For Apps like zoom or uber jump that do their own version of cert pinning it might be useful to check if the code contains  Public-Key-Pins or SHA- hashes of for common public cas.
I am looking for a fe

[2020-09-27 13:50] elaynelemos commented on #328
@codeurimpulsif are you still working on it? I would like to contribute for hacktoberfest.

[2020-09-29 19:30] pnu-s commented on #382
@ysfchn Sorry for the time it took to answer, but yes it is indeed the case :)

[2020-09-29 19:30] #382 closed, assigned to nobody

[2020-09-29 20:05] ysfchn commented on #382
Oh, no problem, thank you so much! 😄

[2020-10-05 21:18] abaker opened #390 "AdMob false positive"
[Tasks.org](https://github.com/tasks/tasks) is being falsely flagged for containing AdMob ([report](https://reports.exodus-privacy.eu.org/en/reports/133177/)). Perhaps it is because `com.google.firebase:firebase-analytics` has a transitive dependency on `com.google.android.gms:play-services-ads-identifier`, whose classes are in the package `com.google.android.gms.ads`

This is only an issue when t

[2020-10-05 23:13] kaputnikGo opened #391 "package defpackage"
i have been seeing some of these signatures "package defpackage" and they do things like this:
import com.facebook.FacebookSdk
and
import android.media.AudioRecord;

they tend to have obfuscated class names, such as:
public static final aeyd a = aeyd.a("aasl");

and generally seem to be doing a lot of things that would ordinarily be of interest to Exodus in terms of tracking etc, which makes me th

[2020-10-08 12:13] pnu-s commented on #390
Hi @abaker

You're right, this was reported due to a signature rule a bit too wide.
We fixed this yesterday on exodus and the tracker is no longer reported. We will soon communicate about this.

Sorry for the inconvenience and thanks for the report

[2020-10-08 12:13] #390 closed, assigned to nobody

[2020-10-22 16:09] ghost opened #393 "F-Droid scan use beta versions of apps before stable versions"
When scanning an app from F-Droid, Exodus download the latest version of the app but this version can be a pre-version that is **not downloaded and used by default** on Smartphones.

For example, the app "[andOTP](https://f-droid.org/en/packages/org.shadowice.flocke.andotp/)" has latest version "0.8.0-beta2" but latest stable (and downloaded by F-Droid by default) version is "0.7.1.1". Note that t

[2020-10-22 18:20] pnu-s commented on #393
Interesting issue, thanks @eliottlv for reporting it!

I'll try to take a look when I find the time, if no one does it before :)

[2020-10-23 08:56] Gu1nness commented on #393
Clearly, we want to analyse the stable version in my opinion.
However, I did not work on the F-Droid code and I'm way too depressed to give it a try for now I think.

[2020-10-23 09:44] ghost commented on #393
I've tried to find how to use stable versions first and I found that in the F-Droid index ([https://f-droid.org/repo/index.xml](https://f-droid.org/repo/index.xml)) there is an XML tag `<marketversion>0.7.1.1</marketversion>` that points to the latest stable version of an app (here andOTP). I think that we can update the XML parser to get these tags.

[2020-10-24 06:41] #328 closed, assigned to codeurimpulsif

[2020-10-24 06:56] pnu-s opened #394 "Remove CSRF protection ?"
We currently have a CSRF protection on the platform on our post forms (search fields, language selector).

Given the nature of our platform and of these fields, I'm not sure this protection actually makes sense.
It actually creates some issues, for instance for caching pages with Varnish.

I am curious to know your opinions on this topic @U039b @codeurimpulsif

[2020-10-24 07:18] pnu-s commented on #393
Ok I took a deeper look at this issue.

That's an interesting topic.

The `marketversion` tag seems to be useful to know which version is "suggested" on the F-Droid application profile page. This being said, if we change our code, then **exodus won't be able to scan the latest version(s)** (in your example the "beta" versions) **although there are available for people to download**.

So I'm not co

[2020-10-24 08:13] ghost commented on #393
I think that to allow peoples to download the latest stable or any of the beta versions, we can make Exodus propose **a list of available versions to be scanned** (with info on which versions are already scanned) when entering a package name. That way, there will be no "unscanable" versions.

Or else, to solve definitively the problem, when scanning an app from F-Droid, we can make Exodus **search

[2020-10-24 08:56] pnu-s commented on #393
Both options would require a **significant rework** of the way the platform is dealing with downloading applications

To be totally honest, I'm not sure we will be able to find the time to make such changes, at least in short/middle term

[2020-10-24 11:57] pnu-s commented on #394
Discussed internally, won't do this!

[2020-10-24 11:57] #394 closed, assigned to nobody

[2020-11-04 21:58] jawz101 opened #397 "Dynatrace signature update"
Can someone change the signature for Dynatrace?  I did so on ETIP.  The legacy SDK used the `com.dynatrace.android.app. `however their newer OneAgent SDK uses a     `com.dynatrace.agent:agent-android:8.+`

https://www.dynatrace.com/support/help/technology-support/operating-systems/android/instrumentation-via-oneagent-sdk/manual-instrumentation/

just use `com.dynatrace`

[2020-11-04 22:00] jawz101 commented on #378
I submit anything I dig into, to be honest.  Most tend to be analytics but if you can get an account the signature submission page is here https://etip.exodus-privacy.eu.org

Basically anything that represents a developer uses someone else's code within their own app is something I question.

[2020-11-05 07:13] pnu-s commented on #397
Hi @jawz101 and thanks for raising this

I did not notice the signature change (not sure the best way to detect this actually)

I'm wondering, should we use `com.dynatrace.android.app|com.dynatrace.agent|com.dynatrace.tools` instead of `com.dynatrace`? To make sure we don't catch anything unintentionally.

[2020-11-05 07:20] pnu-s commented on #378
That's an interesting topic.

For now, we are defining tracker as the following:

See: https://reports.exodus-privacy.eu.org/en/info/trackers/

[2020-11-05 14:14] jawz101 commented on #397
I guess so.  Either way

[2020-11-07 12:09] pnu-s commented on #397
Changes integrated into exodus, thanks!

[2020-11-07 12:09] #397 closed, assigned to pnu-s

[2020-11-07 18:06] Gu1nness commented on #378
@yoshimo What do you mean by other components than just trackers?
With our broad definition, I guess all the tracking components are included, but if you have an example/idea of what could be added, we'd be happy to here about it!

[2020-11-07 18:10] Gu1nness commented on #362
Hum, that is an interesting question actually.
We just need to see if we can access the function names without decompiling the app, and then creating a new model of tracking for everything that is WebView based.
However, this is a huge amount of work, which will take a lot of time if possible.

[2020-11-07 18:12] Gu1nness commented on #339
My idea on this :
 * We add a field `count_analysis` on the Application model and block the number of analysis to a maximum defined in the settings
 * we use [django-cron](https://pypi.org/project/django-cron/) to reset the value of count_analysis every given period of time.

[2020-11-07 18:17] Gu1nness commented on #324
So I list :
 * import_categories
 * import_from_etip
 * importtrackers
 * refreshstaticanalysis
 * refresh_fdroid_index
and the others from reports.

I also noticed that there is no naming convention. Some use underscores between words and some not. I think we should have the convention of always separating with underscores.

[2020-11-07 21:22] yoshimo commented on #378
If we look at AddonScanner (which has the advantage to be able to scan paid apps locally) we have the following categories and samples on this testphone:
Crash-Submission (sentry, BugSnag,Crashlytics, HockyApp,ACRA,Bugfender,Instabug)
Analytics(Firebase, Answers, MixPanel,Branch, Adjust, InfOnline,GoogleAnalytics,AppBoy, Braze,AppMetrica, Flurry,Amplitude,Segment,OpenCensus,Countly,
Call Screen Ad

[2020-11-08 13:01] pnu-s commented on #324
@Gu1nness Your list is correct :)

I think at first we should have a very simple documentation for each commands in the README (a couple of lines each with the possible options)

I agree with you for the convention :)

[2020-11-09 08:08] Gu1nness commented on #324
Ok.
So my patch will change the naming convention and add the list with a simple description of each command.

[2020-12-02 11:17] semiaddict opened #400 "Enhancement: Propose more privacy-friendly alternatives"
Would it be possible to propose more privacy-friendly alternatives to scanned apps?
Maybe by comparing similar audited apps (by category for example) and proposing 2-3 apps with less trackers/permissions.

I think this could increase the usefulness of the platform by proposing solutions to the problems.

I haven't yet taken a look at the code, but would be happy to try and tackle this if it's some

[2020-12-06 13:51] pnu-s commented on #400
Hello there!

That's an interesting question, but unfortunately not that easy.
The organization Exodus Privacy does not want to judge applications (or even trackers) by saying "this app is better than this one", because trackers and permissions are not all equal, it depends on context.

Integrating categories into exodus would be interesting, as it would let our users decide which app suits best t

[2020-12-07 08:46] semiaddict commented on #400
Thank you @pnu-s.
I totally understand the organization's stand on the promotion of one app over another.

I wasn't aware of exodify. Looks like it can be promising, but has a CORS issue (see https://github.com/FacettsOpen/exodify/issues/8) making it unusable on Chrome at the moment (I only use Chrome to connect to google services). I will try to take some time to file a pull request there.

[2020-12-23 07:52] dja-fr opened #403 "Is there a way to integrate exodus in Continuous Integration Pipeline ?"
Hello,

Is there a way to integrate exodus in CI pipeline (with gitlab-ci or jenkins) like a SonarQube scan ?

The aim is to provide a feedback to dev team as soon as possible, because some thirdparty lib came with trackers (whatever if they are activated or not).

[2020-12-23 08:35] pnu-s commented on #403
Hi @dja-fr !

That's a great idea, you can use https://github.com/Exodus-Privacy/exodus-standalone to scan your APK in our CI pipeline.
exodus-standalone is provided as a Docker image so that should be very easy to integrate into GitLab CI.

We could provide an example of configuration into the exodus-standalone repository, if you manage have a working yml configuration you can open a PR to add it

[2020-12-23 17:46] pnu-s commented on #403
Until I find the time to add it to some README, here is a working example:

[code]

Note that this will fail if it finds **any tracker**.

[2020-12-24 10:57] MBZ-07 opened #404 "Not scanning every new installed app"
Hi, Exodus cannot scan an application installed after I installed it, What's the problem ?

[2021-01-26 09:52] pdehaye opened #410 "Missing permissions"
Some of the Exodus reports are missing some of the permissions.

For instance, the app `net.androgames.level`:
* asks for both Bluetooth permissions according to [this tool](https://penelope.digitalmethods.net/app-scrapers/#/google/f2f8a480-5fb6-11eb-88ef-1b81537c067e);
* asks for both Bluetooth permissions according to the [Play Store](https://play.google.com/store/apps/details?id=net.androgames.

[2021-01-28 22:59] ghost commented on #410
adding to this, i am currently looking into https://reports.exodus-privacy.eu.org/en/reports/162365/ and have noticed that the playstore listing has Record Audio permission  as does the apk in its manifest file  (android:versionName="8.5.96.936") but exodus doesn't report it. The apk also contains multiple instances of AudioRecord from multiple packages including com.spotify, defpackage and com.se

[2021-01-30 12:54] pnu-s commented on #410
That's interesting, thanks for reporting.
The only explanation I could see right now is about version differences, but the last example from @kaputnikGo seems to prove that this is not the case.

Note that we are getting application permissions using [Androguard](https://github.com/androguard/androguard).

[2021-02-08 00:30] MarkSchmidty opened #412 "[Feature Request] Support popular unofficial F-Droid repos"
**The problem:** Privacy conscious users frequently install apps from unofficial F-Droid compatible repositories.
For example, https://guardianproject.info/fdroid/ for Tor Project software, EFF software, and other privacy software. There's currently no good way of knowing if tracking is being added or removed to builds in these repos.

Since these repos are all F-Droid compatible already, adding s

[2021-02-08 00:52] MarkSchmidty commented on #412
### Potential Solution 3
Simply run a cron job to scrape for updates from the [XML pages](https://rfc2822.gitlab.io/fdroid-firefox/fdroid/repo/index.xml) for a list of repos and analyze everything in a queue.

The amount of apps in these repos is not that high. So this may actually be the easiest and most user-friendly solution.

Why do people trust one of the 20 different builds of Signal Messeng

[2021-03-04 17:53] codeurimpulsif opened #414 "Return specific exit code for each error"
As we can see at [line 16 of exodus/exodus/core/apk.py](https://github.com/Exodus-Privacy/exodus/blob/v1/exodus/exodus/core/apk.py#L16) we always return a `-1` exit code in case of failure, regardless of the error.

I think we can return a different exit code for each error to make things easier for monitoring tools or wrappers.

List of error messages:
Exit code | Error message
------------ | ---

[2021-03-04 18:11] yoshimo opened #415 "Mark paid apps as such"
Before trying to download & scan , i think we should check the app first to see wether it costs money or not and if so, show that as an $ icon and skip any further attempts as it is futile.

[2021-03-04 18:37] yoshimo commented on #344
and i think it would also be good to have this as a wildcard option in all search boxes
Some apps are whitelabel products and are made by one company and published by others.
so a com.company.whitelable.* as search would help a lot oo.

[2021-03-06 09:15] pnu-s commented on #415
That sounds like a good idea, thanks @yoshimo

Just to be clear, do you suggest to create a report (an empty one) for paid apps?
Or "simply" to display a clear error message and avoid trying to download the app.

I would personally prefer the second option.
In both cases, we need to find somehow the information that the app is a paid one.

[2021-03-06 09:50] yoshimo commented on #415
It is about putting the error first on the analysis website and an icon in the android app on the app overview.
If you know that you can't download the app, avoid trying to do so.
So Number 2 :)

[2021-03-06 19:27] #403 closed, assigned to nobody

[2021-03-07 09:17] pnu-s commented on #57
Blokada is now providing such a list using this script: https://github.com/blokadaorg/landing-github-pages/blob/master/scripts/exodus.py

The list is available here: https://blokada.org/mirror/v5/exodusprivacy/standard/hosts.txt

[2021-03-07 09:17] #57 closed, assigned to nobody

[2021-03-07 09:20] pnu-s opened #419 "Add link to application privacy policy"
Once https://github.com/Exodus-Privacy/exodus/pull/418 is merged we will be able to use https://pypi.org/project/google-play-scraper/ to get easily data from the Google Play Store

We could use it to get the privacy policy page for each app and display a link at the top of the page

[2021-03-07 09:21] pnu-s opened #420 "Display whether the app displays ads (according to Google Play Store)"
Once https://github.com/Exodus-Privacy/exodus/pull/418 is merged we will be able to use https://pypi.org/project/google-play-scraper/ to get easily data from the Google Play Store

We could use it to display whether the application has the "display ads" flag

[2021-03-07 09:21] pnu-s opened #421 "Add a link to contact the application developer"
Once https://github.com/Exodus-Privacy/exodus/pull/418 is merged we will be able to use https://pypi.org/project/google-play-scraper/ to get easily data from the Google Play Store

We could use it to display a link to contact the application developer (email address available on Google Play Store)

[2021-03-07 16:51] #415 closed, assigned to nobody

[2021-04-03 12:42] yoshimo opened #427 "Offer "Diff" between app versions with tendency"
Apps can have a lot of permissions and sdks and it would be great if we could get a side by side diff between different versions to see which components and permissions are new or were removed between versions.
You could also add arrows to show if we have less, more or the same number of elements between versions.

[2021-04-15 15:51] meor9zcu12 opened #429 "Google Firebase Analytics false positive in Exodus Privacy"
### Background
My Android app doesn't use anyone of these libraries:
1. **com.google.firebase:firebase-core**
2. **com.google.firebase:firebase-analytics**

but your site https://reports.exodus-privacy.eu.org/en/ reports that **Google Firebase Analytics code signature** is found in my app.

So, I tried many times by using **exodus-standalone** at this link https://github.com/Exodus-Privacy/exodus-

[2021-04-21 17:44] U039b commented on #429
Hi @meor9zcu12
Regarding Firebase Analytics (https://reports.exodus-privacy.eu.org/en/trackers/49/), εxodus checks if your application embeds either the `com.google.firebase.analytics` package or the `com.google.android.gms.measurement` package.
Their associated documentation:
- https://developers.google.com/android/reference/com/google/firebase/analytics/package-summary
- https://firebase.google.

[2021-04-21 17:45] #429 closed, assigned to nobody

[2021-04-27 14:57] jawz101 commented on #400
I'm not a fan of suggesting alternative apps.  There are tons of people who do that already and most of these don't really have alternates.  ex: if I have a shopping app for a particular website, there aren't alternatives to address the same thing.

[2021-05-08 13:39] pnu-s opened #433 "Add documentation field for trackers and get it from ETIP"
* Add documentation field to tracker model
* Update `import_from_etip` function to fill this field from ETIP API
* Update tracker "details" template to add list of links under `Documentation` title

This requires https://github.com/Exodus-Privacy/etip/pull/113 to be merged and deployed first.

[2021-05-16 09:28] pnu-s opened #434 "Uncatched exception when app identifier > 200 chars"
When an application has a handle which is > 200 characters, the analysis crashes and stays forever "in progress"

Exodus should handle it better and return at least an error message

Exemple app to reproduce:
https://play.google.com/store/apps/details?id=com.among_us.minecraft.brain_out.clash_of_clans.hunter_assassin.zombie.parking_games.racing_games.action_games.arcade_games.carrom.play_games_onl

[2021-05-19 20:31] ignoramous opened #436 "Add more apps to suggested actions"
Exodus Privacy could consider adding other apps that help prevent tracking and link to f-droid builds for ones that are on f-droid. Some that come to mind:

[Intra](https://github.com/Jigsaw-Code/Intra)
[DNS66](https://github.com/julian-klode/dns66)
[Nebulo](https://github.com/Ch4t4r/Nebulo)
[PersonalDNSFilter](https://f-droid.org/en/packages/dnsfilter.android/)
[RethinkDNS](https://github.com/cel

[2021-05-19 21:14] ignoramous commented on #149
@nautik1 Blokada: You may want to consider linking to only their f-droid page instead of the website till this issue is resolved: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/8536

cc: @pnu-s

[2021-06-30 21:17] ghost opened #439 "Add a refresh button to app reports"
It could be great to add a refresh button to app reports (on website but also on the smartphone app) to improve the process of updating the reports.

Currently, a user wishing to update a report from the mobile app must:

1. Click on app name
2. Click on "View on Exodus"
3. Copy the store link of the app
4. Open the hamburger menu
5. Click on "Reports"
6. Click on "Perform a new analysis"
7. Paste

[2021-07-11 09:38] ghost opened #440 "Unable To Compute APK Fingerprint"
Hello,

I have a problem with few apps when I want to scan it on Exodus Privacy.
I have the error message "Unable To Compute APK Fingerprint".

I have this error message for these apps :

at.bitfire.davdroid (F-Droid)
eu.faircode.email (F-Droid)
com.simplemobiletools.gallery.pro (F-Droid)
de.luhmer.owncloudnewsreader (F-Droid)
app.fedilab.nitterizeme (F-Droid)
im.vector.app (F-Droid)

Why ?

Pleas

[2021-07-22 19:07] SkewedZeppelin opened #441 "Google Primes"
I've only done a cursory check, but it seems Exodus does not flag Google Primes as a tracker.

Google Primes is a lightweight metrics library used mostly by Google's own apps, such as:
- TalkBack for Providers: https://github.com/google/talkback
- Snapseed: https://play.google.com/store/apps/details?id=com.niksoftware.snapseed

[2021-07-23 17:48] pnu-s commented on #440
Hi @Jean-Michel-Jarre and thanks for reporting this!

I started to take a look and it seems that for these applications we cannot find a certain tag in the data we get from F-Droid (in order to download the app icon) which blocks the whole thing.

I'll investigate further!

[2021-07-23 17:53] ghost commented on #440
Hello,

Ok, thanks you so much :)

I investigating this issue a bit more and the problem happened with all F-Droid applications, not just these few applications.

Regards,

[2021-07-23 18:05] ghost opened #442 "A report already exists for this application version"
Hello,

I have a problem with some applications on the google playstore when I analyze them with exodus privacy.

I get the error message "A report already exists for this version of the application".

It's strange because the new versions of the applications have not yet been analyzed by Exodus :(

These applications are :

keepass2android.keepass2android
com.radiofrance.radio.francebleu.android

[2021-07-24 09:03] pnu-s commented on #442
Hello again :)

I just checked ` com.radiofrance.radio.francebleu.android` and exodus seems to work as expected for me. It tells me that "A report already exists for this version of the application", directs me to a report for the version `12.1.0` and if I go to Google Play it indeed shows me that this is the latest version.

Do you have more details about a specific issue?

[2021-07-24 09:04] pnu-s commented on #442
Same for keepass2android.keepass2android and version `1.08d-r5`

[2021-07-24 09:28] ghost commented on #442
Hello,

Yes it's strange because there is a difference between the version number displayed on the Google Play Store and on Exodus Privacy For Android.

For example :

com.radiofrance.radio.francebleu.android is in version 12.1.0 on the playstore and in version 13.0.1 on Exodus Privacy for Android.

keepass2android.keepass2android is in version 1.08d-r5 on the playstore and in version 1.09a-r3 on

[2021-07-24 13:17] pnu-s commented on #439
Hello @eliottlv
On the website it is fairly simple to add such a button. There is actually one but it is only visible by admins. We discussed a couple of times already whether this button should be available to everyone but did not decide yet.

On the app it's probably a harder task but I'm not really familiar with that.

[2021-08-07 16:32] gallegonovato opened #445 "Petition to help us with our security"
Good afternoon:

First of all apologize for if this is not the right title, or the right place to make this request.

Then let me thank you for your great application, your website. And for all your work and effort. Since it is of great help to us to know what applications spy on us, what permissions they have (and many do not say so), etc ....

I am writing to you to tell you a suggestion that co

[2021-08-17 15:24] pnu-s opened #447 "Use GitHub Actions to push to Docker Hub"
We were using the Docker Hub autobuild feature but it is not available for free anymore.

We could use GitHub Actions instead to do the following:
* for each commit on master, push to `latest`
* for each new tag (starting with `v`), push to `<tag_name>` (without the `v` if we keep the current convention)

Image repository: https://hub.docker.com/r/exodusprivacy/exodus

[2021-08-17 15:26] pnu-s opened #448 "Check that Docker image can be built for each pull request"
Update GitHub Actions file to run a `docker run` command to make sure that the docker image can be built.

`docker build -t exodus . --file ./docker/Dockerfile`

[2021-08-17 16:19] pnu-s commented on #440
I opened an issue on F-Droid repo: https://gitlab.com/fdroid/fdroiddata/-/issues/2436

The answer:

It seems there are some data for F-Droid we do not download currently, we should add another scheduled task to download this JSON file and check there if we can find our missing icons.

[2021-08-17 16:32] ghost commented on #440
Ok, thanks !
So, you are able to fix this issue ?

I let you close this issue when it's fixed :)

[2021-08-17 16:48] yoshimo opened #449 "Weird Versions with MobilePass"
With Safenets Mobile Pass App (securecomputing.devices.android.controller) i think the version parsing is off
It started fine with
8.4.2.24
and then you only get versions like
@7F0C0011 which do not match what is installed.

The recent 8.4.5 isn't shown as "scanned" but also won't show as recent when you ask exodus for a new report.
Do we have a package parsing issue here? The "number" looks more

[2021-08-17 17:32] pnu-s commented on #440
We are able to yes, but this is not a trivial change so I don't know when someone will have the time to take a look at this.

Definitely worth keeping the issue open until we fix it :)

[2021-08-17 17:57] pnu-s commented on #449
That's an interesting one indeed, good catch and thanks for reporting it to us!

We don't do any parsing on our side, we simply get the android version name and version code from https://github.com/androguard/androguard

May be worth creating an issue there if we can reproduce and see what are indeed the `versionCode` and `versionName` in the manifest of this app!

[2021-08-17 18:53] yoshimo commented on #449
androguard axml reports

[code]

[2021-08-18 14:43] yoshimo commented on #449
The App is protected with dexguard, lots of unreadable nonascii names used and the control flow is also messed up.
No wonder why the parsing breaks

[2021-08-29 07:27] pnu-s opened #450 "App analysis hangs forever"
In some cases the exodus analysis worker can fail unexpectedly, which makes the analysis hang forever.

This happens around this line:
[code]

[code]

I'm not sure yet whether this is version, version_code or app_name which is of NoneType but we should check them all.

The following app can be used to reproduce the issue: `org.privacywall.browser`

What to do:
* Check whether any of them are NoneT

[2021-09-11 15:45] Jean-BaptisteC opened #452 "Incorrect version number application"
Version number exodus privacy @7F060005
Version number play store 1.1.0
version number is incorrect on exodus privacy https://reports.exodus-privacy.eu.org/fr/reports/199845/
https://play.google.com/store/apps/details?id=com.singlecellsoftware.swampwater

[2021-09-12 12:31] #452 closed, assigned to nobody

[2021-09-12 12:31] Jean-BaptisteC commented on #452
Same version number on exodus CLI

[2021-09-12 13:19] yoshimo commented on #452
https://github.com/Exodus-Privacy/exodus/issues/449 seems to be your duplicate

[2021-09-18 08:09] pnu-s opened #454 "All apps are reported as paid apps"

[2021-09-19 06:21] pnu-s commented on #439
For this repository, duplicates https://github.com/Exodus-Privacy/exodus/issues/216

[2021-09-19 06:21] #439 closed, assigned to nobody

[2021-09-19 06:25] pnu-s commented on #69
Closing this issue (see previous comments)

[2021-09-19 06:25] #69 closed, assigned to nobody

[2021-09-19 06:32] #172 closed, assigned to nobody

[2021-09-19 06:39] pnu-s commented on #333
Replying very late, but I'm wondering how we could do that, for 2 reasons.

A) There are usually A LOT of modules and I don't know how practically to add this in the page without breaking the UX (not even mentioning storing this in our database)
B) There are often some modules which are obfuscated, resulting in very weird strings which would, once again, be very confusing for most our users

I'm c

[2021-09-19 06:39] #333 closed, assigned to nobody

[2021-09-19 06:42] pnu-s commented on #362
Closing this for the time being, will reopen if new ideas arise.

[2021-09-19 06:42] #362 closed, assigned to nobody

[2021-09-19 06:46] pnu-s commented on #445
Hello there!

Thank you for your kind message.
If I remember correctly, Blokada open sources the script they are using to generate this list: https://github.com/blokadaorg/landing-github-pages/blob/master/scripts/exodus.py

From this you can:
1. find what they qualify of "standard"
2. modify it to suit your needs

Hope this helps you!

[2021-09-19 06:49] pnu-s commented on #379
Do not forget that we cannot read the code as it would imply to decompile the app, which we cannot legally do.

[2021-09-19 06:52] pnu-s commented on #378
I think we need to be careful here if we change what we call a tracker.

Another option would be to create a separate category of "other things", but as always I'm afraid of what it would imply for the user experience of most of our users (which are mostly interested in permissions and trackers).

[2021-09-19 07:35] yoshimo commented on #378
If those aren't counted as trackers and don't turn the badges yellow and red I think a few more lines won't hurt.

[2021-09-19 07:39] yoshimo commented on #379
Well some parts have to be read otherwise the whole exodus analysis won't work.
It is a fine line depending on jurisdiction.
The manifest can already include this. At least on that level it should be possible to detect it legally

[2021-09-19 07:40] #454 closed, assigned to pnu-s

[2021-09-19 08:44] #450 closed, assigned to nobody

[2021-09-19 08:46] pnu-s commented on #442
Currently I don't see any issue with the web platform, as the version analyzed and the one from Google Play Store is the same.

Closing this then as we cannot reproduce.

[2021-09-19 08:46] #442 closed, assigned to nobody

[2021-09-19 12:18] ignoramous commented on #436
@pnu-s No go? Exodus today endorses just one other app: [b3a82a/exodus/web/templates/base/next.html](https://github.com/Exodus-Privacy/exodus/blob/c365dfd9f5044f48bc5ddac794073ed664b3a82a/exodus/web/templates/base/next.html).

[2021-09-19 12:20] ignoramous commented on #445
What's the status of ETIP: https://f-droid.org/en/2021/02/22/exodus-etip-canonical-database-for-tracking-trackers.html?

[2021-09-19 12:41] jfoucry commented on #445
Hello,

ETIP still exist ans is very important for you. Every body could participate to track trackers, simply ask for an account.

But the process between the add of a new tracker in ETIP database and the inclusion into the Exodus database is very long and boring.

The Blokada script pointed by @pnu-s use the Exodus database. So it's mean that it take times between the ETIP declaration and the ad

[2021-09-19 14:23] pnu-s commented on #436
To be fair that's a good question/idea.

We probably should add multiple solutions if that doesn't hurt our main target: non technical people.
If we add multiple solutions, people could ask "why are there multiple ones ? which one should I choose? etc." so I'm a bit unsure about this.

We also need to choose which ones to add. My **personal** choice goes to Blokada and PersonalDNSFilter, Blokada f

[2021-09-19 14:24] pnu-s commented on #436
It's was a "no go", we would close the issue. :wink:

[2021-09-19 14:26] pnu-s commented on #445
Indeed, the trackers present in ETIP (and which are not yet in exodus) are not validated (yet ?).

Which means if we make a blocklist from ETIP it could have false positives and potentially break apps.

I would recommend using the exodus database then, as did the Blokada people.

[2021-09-19 16:12] ignoramous commented on #445
Thanks folks.

Blokada devs also have their own _arbitrary_ whitelist: https://github.com/blokadaorg/landing-github-pages/blob/5c8ed3ebcbf8dbe2a4bc8c4cbc3ba1342c38d344/scripts/exodus.py#L87 I'd not recommend its use as a proxy to ETIP.

[2021-09-19 17:01] ignoramous commented on #436
A _lot_ of folks look up to Exodus (including me). Digital privacy and security is neither trivial nor non-essential. F-Droid has the right idea: Even if it is really hard for them to scan all 3500 apps across numerous updates for anti-features, [they still make an effort to do so](https://gitlab.com/fdroid/fdroiddata/-/issues/2289).

If I am allowed to suggest: Either Exodus be very careful of wh

[2021-09-21 16:38] pnu-s commented on #410
I'm closing the issue because atm I'm not sure what we can do.
At best this is an issue with Androguard.

[2021-09-21 16:38] #410 closed, assigned to nobody

[2021-10-05 21:21] T145 opened #461 "[feature] Create JSON fields containing a raw domain and IP in the API"
Parsing out information from the `network_signature`, `code_signature`, and `website` fields can be tedious at times, and it would be great if there were simple `domain` and `ip` fields in the tracker objects.

[2021-10-09 03:55] MuntashirAkon opened #463 "DOV-E SDK signature is too generic and results in false-positives"
[DOV-E SDK](https://etip.exodus-privacy.eu.org/trackers/c2d5fd5e-1e1c-4f6b-9a3f-f3dba476da32/) has the signature `com.dv` which clashes with a popular app called [Advanced Download Manager](https://play.google.com/store/apps/details?id=com.dv.adm) (ADM) whose package name is `com.dv.adm`.

We have investigated the signature ([example app](https://play.google.com/store/apps/details?id=com.bbva.bbva

[2021-10-09 06:48] pnu-s commented on #463
Awesome, thanks for reporting this and for the investigation.

I'll check it and make sure we ship it soon.

[2021-10-09 10:01] pnu-s commented on #463
Change made to ETIP and imported to exodus, the reports are being refreshed.

[2021-10-09 10:01] #463 closed, assigned to nobody

[2021-10-09 10:27] MuntashirAkon commented on #463
Thanks for your quick response 👍

[2021-10-14 19:22] pnu-s opened #464 "Update privacytools.io links"
Received the following message:

I think we can update the link on our page for every language.

[2021-10-15 12:37] mike-k0 commented on #464
I'd like to work on this issue if that's alright

[2021-10-19 16:31] Jean-BaptisteC commented on #414
We have just need to create variables for different error message. Only on apk.py ?

[2021-10-19 16:33] Jean-BaptisteC commented on #414
Maybe add exit code for error message "Unable to scan paid applications" ?

[2021-10-19 16:44] Jean-BaptisteC opened #467 "Problem characters on app name"
https://reports.exodus-privacy.eu.org/fr/reports/207834/ on this report we have a display problem on the appname but on google play, we don't have a special characters

[2021-10-19 19:17] Jean-BaptisteC commented on #467
The real name of application is maxim 🚕, any problem on mobile app exodus

[2021-10-25 12:58] liorazi opened #468 "Unable to download the APK"
I'm unable to analyse this app:

https://play.google.com/store/apps/details?id=ru.skillcap.dominoes

I entered the link in this page:
https://reports.exodus-privacy.eu.org/en/analysis/submit/

But after around 20-30secs I got a "Unable to download the APK" message with no report.

[2021-10-25 16:10] pnu-s commented on #468
Hello @liorazi

Indeed, it seems like we cannot download this app, no matter which device we are simulating.
I don't know the reason, keeping this open then, thanks for reporting.

[2021-10-31 10:50] liorazi commented on #468
@pnu-s

After some research I got to the conclusion it's related to this issue: https://github.com/Exodus-Privacy/exodus/issues/168.

[2021-10-31 10:50] #468 closed, assigned to nobody

[2021-11-02 04:04] 89z opened #469 "cannot import name 'utils' from 'gpapi'"
Using this code:

[code]

I get this result:

[code]

Looks like the problem is here:

https://github.com/Exodus-Privacy/exodus/blob/8fb801f39ced0ba872b3e7511e30f65996c54cae/gpapi/googleplay.py#L18

[2021-11-04 03:21] tazihad opened #470 "[Feature Request] Add "BDT - Bangladeshi Taka" option as preferred local currency."
**The problem:** Exodus lack "BDT - Bangladeshi Taka" as local currency.

**Potential Solution:** Add "BDT - Bangladeshi Taka" as local currency.

[2021-11-06 12:44] adrienandrem opened #471 "Videos torrent download doesn't start"
[PeerTube videos](https://video.exodus-privacy.eu.org/video-channels/2ab4458d-0b3c-485a-aeaf-792cd0842bc8/videos) download via torrent doesn't start.
Looks like PeerTupe isn't seeding :thinking:

[2021-11-08 20:28] jfoucry commented on #471
Hello,

May be because the peertube version is too old (2.1.1). I didn't take time to finish an upgrade. Each time I tried, it failed so I had to rollback to previous version.

I need to find time to work on it…

Thanks for your report.

[2021-11-09 17:00] 89z commented on #469
Closing this in favor of my own package:

https://github.com/89z/googleplay

[2021-11-15 17:05] jpstotz opened #472 "Bunch of tracker info"
Hi, I just noticed that admost is so friendly to provide a condensed list of all related/affiliated tracking and ad frameworks including name and initial class name in their sdk. In total there are 88 tracking frameworks mentioned.

For the full list see this attachment: [AdMostAdClassName.txt](https://github.com/Exodus-Privacy/exodus/files/7540313/AdMostAdClassName.txt)

This list seem to be used

[2021-11-17 17:04] Jean-BaptisteC commented on #472
Thanks for extract, i have add trackers on ETIP, the next time open issue on [Etip Github](https://github.com/Exodus-Privacy/etip/issues)

[2021-11-17 17:10] jpstotz commented on #472
@Jean-BaptisteC Next time I will do so. I thought that the Etip project is focusing on the software running the database only, therefore I created the issue here.

[2021-11-21 17:02] pnu-s commented on #469
Hello @89z

What is your setup? Did you install everything locally or are you using docker-compose?

[2021-11-21 17:05] pnu-s commented on #472
Awesome, thanks @jpstotz and @Jean-BaptisteC !

Closing this issue then :)

[2021-11-21 17:05] #472 closed, assigned to nobody

[2021-11-25 08:00] ranjithrajv opened #473 "Allow to block trackers"
Exodus helps us find trackers for each app, that's essential to be aware of who is tracking us.
https://reports.exodus-privacy.eu.org/en/trackers/?filter=apps

Adding a feature that allows to block these trackers would be a great enhancement to the experience of using Exodus Privacy app.

Reference:
DuckDuckGo claims to be offering this in their upcoming releases.
https://spreadprivacy.com/introdu

[2021-11-25 21:21] Jean-BaptisteC opened #474 "Problem during analysis and report is incorrect"
https://reports.exodus-privacy.eu.org/fr/reports/219542/
https://reports.exodus-privacy.eu.org/fr/analysis/349847/
Analysis of this application is never ended
Analysis is blocked on analysis of trackers: success
Report is generate but number of autorisations is incorrect

[2021-12-04 03:28] Tvirin commented on #440
Also:
org.mozilla.fennec_fdroid (F-droid)

[2021-12-04 12:54] Jean-BaptisteC commented on #414
| Exit code | Error message |
| --- | ---- |
| -1 | Unable to scan paid applications |
| -2 | Unable to download the APK |
| -3 | Unable to get application details from Google Play |
| -4 | Unable to decode the APK |
| -5 | Unable to compute the class list |
| -6 | Unable to create the analysis report |
| -7| Unable to get certificates |
| -8 | Unable to compute APK fingerprint |

Errors about apk

[2021-12-04 13:26] Jean-BaptisteC commented on #414
#475

[2021-12-07 22:21] codeurimpulsif commented on #470
I think you were looking for https://github.com/ExodusMovement.

[2021-12-07 22:21] #470 closed, assigned to nobody

[2021-12-07 22:26] codeurimpulsif commented on #473
Hi @ranjithrajv,
it's maybe a good idea for browsers or specific applications but it's out of the Exodus's scope.

[2021-12-07 22:26] #473 closed, assigned to nobody

[2021-12-09 12:42] #414 closed, assigned to nobody

[2021-12-13 17:38] Jean-BaptisteC commented on #449
Same problem on name app
https://reports.exodus-privacy.eu.org/reports/com.umouse.clear/latest
@7F0 (12 reports); @7F1 (6 reports)

[2021-12-13 21:22] Jean-BaptisteC commented on #474
https://play.google.com/store/apps/details?id=com.text.art.addtext.textonphoto
Inside APK, we have 2 files ".dex":
- classes.dex
- classes2.dex
EP can scan dex files from one APK ?

[2021-12-14 07:08] ghost commented on #474
Hello,

That should be the new application format, `AAB` and we don't work on this format yet.

[2021-12-14 10:04] U039b commented on #474
Hi!
Having multiple DEX files inside the APK is not an issue, εxodus knows how to deal with them. There is probably an issue in some εxodus internals, we should investigate.

[2021-12-26 10:59] Jean-BaptisteC commented on #474
With Exodus-standalone, we have 13 permissions, 5 trackers (App version 2.3.0)

[2021-12-29 08:18] Jean-BaptisteC commented on #467
After correction, test EP android (menu share) an app with emojis

[2022-01-08 13:26] #440 closed, assigned to nobody

[2022-01-08 13:49] pnu-s opened #481 "Upgrade to Celery 5"
We need to upgrade to Celery 5 for security purposes.

This is a major upgrade and we need to make changes in a couple of places, basically where we start celery in our local environments and in production.

[2022-01-08 13:53] pnu-s commented on #474
@Jean-BaptisteC Thanks for raising this.

There is indeed an uncaught exception which is raised when executing these lines:
[code]

The exception:
`django.db.utils.DataError: value too long for type character varying(256)`

[2022-01-08 13:54] pnu-s commented on #474
@Jean-BaptisteC If you have the result of exodus-standalone and can paste it, that would help us to see what is causing the issue :pray:

[2022-01-08 13:55] pnu-s commented on #469
Closing this as we did not get any more details.

Feel free to re-open if needed!

[2022-01-08 13:55] #469 closed

[2022-01-08 14:04] Jean-BaptisteC commented on #474
[code]

[2022-01-08 14:08] pnu-s commented on #474
Thanks!

Indeed, both `subject` and `issuer` are 285 characters long, when our database schema only allows 256.

I'm not sure whether this is expected, but if it is we could change our schema to increase this limit.

@U039b Do you have any opinion on this? :pray:

[2022-01-09 12:58] pnu-s commented on #434
Closing this as the application does not exist anymore and it seems that the handle of this app is lower than 200 (148). Will reopen if the issue comes back.

[2022-01-09 12:58] #434 closed, assigned to nobody

[2022-01-09 13:12] pnu-s opened #482 "Tracker categories are not imported on first creation"
On the first creation of a new tracker with the command `import_from_etip`, the categories are not set.

Currently we need to run twice the command so that the categories are set properly.

[2022-01-09 13:27] pnu-s commented on #467
I took a quick look today, I'm afraid the issue is coming from Androguard not handling properly emojis in application name.

We could open an issue in this repo https://github.com/androguard/androguard although it seems it is not really maintained anymore.

[2022-01-10 16:48] Jean-BaptisteC commented on #467
OK, I close the issue, the impact is weak on EP.

[2022-01-10 16:48] #467 closed, assigned to nobody

[2022-01-11 16:14] Jean-BaptisteC opened #484 "Application name is incorrect with API REST"
Issue:

Detect with exodify and EP Preview on Android

How reproduce:

- https://play.google.com/store/apps/details?id=com.netflix.mediaclient
- https://play.google.com/store/apps/details?id=wp.wattpad
- Use exodify to check app name and compare with report on ep
- App name are differents

API REST show app name from the first report

[2022-01-11 16:16] Jean-BaptisteC commented on #467
Regression on Androguard, i have find a report with emojis
https://reports.exodus-privacy.eu.org/fr/reports/90892/

[2022-01-15 12:38] Jean-BaptisteC opened #486 "Extract new list of permissions"
Each year Android API level up, new permissions are added and protection level are changed

Extract new permissions from API 31 with [aosp_permissions_extraction](https://github.com/U039b/aosp_permissions_extraction)
- [x] clone AOSP Mirror
- [x] pip install git+https://github.com/U039b/aosp_permissions_extraction.git
- [x] extract_required_permissions.py ./master EN .
- [x] extract_required_permi

[2022-01-15 12:53] Jean-BaptisteC commented on #486
https://github.com/U039b/aosp_permissions_extraction/issues/4

[2022-01-16 16:11] ghost opened #487 "exodus cannot scan F-Droid apps without icon"
Hello,

I have a problem with some apps on F-Droid when I want to analyze them with Exodus Privacy.
I have the error message "Unable to compute fingerprint APK".

It's only with apps on F-Droid.
It's ok with apps on the Playstore.

For example, I can't analyze these apps :

- https://f-droid.org/packages/fr.gouv.android.stopcovid
- https://f-droid.org/packages/org.mozilla.fennec_fdroid
- https://f

[2022-01-16 18:04] pnu-s commented on #487
Thanks @GerardDeColmar for the issue.

The similarity between these apps is that they do not have any icon, and currently exodus is not able to scan an app which does not have an icon.

I'll rename the issue to make that more clear.

[2022-01-16 18:10] ghost commented on #487
Ok, thanks you !
I hope you can fix it quickly :)

[2022-01-16 18:12] pnu-s commented on #487
In the meantime, you can take a look at https://github.com/Exodus-Privacy/exodus-standalone to scan these apps, after downloading the apk locally on your workstation.

[2022-01-20 13:04] #482 closed, assigned to pnu-s

[2022-01-24 12:53] pnu-s opened #492 "Switch to pipenv as a package manager"
The use of `pip` to manage our packages in this repository with our `requirements.txt` file starts to become a nightmare.

We should take a look at `pipenv` to manage them.

See:
* The official documentation from python: https://packaging.python.org/en/latest/tutorials/managing-dependencies/#managing-dependencies
* All the reasons why we want to make the switch: https://realpython.com/pipenv-guide

[2022-01-24 12:54] pnu-s opened #493 "Migrate to Django 3.2"
Django 2 end of support date is April 2022

We should migrate to Django 3.2 (which is the latest LTS and is supported until April 2024).
See: https://www.djangoproject.com/download/

Probably worth waiting until we migrate our package management to pipenv first (see #492).

[2022-01-26 16:35] jawz101 opened #494 "697 trackers in ETIP, 407 trackers in actual checks on Exodus Privacy"
There are many many sdk libraries that've been contributed in the past couple of years.  Any consideration to add them to the project?

[2022-01-26 17:12] pnu-s commented on #494
Hello @jawz101

You're right to raise this issue, we are **a bit** behind in this integration.

We planned to take some time within the organization to discuss about this whole process, put more people into it so that we can integrate more trackers.
We still did not find the time to do this, but it will be done in the next weeks for sure.

[2022-01-31 06:42] pnu-s commented on #481
Fixed by https://github.com/Exodus-Privacy/exodus/pull/480

[2022-01-31 06:42] #481 closed, assigned to nobody

[2022-02-03 17:30] jawz101 opened #497 "apktool.jar version outdated"
Looks like the version in the Exodus project is at version 2.2.4 (released July 2017) with the latest stable at version 2.6.0  and version 3.0 could be released within the next few months according to their blog.  And reading their blog it looks like every newer release addresses serious bugs in pulling apart apks while keeping up with newer Android versions.

https://github.com/Exodus-Privacy/exo

[2022-02-03 20:31] pnu-s commented on #497
I'm not sure why we have this file in Exodus, as it does not seem to be used.

We probably can remove it.

[2022-02-03 22:38] jawz101 commented on #497
ah.  How are the apk's decompiled?.. nevermind.  I guess it Exodus uses the dexdump command.  I guess I never really understood all of that stuff.

[2022-02-04 12:04] pnu-s commented on #497
Indeed, we do not decompile apks, we are simply using dexdump.

https://exodus-privacy.eu.org/en/post/exodus_static_analysis/

[2022-02-04 12:30] #497 closed, assigned to nobody

[2022-02-10 17:24] Jean-BaptisteC opened #499 "API Rest don't return last report"
API Rest don't return the last report for tv.twitch.android.app
The last report is [Twitch 12.2.0](https://reports.exodus-privacy.eu.org/fr/reports/235236/) and API return [Twitch 8.0.1](https://reports.exodus-privacy.eu.org/fr/reports/176566/) on exodify and share function on exodus app

- On reports list number version don't follow.
- On [first page reports](https://reports.exodus-privacy.eu.org

[2022-02-16 19:29] Jean-BaptisteC opened #500 "Update download function to download from the right source"
Issue detected on submit function on Exodus app (2.2.0)
- Get app links from Fdroid (app never analysed and only available on Fdroid) and use submit function
- Exodus app open link with browser (https://reports.exodus-privacy.eu.org/analysis/submit/# + app id)
- On website =>source = Google Play
- Exodus check if app id exists [models.py](https://github.com/Exodus-Privacy/exodus/blob/e7590d0ae703e

[2022-02-16 19:47] Jean-BaptisteC commented on #500
If source = Google Play
&nbsp;&nbsp;If app id match on Google Play
&nbsp;&nbsp;&nbsp;&nbsp;Then download from Google Play
&nbsp;&nbsp;If app id match on Fdroid
&nbsp;&nbsp;&nbsp;&nbsp;Then download from Fdroid
&nbsp;&nbsp;Else (no match app id)
&nbsp;&nbsp;&nbsp;&nbsp;Then return The application cannot be found
Else (source = Fdroid)
&nbsp;&nbsp;If app id match on Fdroid
&nbsp;&nbsp;&nbsp;&nbsp;Th

[2022-02-17 07:47] pnu-s commented on #500
I'm not sure we want to do that, I think we need to respect the user's choice of source.

If the user says they want to check an app from Google Play, I'm not sure we want to try downloading this app from F-Droid (that would imply a lot of unnecessary downloads). Beside, which report do we send back if we start 2 analysis in the same time.

I think what we need to do is that the android app should

[2022-02-17 11:11] Jean-BaptisteC commented on #500
Ok you can change for solution more easy
If source = Google Play
  If app id match on Google Play
    Then download from Google Play
 Else (no match app id)
    Then return The application cannot be found on GP
Else (source = Fdroid)
  If app id match on Fdroid
    Then download from Fdroid
Else (no match app id)
    Then return The application cannot be found on fdroid

[2022-02-17 11:33] pnu-s commented on #500
To make sure I understand your proposal, what you mean is that we could check that an app exists in the desired store (F-Droid or Google Play) before trying to download it?

[2022-02-18 17:17] theimpulson opened #501 "[REQUEST] Add new API endpoint to send applications details based on List"
Not sure how hard it is to implement, but would be great if we can have a new API endpoint in which the client could `POST` a `List<String>` containing package names of applications. The server then in response would then process the list and create a new JSON for packages that contains tracker details then return either that JSON data or a new temp endpoint which will host that JSON data.

This w

[2022-02-20 19:29] pnu-s opened #502 "Bug in /trackers/api_key page"
The page `/trackers/api_key` does not work anymore, see error message:

[code]

[2022-02-22 07:29] pnu-s commented on #501
The main issue I see with this is that with the current solution (one call per application) we can easily cache our response to prevent hitting too much on our server.

If we start to make more specific calls (with a list of applications), our caching strategy won't work anymore.

[2022-02-24 13:26] theimpulson commented on #501
I agree that the list will not work with caching. How about if the server extracts package names and then processes them in a loop? That should be feasible I think. Once done, simply add it to a new list and send the data back.

[2022-02-24 20:53] Jean-BaptisteC commented on #300
Since june 2021, i have analyse more 10 000 apps and the number of apps with versionName have more 50 characters is weak.
https://play.google.com/store/apps/details?id=com.google.android.tts

[2022-03-15 20:35] codeurimpulsif opened #505 "Revoir le modèle relationnel de la base de données afin de ne plus dupliquer les permissions"

[2022-03-17 06:34] Niveshkrishna commented on #487
@pnu-s Any idea when this is expected to be fixed?

[2022-03-17 09:48] arnauvp commented on #487
@pnu-s would it be OK if we provide a patch to scan also those apps, and show a generic icon in the website instead? or is the icon really needed for the scan?

[2022-03-18 17:06] pnu-s commented on #487
Not really no, I have not found the time to take a look at it yet.

Sure, if you want to take a look, that would be great, go for it :smile:
We already have a generic icon in εxodus, the main thing to change is that there is a `icon_hash` which is calculated from the icon. It needs to be removed for these F-droid apps.

[2022-03-19 16:06] Jean-BaptisteC commented on #505
- Je propose dans la table Permission de garder seulement une version pour chaque permission en se basant sur le nom de la permission (Exemple : android.permission.MANAGE_USER_OEM_UNLOCK_STATE).
- De créer une nouvelle table qui permettra de faire le lien entre l'id de chaque application et l'id de chaque permissions.

Exemple:
- Si je génère un nouveau rapport:
  - Ca crée une nouvelle ligne dans

[2022-03-20 09:29] pnu-s commented on #505
C'est concrètement ce que Django fait pour nous quand on utilise un lien de type `models.ManyToManyField` (comme on fait entre les pisteurs et les catégories de pisteurs), donc je pense que c'est la bonne approche.

Par contre,  il faut que la permission soit créée si elle n'existe pas déjà (car on ne peut pas se baser sur le fait que notre liste de permissions est exhaustive, et toute nouvelle in

[2022-03-25 07:10] #487 closed, assigned to nobody

[2022-03-28 20:18] Jean-BaptisteC commented on #447
https://github.com/Exodus-Privacy/exodus-standalone/issues/26

[2022-04-11 14:32] jvoisin opened #514 "Send apk to virustotal"
It would be nice if exodus could automatically send analysed apk to virustotal.

[2022-04-11 14:33] jvoisin opened #515 "Pivot to pithus"
It would be great to be able in one click to pivot from exodus to pithus.

[2022-04-14 17:23] ghost opened #516 "Unable to download the APK"
Hello,

Since few hours, I'm unable to scan apps from the google play store with Exodus.
Each time, I have the error message : "Unable to download APK".

For example, I can't scan these apps :

- Brave (com.brave.browser)
- Sauv Life (com.sauvlife.app)
- Staying Alive (com.mobilehealth.cardiac)

Everything is fine with apps from F-Droid.

Why ? Please, can you fix it ?

Regards,

[2022-04-14 20:43] pnu-s commented on #516
Hello @BeatriceDeNice

Thanks for reporting this issue to us!
We indeed had a problem with our connection with Google Play, it should be fixed now!

[2022-04-14 20:43] #516 closed, assigned to nobody

[2022-04-15 14:42] Jean-BaptisteC opened #517 "Search on Exodus, return wrong report"
## Issue / Enhancement:

How reproduce:
* Search on Exodus `Retro music`
* The first and second result is the same app `code.name.monkey.retromusic`  just his name has changed
* If I click on the second result, exodus return bad report, i want report with version `R - 1.7.10_20180730` and exodus return latest report.

Solution:
* On search maybe add filter with name package, for show only one time

[2022-04-17 06:02] KevinDeNime commented on #516
Hello @pnu-s

I have the same problem since yersterday evening.
Can you fix it please ?

Thanks :)

PS : I hope that my comment will reopen this issue.

[2022-04-17 06:06] ghost opened #518 "Unable to download the APK"
Hello @pnu-s

I have the same problem I reported 2 days ago with my "Unable to download the APK" issue, since yersterday evening.

I can't scan the google play store apps.

Everything is fine with the f-droid apps.

Can you fix and follow this issue please ?

Thanks :)

[2022-04-17 12:58] Jean-BaptisteC commented on #518
Yes, we know.
We have disable apps analysis because Google block our requests to download apk.

[2022-04-18 13:56] Jean-BaptisteC commented on #484
API return app name from first report
Wattpad  📖  Free Books for wattpad
com.netflix.mediaclient for Netflix because in first report we have not name app

### Solution:

Return latest app name

[2022-04-18 14:05] Jean-BaptisteC commented on #499
API return bad reports because twitch developpers has changed version code size

[code]

[2022-04-18 15:22] Jean-BaptisteC commented on #501
To reduce size download of reports maybe add parameters on api source = fdroid or google

* Example:
https://reports.exodus-privacy.eu.org/api/search/org.eu.exodus_privacy.exodusprivacy?source=fdroid

[2022-04-18 18:27] Jean-BaptisteC opened #519 "Remove useless space"
* Remove useless space on app versions list
<img src="https://user-images.githubusercontent.com/87148630/163855665-7e91ea93-276a-4b89-917a-0bc10ac1b79e.png" width="548" height="123">

[2022-04-24 12:52] #518 closed, assigned to nobody

[2022-04-24 12:58] pnu-s commented on #515
Sure, if we find a way to add a simple link to the same report in Pithus, I think that could make sense.

@U039b any help on this? :)

[2022-04-24 19:22] Jean-BaptisteC opened #523 "Report with icon too big"
## Enhancement :

This [report](https://reports.exodus-privacy.eu.org/fr/reports/fr.medecinae.id3i/latest/) show icon too big

- Solution:

If icon exceed some size maybe reduce size of icon (add this control during analysis)

[2022-05-06 12:14] HomemadeAdvanced opened #524 "Is there an updated tracker list for pi-hole?"

[2022-05-06 16:36] Jean-BaptisteC commented on #524
Can you give more details ?
You can export list of trackers from [ETIP](https://etip.exodus-privacy.eu.org/).

[2022-05-06 17:52] HomemadeAdvanced commented on #524
Yes of course, thanks for replying. I would like to add the Exodus list in pi-hole as a txt blacklist. I can only find a json file.

[2022-05-07 09:15] pnu-s commented on #524
Hello @HomemadeAdvanced

We do not maintain such a list for 2 reasons:
* all the trackers present in exodus dabase do not have network signatures
* exodus itself is not exercising these network signatures, so we cannot guarantee their efficiency

This being said, a blacklist has been created using our data by the team in charge of Blokada (https://blokada.org/). You can find it here: https://bloka

[2022-05-07 09:15] #524 closed, assigned to nobody

[2022-05-07 19:55] HomemadeAdvanced commented on #524
Thanks

[2022-05-08 16:53] Jean-BaptisteC commented on #514
@jvoisin I think send apk to virustotal has not real interest on Exodus platform.
Exodus doesn't search malware on android app.
You can get apk with [apkeep](https://github.com/EFForg/apkeep) and upload apk on virustotal.

[2022-05-08 16:56] Jean-BaptisteC commented on #514
Duplicate of #166

[2022-05-09 08:27] #514 closed, assigned to nobody

[2022-05-13 00:08] itsnotsaved opened #525 "Display details for tracker maintain company apps"
E.g. Google apps (chrome, gmail, google fit, google assistant etc), Meta apps (facebook, study from facebook etc) simply you see **0 trackers**.

I think you must display some short detail e.g. **0 trackers but maintain (a), (b) trackers** in the **trackers** field. otherwise i would say that's not fair. ;)

Note: that useful to exodus integrated apps users. e.g. aurora store
(currently it shows *

[2022-05-13 00:26] itsnotsaved commented on #525
Basically i think it gives a hint for users about those trackers maintain companies apps also not privacy friendly. that's my idea.

[2022-05-14 15:55] yoshimo commented on #378
Another component that would be nice to integrate is
https://github.com/rednaga/APKiD
Not only but also because of the root-check detection, which is kind of annoying these days and scare people without reason.
Would be nice to know if an app does this kind of checks when choosing which application to take.

[2022-05-15 17:53] yoshimo opened #526 "Allow user created tags and collections (of collections)"
It would be nice if we could group applications into lists and tag them for the website.
When people are looking for an e-mail app, they could start with the application with the least amount of trackers.
We could also compare lets say public radio stations , who is the worst privacy offender
We could check out how let's say italian isps look compared to the applications that indian isps produce a

[2022-05-15 18:46] Jean-BaptisteC commented on #526
Please check this issues:

- #400
- #436

[2022-05-15 19:10] yoshimo commented on #526
Not exactly.
Grouping similar apps is not limited to suggesting alternatives

[2022-05-16 19:35] U039b commented on #515
Since Pithus had a REST API (in beta), it would be possible to add a button on a EP report (for which we still have the APK) to upload the APK to Pithus and redirect to the Pithus report page.

[2022-05-16 19:41] U039b commented on #474
We could increase the limite, yes.

[2022-05-16 19:58] #166 closed, assigned to nobody

[2022-05-16 19:58] #58 closed, assigned to nobody

[2022-05-16 19:59] codeurimpulsif commented on #2
Close because some are implemented, feel free to reopen if needed.

[2022-05-16 19:59] #2 closed, assigned to nobody

[2022-05-16 20:00] #303 closed, assigned to nobody

[2022-05-16 20:00] #193 closed, assigned to nobody

[2022-05-16 20:01] #157 closed, assigned to nobody

[2022-05-16 20:07] #499 closed, assigned to nobody

[2022-05-16 20:14] #344 closed, assigned to nobody

[2022-05-16 20:16] #526 closed, assigned to nobody

[2022-05-16 20:18] #46 closed, assigned to nobody

[2022-05-16 20:18] #47 closed, assigned to nobody

[2022-05-16 20:19] #62 closed, assigned to nobody

[2022-05-16 20:20] U039b commented on #379
Not the purpose of εxodus.

[2022-05-16 20:20] #379 closed, assigned to nobody

[2022-05-16 20:21] U039b commented on #378
Not the purpose of εxodus.

[2022-05-16 20:21] #378 closed, assigned to nobody

[2022-05-16 20:21] U039b commented on #300
We could increase the limit.

[2022-05-16 20:23] #445 closed

[2022-05-16 20:23] #461 closed, assigned to nobody

[2022-05-17 17:36] pnu-s commented on #502
Bug still present (the buggy code lines were just removed temporarily), reopening

[2022-05-19 19:45] Jean-BaptisteC opened #527 "Implement data safety Google on reports"
Add link on Google reports to get more informations about data collected

https://play.google.com/store/apps/datasafety?id= + packagename

[2022-05-22 08:37] yoshimo opened #529 "ETA and details when analysis submission is disabled"
https://reports.exodus-privacy.eu.org/en/analysis/submit/
says
` It is currently impossible to submit new analysis. Sorry for the inconvenience! `
This is a bit vague and it would be good to get additional details about the reason and the timeframe for that outage.
There have been quite a few updates for some applications that we own and getting fresh reports would be needed.

[2022-05-23 01:00] ghost commented on #494
progress: 428/705.

+18
![Снимок экрана от 2022-05-23 03-58-29](https://user-images.githubusercontent.com/105162317/169724796-6d751fd2-551c-4b8e-bf3c-bf444c00eee8.png)

[2022-05-23 06:07] Jean-BaptisteC commented on #529
We have disabled submissions because download apk from Google Play is broken (bug caused by captcha).
We work actually to fix problem and re-open submissions.

[2022-05-23 06:37] pnu-s commented on #529
Thanks for your concern @yoshimo, we would also love to re-open submissions but we never have an ETA when this happens.

Closing this issue because this is actually not feasible.

[2022-05-23 06:37] #529 closed, assigned to nobody

[2022-06-05 16:02] #448 closed, assigned to nobody

[2022-06-05 16:08] Jean-BaptisteC commented on #447
Closed because push image on Docker Hub is useless

[2022-06-05 16:08] #447 closed, assigned to nobody

[2022-06-06 14:08] pnu-s commented on #525
The issue you raised is interesting, and I mainly agree with you.

This being said, I think that's one of the limits of such a tool, and it shows where ends the usage of a tool and where starts the needed education of users.

In my opinion, we cannot **easily**, **while staying factual and neutral**, add enough information into our reports to make that clear. A check would be needed on basically e

[2022-06-06 14:08] #525 closed, assigned to nobody

[2022-06-06 14:21] #486 closed, assigned to nobody

[2022-06-06 14:22] Jean-BaptisteC commented on #486
Done with https://github.com/Exodus-Privacy/exodus/commit/6fdf5f30d93d715443ebf0b56c2e6e72bc709cf5

[2022-06-19 08:54] Altonss opened #535 "UI of loading screen when generating new report is not optimal"
![image](https://user-images.githubusercontent.com/66519591/174473290-7803a8ac-85cc-430b-9dfe-6d29f3fe1d17.png)

The "loading" page with the waves meaning that the analysis is in progress is no longer displayed immediately in a new window but below the search bar
It still works, it's just that the interface is a bit confusing :)

[2022-06-21 18:01] pnu-s commented on #517
I agree that the user experience (to click on a specific version name and get another one) is kinda strange, but imho it is the right way. When someone accesses our main page and looks for a report, they want the latest report for that app.

[2022-06-21 18:12] Jean-BaptisteC commented on #517
Yes, i agree but we can add a controls to show just one time same app with filter on package name. And show latest name app

[2022-07-02 12:47] #502 closed, assigned to nobody

[2022-07-02 12:52] #493 closed, assigned to nobody

[2022-08-04 17:06] maiwann opened #546 "Intégrer les players vidéos pour l'article sur les pisteurs"
Les vidéos explicatives d'Exodus sont super !
Mais elles ne sont accessibles que via un petit lien sur l'article `https://reports.exodus-privacy.eu.org/fr/info/trackers/` et ne sont donc pas mises particulièrement en avant.
Serait-il possible d'intégrer le player vidéo dans la page ? Cela permettrait de mettre en avant les vidéos, qui prendraient plus de place et seront plus facilement découvertes

[2022-08-09 11:22] Altonss opened #540 "False positive Google Firebase Analytics detection: dummy class in Sky Map (F-Droid)"
A false positive Google Firebase Analytics is detected, because a dummy class is integrated in the F-Droid release of Sky-Map to make it build. You can have a look a this thread for more info: https://forum.f-droid.org/t/sky-map-integrating-google-firebase-analytics/19259

What do you think could be done for these cases? Just keep it as it is or would there be a way to detect inoffensive dummy cla

[2022-08-25 19:57] pnu-s commented on #540
Hello there!

Be design, we cannot do anything here I'm afraid, as said in the discussion on F-Droid forum.

If the class name is the same, we cannot see any difference. In this case, it belongs to the application developer(s) to explain why such a class is embedded in the app!

[2022-08-25 19:57] #540 closed, assigned to nobody

[2022-08-25 20:12] Altonss commented on #540
All right, thanks for the answer ;)

[2022-08-25 20:13] Altonss opened #541 "Impossible to scan latest Fdroid version of Silence"
It is not possible to scan the latest F-Droid release of Silence https://f-droid.org/fr/packages/org.smssecure.smssecure

[2022-08-25 20:16] pnu-s commented on #541
Could you please elaborate and tell us which version you are referring to?

It seems to me that the latest version available on F-Droid is already scanned.

[2022-08-25 20:20] Altonss commented on #541
The latest stable release is 0.15.16 but this version hasn't been scanned by Exodus. But when I want to scan it, the message is displayed that this version has already been scanned.

[2022-08-26 15:55] Jean-BaptisteC commented on #541
Exodus download latest beta and stable release in Fdroid.
Actually is not possible to scan 0.15.16 because 0.16.11-unstable and 0.16.12-unstable are upper versions.
If you want analyse this version you can use [exodus-standalone](https://github.com/Exodus-Privacy/exodus-standalone).

[2022-08-26 15:58] Altonss commented on #541
Yes but 0.16.11-unstable and 0.16.12-unstable are ***unstable*** upper versions. So it does seem that the scanning logic on the Exodus side has a bug :thinking:

[2022-08-27 09:45] pnu-s opened #542 "Remove first and last name from API key users"
Currently exodus requires a first name and a last name for all API key users.

We should:
* make these fields not mandatory anymore (or better, remove them)
* delete the existing data (with a migration)
* update the `username` field to have a multi-line `description` field instead

[2022-08-27 15:45] Jean-BaptisteC commented on #541
I'm not sure, if is it possible to filter on release or beta when you send requests to Fdroid mirror.
In our code he has no filter on type of version function to download apk from Fdroid.
Why do you want analyze this specific version ?

Between 0.15.13 and 0.16.12-unstable we have just new permission RECEIVE_BOOT_COMPLETED.

[2022-09-09 18:09] julianfairfax opened #543 "Detect Google Play Services requirement"
It would be nice if Exodus could detect if an app requires Google Play Services or not, for privacy reasons

[2022-09-09 18:42] Jean-BaptisteC commented on #543
Some links:
https://gitlab.com/AuroraOSS/gplayapi
https://gitlab.com/AuroraOSS/AuroraStore/-/blob/master/app/src/main/java/com/aurora/store/view/epoxy/views/details/AppDependentView.kt

On Android, we can check this requirements in AndroidManifest.xml.
Some examples:
- [StreetComplete](https://github.com/streetcomplete/StreetComplete/blob/4948768e25d982f30c546f803d1be58af757f71f/app/src/main/Andro

[2022-09-09 18:44] julianfairfax commented on #543
If you get it from AndroidManifest.xml, be careful with how you're attributing this dependency to what apps. For your Organic Maps example, that dependency is only for the gms-enabled flavour. So it would be false to say that the F-Droid version depends on Google Play Services for example

[2022-09-24 11:46] pnu-s commented on #464
The situation seems to be complicated, I'm unsure what do to here: https://www.privacytools.io/guides/jonah-aragon-privacyguides-failed-attempt-to-takeover

[2022-09-28 19:02] Jean-BaptisteC commented on #500
Yes, actually you check with function validate_handle if app matched on Google Play and Fdroid. But like explain in past. If handle doesn't match, on Fdroid, exodus doesn't check if handle match on Google Play.

[2022-09-28 19:16] Jean-BaptisteC commented on #527
@pnu-s Is it complicate to add translation on Exodus ?
Because if i want add new links on reports details page, i need to add new translations ?
I can create PR to add new link but i don't have enough knowledge on CSS/UI to set link in the right place.

[2022-09-28 19:49] yoshimo commented on #500
Don't forget that some applications are on more than one store and maybe slightly different so whenever you submit an app it has to be downloaded and scanned for all stores.

[2022-09-28 19:52] yoshimo commented on #246
I think for vendor/system apps the Xiamoi MI Store and the Samsung Galaxy Store would be worth adding.
So we can scan more of the default apps on devices.

I am not sure how alternative frontends for existing stores are handled.
If i use Aurora Store instead of GooglePlay or Droidify for F-Droid, does Exodus still detect this properly on the device for scanning?

[2022-10-02 08:36] #523 closed, assigned to pnu-s

[2022-10-02 13:04] Jean-BaptisteC commented on #546
Replace this:
https://github.com/Exodus-Privacy/exodus/blob/9ad7525678d48ee3f067358fc673cfafa5799418/exodus/web/templates/base/trackers.html#L22
by: `<iframe width="632" height="355" src="https://www.youtube.com/embed/sv_xF2KIJZE" title="Les pisteurs en 2 minutes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></ifra

[2022-10-03 06:49] pnu-s commented on #492
Done in 2407986f5ddafead20446020ecc11a77d3de48ef

[2022-10-03 06:49] #492 closed, assigned to pnu-s

[2022-10-03 10:12] ElsAr4e opened #547 "Impossible to analyze some apps"
In the past I had no issues but now I can't analyze the same apps:

Examples:

- https://play.google.com/store/apps/details?id=com.gopro.smarty
- https://play.google.com/store/apps/details?id=com.adobe.premiererush.videoeditor

[2022-10-03 15:37] Jean-BaptisteC commented on #547
Actually, we use [apkeep](https://github.com/EFForg/apkeep) to download apk and when we send requests to Google Play, we tell us we use Google Pixel 2, maybe we can't download this apps on this smartphone.

I have try with others apps and i don't have problems.

[2022-10-03 16:07] yoshimo commented on #547
I think we should make it possible to change the simulated device so that the correct apk is downloaded.

[2022-10-04 19:06] pnu-s commented on #484
To clarify, which API endpoint are we talking about here?

[2022-10-04 19:13] pnu-s commented on #547
Before switching to `apkeep`, we used to test with several simulated devices.

We stopped it following issues with Google Play and it seems that it works for most of the apps we are trying to download. We'll need to check if it makes sense to add this again (and if we can without being blocked by Google).

[2022-10-04 19:33] Jean-BaptisteC commented on #484
`GET /api/search/com.app.handle`

[2022-10-04 20:05] pnu-s opened #550 "Add a source filter on main page"
Request received by email with the following screenshot:

![image](https://user-images.githubusercontent.com/6069449/193915378-54d54ef8-aa9d-424a-beea-e27157a78a8e.png)

[2022-10-07 19:37] freddy-m commented on #464
See Privacy Guides' official FAQ regarding the situation here: https://www.privacyguides.org/about/privacytools/

Full disclosure: I am founding member of Privacy Guides

[2022-10-08 09:37] pnu-s commented on #541
Closing as it duplicates https://github.com/Exodus-Privacy/exodus/issues/393

[2022-10-08 09:37] #541 closed, assigned to nobody

[2022-10-17 23:17] codeurimpulsif commented on #464
Closed according to #465

[2022-10-17 23:17] #464 closed, assigned to nobody

[2022-10-18 20:08] #474 closed, assigned to nobody

[2022-10-19 18:54] #517 closed, assigned to nobody

[2022-10-19 20:17] #484 closed, assigned to pnu-s

[2022-10-19 20:23] pnu-s opened #557 "Force django to serve this icon without language redirection"
See #554

[2022-10-20 06:28] yoshimo opened #558 "Use apkid to display anti features"
https://github.com/rednaga/APKiD/  should help  to show elements that would make me think twice if I want to run an application.
Heavily obfuscated and protected  applications are suspicious. Especially  if they don't like rooted and user customised applications.

[2022-10-25 19:45] k-jm commented on #547
Problème similaire avec l'application com.rte.ecowatt

[2022-11-11 15:11] GlitchCat opened #560 "List all application that contain (or have contained) a tracker"
It would be nice to be able to see a list of applications that contain or have contained a certain tracker, for when a user might want to know if they have used an app in the past that contained a certain tracker which was selling their data.

This feature could be added to the website, on the page of the tracker itself or possibly as a filter on the reports page. It could also be added to the API

[2022-11-15 20:21] pnu-s opened #561 "Add ODbL for data licensing"
The license Open Database License or [ODbL](https://en.wikipedia.org/wiki/Open_Database_License) needs to be added for our database in:

* API documentation
* εxodus website and/or documentation

Related to https://github.com/Exodus-Privacy/etip/issues/159 for ETIP

[2022-11-27 06:14] yoshimo commented on #412
Neo Store offers some of these by default so it would be great.